<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>
</block>

<block name="area_body">
	<include file='partials/header' />
		
		<div id="div_main" style="border-top: 1px solid #ccc;">
			<div class="div_info">
				<div class="div_condition">
					
					<ul class="ul_condition1">  
						<li><a href="#">全部</a></li>
						<li><a href="#">日用百货</a> </li>
						<li><a href="#">鞋子</a></li>
						<li><a href="#">箱包</a></li>
						<li><a href="#">母婴用品</a> </li>
						<li><a href="#">数码家电</a> </li>
						<li><a href="#">办公文体</a></li>
					</ul>
					
					<br />
				<br />
					<span>排序:</span>
					
					<div class="am-btn-group">
						  <button type="button" class="am-btn am-btn-xs am-btn-default">全部</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">最新</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">最热</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">推荐</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">预告</button>
					</div>
					<input  style="width: 50px;"/>-
					<input  style="width: 50px;"/>
					<button type="button" class="am-btn am-btn-xs am-btn-default" style="">确定</button>
				</div>
				<div class="div_minInfo">
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style="border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

				</div>

				<div class="div_minInfo">
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

				</div>
				<div class="div_page">
						<!--
                        	作者：791677927@qq.com
                        	时间：2015-07-01
                        	描述：
                       <a href="" style="width: 100px;height: 50px; border: 1px solid #ccc;">ccccccccc</a> -->
						<a class="am-btn am-btn-danger am-btn-xs" href="#" target="_blank" style="padding: 5px;"><上一页</a>
						<a class="am-btn am-btn-danger am-btn-xs pagechecked" href="#" target="_blank" style="padding: 5px;">1</a>
						<a class="am-btn am-btn-danger am-btn-xs" href="#" target="_blank" style="padding: 5px;">2</a>
						<a class="am-btn am-btn-danger am-btn-xs" href="#" target="_blank" style="padding: 5px;">3</a>
						<a class="am-btn am-btn-danger am-btn-xs" href="#" target="_blank" style="padding: 5px;">4</a>
						<a class="am-btn am-btn-danger am-btn-xs" href="#" target="_blank" style="padding: 5px;">下一页></a>
					
				</div>
			</div>
		</div>
		<include file="partials/footer" />
</block>

<block name="area_footer">
	
</block>