<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Shop/js/index.js"></script>
	<link type="text/css" rel="stylesheet" href="__CDN__/theme/{$cfg.theme|default="simplex"}.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />

	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
		
		.li_active{
			background: red;
			border-radius:5px;
			
		}
	</style>
</block>

<block name="area_body">
	<include file='partials/header' />
		
		<div id="div_main" style="border-top: 1px solid #ccc;">
			<div class="div_info">
				<div class="div_condition">
					
					<ul class="ul_condition1">  
						<li><a href="{:U('Shop/Index/flzc')}">全部</a></li>
						<volist name="categoryParent" id="cp">
							<li
							<if condition="$cpid eq $cp['id']">
								 class="li_active" 
								 </if>
							><a 
							<if condition="$cpid eq $cp['id']">
								 style="color:white"
							</if>
							 href="{:U('Shop/Index/flzc',array('id'=>$cp['id']))}">{$cp.name}</a> </li>
							
						</volist>
					</ul>
					
					<br />
				<br /><br />
				<form action="{:U('Shop/Index/flzc')}">
					<span>排序:</span>
					
					<div class="am-btn-group">
						  <button type="button" class="am-btn am-btn-xs am-btn-default">全部</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">最新</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">最热</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">推荐</button>
						  <button type="button" class="am-btn am-btn-xs am-btn-default">预告</button>
					</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
						F<input name="minPrice"  style="width: 50px;"/>-
						F<input name="maxPrice" style="width: 50px;"/>
						<button type="submit" class="" style="background: white; border-radius: 5px; border: 1px solid #ccc;">确定</button>
					</form>
				</div>
				<div class="div_minInfo">
					<empty name="productList">
							
								<center style="padding: 50px;"><h1 style="color: #CCC;">没有搜索到相关的商品</h1></center>
							
					<else/>
					<volist name="productList" id="pl">
						<dl class="dl_info" onclick="toUrl('{:U('Shop/Index/spxq',array('id'=>$pl['id']))}')">
							<dt>
	
			                <img src="{$pl.main_img}" width="216" height="266" />
	
			                </dt>
							<dd style="border-bottom:1px dotted #666">{$pl.name}</dd>
							<dd><span style="background: url(__PUBLIC__/Shop/img/fubi.png) no-repeat 0 1px; padding-left:17px;" >{:number_format($pl['price']/100,0)}</span> </dd>
						</dl>
					</volist>
				</empty>
				
						
				</div>
				<div class="div_page" style="margin-top: 10px;">
							{$page}
						</div>
					
			</div>
		</div>
	
		<include file="partials/footer" />
</block>

<block name="area_footer">
	
</block>