
<extend name="template/base_index" />
<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Shop/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>		
		
</block>

<block name="area_body">
    <div id="div_all">
	{:W('Page/head')}

		<div id="div_lunbo">
			<div class="div_info">
				<div class="div_info1 p_cate_nav">
                    <div class="cate_title">
                        <i class="am-icon-list"></i>全部商品分类</div>
					<ul>
						<volist name="categoryParent" id="vo">
							<li>
								<h3><a href="{:U('Shop/Index/flzc',array('id'=>$vo['id']))}">{$vo.name}</a></h3>
								<div>
									<volist name="categoryChildrens" id="v">
										<if condition="$vo['id'] eq $v['parent']">
											<a href="{:U('Shop/Index/flzc',array('id'=>$v['id']))}">
												{$v.name}
											</a>&nbsp;&nbsp;&nbsp;
										</if>
									</volist>
								</div>
							</li>
						</volist>
						
					</ul>

				</div>

				<div class="div_image">
					<volist name="lunboList" id="l" key="k">
			
						<div class="div_minlunbo" 
                            <if condition="$k gt 1">
                                style="display:none;"
                            </if>
						>
						
						<img src="{$l.img}" />
						</div>
						<!--<input type="hidden" name="bgcolor" value="{$l.bgcolor}" />-->
					</volist>
					

				</div>
				<ul class="ul_lunbo">
					<li class="lunboli current"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
				</ul>
				<div class="div_info2">
					<ul class="ul_image">
						<volist name="hotTypeList" id="htl">
							<li>
								<a href="javascript:toUrl('{$htl.url}')">
									<img src="{$htl.img}" height="140" />
								</a>
							</li>
						</volist>
					</ul>

				</div>
			</div>
		</div>


		<div id="div_main">
			<div class="div_info">
				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>上新预告</h3>
						<a href="{:U('Shop/Index/flzc')}">&nbsp;</a>
					</div>
					<volist name="newProductList" id="rpl">
						<dl class="dl_info" onclick="toUrl('{:U('Shop/Index/spxq',array('id'=>$rpl['id']))}')">
							<dt>
			                	<img src="{$rpl.main_img}" width="216" height="245"/>
			                </dt>
							<dd class="am-text-center">{$rpl.name}</dd>
							<dd class="am-text-center" style="color:#FF5899;"><span >{:number_format($rpl['price']/100,0)} {$currency}</span> </dd>

                        </dl>
						
						
					</volist>

				</div>

				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>推荐福品</h3>
						<a href="{:U('Shop/Index/flzc')}">&nbsp;</a>
					</div>

					<volist name="recommendProductList" id="npl">
					<dl class="dl_info" onclick="toUrl('{:U('Shop/Index/spxq',array('id'=>$npl['id']))}')" >
						<dt>

		                <img src="{$npl.main_img}" width="216" height="245"/>

		                </dt>

                        <dd class="am-text-center">{$rpl.name}</dd>
                        <dd class="am-text-center" style="color:#FF5899;"><span >{:number_format($rpl['price']/100,0)} {$currency}</span> </dd>
                    </dl>
						

                    </volist>
				
				</div>

			</div>
		</div>
	<include file="partials/footer" />
    </div>

</block>

<block name="area_footer">

</block>