
<extend name="template/base_index" />
<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Shop/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>		
		
</block>

<block name="area_body">
	{:W('Page/head')}
		<div id="div_lunbo">
			<div class="div_info">
				<div class="div_info1">
					<ul>
						<volist name="categoryParent" id="vo">
							<li>
								<h3><a href="{:U('Shop/Index/flzc',array('id'=>$vo['id']))}">{$vo.name}</a></h3>
								<div>
									<volist name="categoryChildrens" id="v">
										<if condition="$vo['id'] eq $v['parent']">
											<a href="{:U('Shop/Index/flzc',array('id'=>$v['id']))}">
												{$v.name}
											</a>&nbsp;&nbsp;&nbsp;
										</if>
									</volist>
								</div>
							</li>
						</volist>
						
					</ul>

				</div>
				<div class="div_image">
					<volist name="lunboList" id="l" key="k">
			
						<div class="div_minlunbo" 
						<if condition="$k neq 1">
							style="display:none"
						</if>
						>
						
						<img src="{$l.img}" />
						</div>
						<input type="hidden" name="bgcolor" value="{$l.bgcolor}" />
					</volist>
					

				</div>
				<ul class="ul_lunbo">
					<li class="lunboli current"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
				</ul>
				<div class="div_info2">
					<ul class="ul_image">
						<volist name="hotTypeList" id="htl">
							<li>
								<a href="javascript:toUrl('{$htl.url}')">
									<img src="{$htl.img}" height="140" />
								</a>
							</li>
						</volist>
					</ul>

				</div>
			</div>
		</div>
		<div id="div_main">
			<div class="div_info">
				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>上新预告</h3>
						<a href="{:U('Shop/Index/flzc')}">&nbsp;</a>
					</div>
					<!--<volist name="newProductList" id="rpl">-->
						<dl class="dl_info" onclick="toUrl('{:U('Shop/Index/spxq',array('id'=>$rpl['id']))}')">
							<dt>
			                	<img src="{$rpl.main_img}" width="216" height="245"/>
			                </dt>
							<dd style=" border-bottom:1px dotted #666">{$rpl.name}</dd>
							<dd style="color:#FF5899;"><span style="background: url(__PUBLIC__/Shop/img/fubi.png) no-repeat 0 1px; padding-left:17px;" >{:number_format($rpl['price']/100,0)}</span> </dd>
						</dl>
						
						
					<!--</volist>-->

				</div>

				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>推荐福品</h3>
						<a href="{:U('Shop/Index/flzc')}">&nbsp;</a>
					</div>
					
					<!--<volist name="recommendProductList" id="npl">-->
					<dl class="dl_info" onclick="toUrl('{:U('Shop/Index/spxq',array('id'=>$npl['id']))}')" >
						<dt>

		                <img src="{$npl.main_img}" width="216" height="245"/>

		                </dt>
						<dd style=" border-bottom:1px dotted #666">{$npl.name}</dd>
						<dd style="color:#FF5899;"><span style="background: url(__PUBLIC__/Shop/img/fubi.png) no-repeat 0 1px; padding-left:17px;" >{:number_format($npl['price']/100,0)}</span> </dd>
					</dl>
						
						
<!--					</volist>-->
				
				</div>

				<!--<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>试民晒货</h3>
						<a href=""></a>
					</div>
					<dl class="dl_shaihuo">
						<dt>

			                <a href=""><img src="__PUBLIC__/Shop/img/shai1.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Shop/img/shai2.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Shop/img/shai3.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Shop/img/shai4.jpg" width="91" /></a>

		                

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		               <a href=""><img src="__PUBLIC__/Shop/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Shop/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

				</div>-->
			

			</div>
		</div>
	<include file="partials/footer" />

</block>

<block name="area_footer">
	

