<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Shop/js/index.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Shop/js/share.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />

	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
        #exchange_user_list .user-info {
            float: left;
            TEXT-ALIGN: CENTER;
            WIDTH: 160PX;
        }
        #exchange_user_list .user-info .avatar img{
            width:60px;
            height: 60px;
            border-radius: 50%;
        }

        #exchange_user_list .user-list .list-bd{
            width:100%;
        }


    </style>

</block>

<block name="area_body">
	{:W('Page/head')}
    <div id="div_main" style="border-top:1px solid #ccc">
		<div class="div_info" >
			<div class="div_spxq_info1">
				<h3 style=" font-weight: 100;font-size: 13px; padding: 10px;"><a href="{:U('Shop/Index/index')}">首页 </a>> <a href="{:U('Shop/Index/flzc')}">福利专场  </a>> {$detail.name}</h3>
				<div style="border-top: 1px dashed #ccc; padding: 10px;">
					<img width="400" height="450" id="img_main" src="{$detail.main_img}" style=" border:1px solid #ccc;padding: 1px;float: left;"/>
					<div style="margin-left:420px;">
						<form id="ec" action="{:U('Home/SMActivity/exchange')}">
						<input type="hidden" name="pid" id="pid" value="{$detail.id}">
						<input type="hidden" name="sinfo" id="sinfo" value="">
						</form>
							
						<h3>{$detail.name}</h3>
						<div style="background: #EC2B59;height: 80px; line-height: 80px; padding-left: 20px;color: white;font-size: 12px;">价值:<font size="+2" id="font_price"> {:number_format($detail['price']/100.0,0,".","")}</font>{$currency}

                        </div>
						<table style="font-size: 12px;">
							<tr style="font-size: 13px; ">
							<!--<td style="padding-top: 10px;">收藏：</td>-->
							<!--<td style="padding-top: 10px;">已有<font color="red">0</font>人收藏</td>-->
						</tr>
						<tr>
							<td style="padding-top: 10px;">咋拿这东西：</td>
							<td style="padding-top: 10px;">
                                只要有足够的宝币就可以兑换了
                            </td>
						</tr>
                        <tr>
                            <dt><span class="danbao">宝贝街官方运营担保，请放心报名</span></dt>
                        </tr>
	    				<tr>
							<td style="padding-top: 10px;">咨询：</td>
							<td style="padding-top: 10px;">
			    				<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=">
                                    <img border="0" src="__PUBLIC__/Shop/img/baobeiqun.jpg" alt="宝贝官方群" title="宝贝官方群">
                                </a>
							</td>
						</tr>

						<tr>
							<td colspan="2" style="font-size:17px; font-weight: 600;color: #ff5497; padding-top: 10px;">小提示：兑换之后的商品将在下次发货后给你发货！</td>
						</tr>
						<tr>
							<td colspan="2" style="padding-top: 10px;">
                               <a href="{:U('Shop/Index/exchange',array('pid'=>I('get.id',0)))}" class="ajax-get am-radius am-btn am-btn-warning"
                                 style="width:120px;">我要兑换</a>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding-top: 10px;">
								<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more" style="width: 70px;height: 27px;background:url(__PUBLIC__/Shop/img/goods_fenxiang.jpg) no-repeat; "></a></div>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div>
				
			<div class="am-g " style="width: 85%;  margin-top: 20px;">
				<div class="am-u-sm-8" style="padding-left: 0px;" >
					<div data-am-widget="tabs" class="am-tabs am-tabs-default" style="margin: 0;">
					  <ul class="am-tabs-nav am-cf" style="border: 1px solid #ccc;">
					    <li class="am-active">
					      <a href="[data-tab-panel-0]">商品展示</a>
					    </li>
					    <!--<li class="">-->
					      <!--<a href="[data-tab-panel-1]">宝贝晒货</a>-->
					    <!--</li>-->
					    <li class="">
					      <a href="[data-tab-panel-2]">兑换纪录</a>
					    </li>
					  </ul>
					  <div class="am-tabs-bd" style="padding: 0; ">
					    <div data-tab-panel-0 class="am-tab-panel am-active" style="padding: 0;">
					    	<volist name="detail.img" id="img">
					    		<img src="{$img}" width="630"/>
					    	</volist>
					    </div>
					   <!--<div data-tab-panel-1 class="am-tab-panel " style="height: 800px;">-->
					   <!--<h3>	已晒货的试民：</h3>-->
					  		<!--当前商品还没有人晒货哦！！！-->
					   <!--</div>-->
					  <div data-tab-panel-2 class="am-tab-panel " style="height: 800px;">
					    <h3>	申请兑换的用户：</h3>
                              <div id="exchange_user_list">
                             </div>
						  </div>
					</div>
					</div>
				</div>
				<div class="am-u-sm-4" style="padding-right: 0px;">
					<div class="am-panel am-panel-default">
						<div class="am-panel-hd">官方声明</div>
						<div class="am-panel-bd">
							<ul>
								<li><font class="am-icon-adn" color="#ff5497" size="+1" style="margin-right: 5px;"></font>宝贝街官方运营</li>
								<li><font class="am-icon-gift" color="#ff5497" size="+1" style="margin-right: 5px;"></font>海量免费商品</li>
								<li><font class="am-icon-cloud-download" color="#ff5497" size="+1" style="margin-right: 5px;"></font>宝贝全场免邮</li>
								<li><font class="am-icon-gittip" color="#ff5497" size="+1" style="margin-right: 5px;"></font>72小时闪电发货</li>
								<li><font class="am-icon-rebel" color="#ff5497" size="+1" style="margin-right: 5px;"></font>商家预存担保金</li>
							</ul>
						</div>
					</div>
					<div class="am-panel am-panel-default">
						<div class="am-panel-hd">宝贝流程</div>
						<div class="am-panel-bd">
							<ul class="ul_bblc" style="text-align: center;">
								<li>试民申请</li>
								<li><font class="am-icon-chevron-down" color="#999"></font></li>
								<li>等待商家审核</li>
								<li><font class="am-icon-chevron-down" color="#999"></font></li>
								<li>开始宝贝任务</li>
								<li><font class="am-icon-chevron-down" color="#999"></font></li>
								<li>完成宝贝任务</li>
								<li><font class="am-icon-chevron-down" color="#999"></font></li>
								<li>返款宝贝钱庄</li>
								<li><font class="am-icon-chevron-down" color="#999"></font></li>
								<li>随时提现 </li>
    						</ul>
						</div>
					</div>
					<div class="am-panel am-panel-default">
						<div class="am-panel-hd">推荐商品</div>
						<div class="am-panel-bd">
							<ul style="text-align: center;">
								<li><a href=""><img src="__PUBLIC__/Home/img/0913422401.jpg" width="220"/></a></li>
								<li><a href="">夏季卡通儿童凉拖鞋</a></li>
								<li><a href=""><img src="__PUBLIC__/Home/img/1521347954.jpg" width="220"/></a></li>
								<li><a href="">夏季卡通儿童凉拖鞋</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="partials/footer" />
</block>

<block name="area_footer">

    <script type="text/javascript" src="__CDN__/react/15.1.0/react.js"></script>
    <script type="text/javascript" src="__CDN__/react/15.1.0/react-dom.js"></script>
    <script src="__CDN__/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel"  src="__JS__/react-pager.js"></script>

    <script type="text/babel">

        var itboye = {
            api_url : "http://bbj.itboye.com/index.php"
        };

        var UserInfo = React.createClass({
            render: function(){
                return (<div className="user-info">
                    <div className="avatar"  >
                        <img src={this.props.avatar} />
                    </div>
                    <div className="user-name">
                        {this.props.username}
                    </div>
                </div>);

            }
        });

        var ExchangeUserList = React.createClass({

        loadCommentsFromServer: function() {
            var p = this.state.pageIndex;
            var pagesize = this.state.pageSize;
            var params = "p="+p+"&pagesize="+pagesize;

            $.ajax({
              url: itboye.api_url + this.props.url + "&"+params,
              dataType: 'json',
              cache: false,
              success: function(data) {
                if(data.status){
                    var pager = data.info.pager;
                    this.setState({status:data.status,info:data.info,totalCount:pager.total,pageSize:pager.pagesize,pageIndex:pager.pageindex});
                }else{
                    this.setState({status:data.status,info:data.info,totalCount:0,pageSize:0,pageIndex:1});
                }
              }.bind(this),

              error: function(xhr, status, err) {

                this.setState({status:false,info:'网络请求发生错误',totalCount: 0,pageSize:10,pageIndex:0});
                console.log(err);
              }.bind(this)
            });
          },

          pageIndexChanged:function(index){
          console.log(index);
            this.state.pageIndex = index;
            this.loadCommentsFromServer();
          },

          getInitialState: function() {
            return {status:false,info:'正在请求数据...',totalCount:0,pageSize:30,pageIndex:1};
          },
          componentDidMount: function() {
            this.loadCommentsFromServer();
          },

          render: function() {

            var status = this.state.status;
            var info = this.state.info;

            console.log(status,info);
            if(status){
                var list = info.list;
                var pager = info.pager;
                this.state.totalCount = pager.total;
                this.state.pageSize = pager.pagesize;
                this.state.pageIndex = pager.pageindex;

                console.log("list数据",list);
                if(list.length > 0){
                    var content = list.map(function(user) {
                      return (
                        <UserInfo avatar={user.head} username={user.username}  key={user.id} id={user.id} >
                        </UserInfo>
                      );
                    });
                }else{
                    var content = "还没有人兑换哦";
                }

            }else{
                var content = info;
            }
            console.log(this.state);
            var pagerSetting={
			    totalCount:this.state.totalCount,
			    pageSize:this.state.pageSize,
			    pageIndex:this.state.pageIndex,
			    firstText:"首页" ,
			    prevText:"上一页",
			    nextText:"下一页",
			    lastText:"尾页",
			    recordTextFormat: "{0}/{1}页 共{2}条记录",
			    showLinkNum:2,
			    callBack:this.pageIndexChanged
		    };


            return (
              <div className="user-list">
                <div className="list-bd am-cf">
                    {content}
                </div>
                <Pager {...pagerSetting} />
              </div>
            );
          }
        });
        var url = "/Shop/Product/ajax_exchange_user_list?id="+"{:I('get.id',0)}";
      ReactDOM.render(
        <ExchangeUserList  url={url} pollInterval={2000} />,
        document.getElementById('exchange_user_list')
      );
    </script>

	<script type="text/javascript">
		$(function(){
			var price=$('#font_price').text();
			$('#duihuan').click(function(){
                var fucoin = {:(empty($fubi)?0:$fubi)};
				if(fucoin >= price){
					$('#ec').submit();
				}else{
					alert('您的福币不足，无法兑换！！');
				}
				
			})
			
		})
	</script>
</block>