<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>
</block>

<block name="area_body">
	<include file='partials/header' />
		
		<div id="div_main" style="border: 1px solid #ccc; background: #F7F7F7; float: left; padding-bottom: 100px;">
			<div style="width: 100%; height: 582px;background: url(__PUBLIC__/Home/img/haibao1.jpg) no-repeat; ">
				
			</div>
			<div class="div_info" style="height: 500px; margin-top:-100px; ">
				<div style="border-bottom:1px solid pink;">
					<img src="__PUBLIC__/Home/img/shengdian.png"/><b style="font-size: 22px;color: red;">1点精品</b><font color="red" style="border-left: 1px dotted red; padding-left:10px;margin-left: 10px;">2015年6月20日</font>
					<span style="margin-left: 400px;"><img src="__PUBLIC__/Home/img/naozhong.png"/></span>
					<font color="#666"><font size="+1">距离本期活动还有</font><font size="+2" color="red" style="font-weight: bold;" >00</font> <font size="-2">天</font> <font size="+2" style="font-weight: bold;" color="red" >19</font> <font size="-2">小时</font><font size="+2" color="red"  style="font-weight: bold;"> 12</font><font size="-2">分</font><font size="+2" style="font-weight: bold;" color="red" >  35</font><font size="-2"> 秒</font>
				</div>
				<div class="div_xfyd_info">
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	<include file='partials/footer' />
</block>

<block name="area_footer">
	
</block>