				<hr color="#ccc" style="clear:both; margin-top:20px; width: 100%;" size="1" />
		<div id="div_foot">
			<div class="div_info">
				<dl class="dl_phone">
					<dt class="dt_phone" style=" height: 100%; margin-right: 10px;"><img src="__PUBLIC__/Home/img/phone.png" /></dt>
					<dd style="font-weight: bold; font-size:13px ;">4008-448-888</dd>
					<dd>美食街热线</dd>
					<dd>周一至周六：09:00-17:00</dd>
				</dl>
				<dl>
					<dt>关于我们</dt>
					<dd class="dd_info"><a href="#">宝贝街介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">联系我们</a>
					</dd>

				</dl>
				<dl>
					<dt>我是试民</dt>
					<dd class="dd_info"><a href="#">新手指引</a>
					</dd>
					<dd class="dd_info"><a href="#">福币介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">资金保障</a>
					</dd>
				</dl>

				<dl>
					<dt>我是商家</dt>
					<dd class="dd_info"><a href="#">商家入驻</a>
					</dd>
					<dd class="dd_info"><a href="#">会员体系</a>
					</dd>
					<dd class="dd_info"><a href="#">活动安全</a>
					</dd>
				</dl>
				<dl>
					<dt>宝贝街特色</dt>
					<dd class="dd_info"><a href="#">许愿树</a>
					</dd>
					<dd class="dd_info"><a href="#">周四盛点</a>
					</dd>
					<dd class="dd_info"><a href="#">因伙得福</a>
					</dd>
				</dl>
				<dl>
					<dt>共图大业</dt>
					<dd class="dd_info"><a href="#">招兵买马</a>
					</dd>
					<dd class="dd_info"><a href="#">拜将求帅</a>
					</dd>
					<dd class="dd_info"><a href="#">战略伙伴</a>
					</dd>
					<dd class="dd_info"><a href="#">天赐良机</a>
					</dd>
				</dl>

				<dl>
					<dt>宝贝微信账号</dt>
					<dd class="dd_info" style="margin: 0;margin-left: -12px;">
						<img src="__PUBLIC__/Home/img/weixin.png" />

					</dd>

				</dl>
			</div>

			<div align="center" style="clear:both; margin-bottom:5px; border-top: 1px solid #ccc; width:800px; margin: 0 auto;"><font color="#999999" size="-2">杭州博也科技有限公司，保留一切权利。 浙ICP备13025642号-2 © 2015 baobeijie.net 版权所有<font style="display: none;">{__RUNTIME__}</font></font>
			</div>

		</div>
	</div>