<extend name="template/base_index" />

<block name="area_header">

    <link rel="stylesheet" href="__CSS__/common.css?v=__APP_VERSION__">
    <link type="text/css" rel="stylesheet" href="__CDN__/select2/4.0.0/css/select2.min.css" />
    <style type="text/css">
        #begin_time,#end_time,#count{ height: 30px;}
        #yw1 li{list-style-type: none;}
        .input-fix-am{

            width: 200px;
            font-size: 12px;
        }
        .search_form{
            width: 320px;
        }
        .j_content textarea{
            font-size: 12px;
        }
        .task_status_list li{
            float:left;
            margin-left: 10px;
            margin-right: 10px;
        }

        .task_status_list li.active{

            color: #d1343e;
            height: 33px;
            border-bottom: 3px solid #0088cc;
            margin-bottom: -1px;
        }
        .j_sh_id_text{

            font-size: 1.8rem;
            font-weight: 500;
        }
        .select2-dropdown{
            margin-top: -88px;
        }
    </style>
</block>

<block name="area_body">

    <include file='Widget/sjtop' />
    <div class="seller_main clearfix" >
        <div class="seller_content_wrap">

            <div class="seller_content" style="padding-top: 10px;">

                <div class="task-head">
                    <div class="breadcrumbs">
                        <a href="{:U('Home/SJActivity/sj_tbhd')}">淘宝活动</a>&gt;<span>任务计划管理：{$task['task_name']}</span>
                    </div>

                </div>

                <div class=" am-fl am-padding-sm">
                    <ul class="task_status_list" style="position: relative;list-style-type: none;">
                        <li <eq name="status" value="all">class="active"</eq> >
                        <a href="{:U('Home/TaskHis/all')}">任务试民</a>
                        </li>
                        <li <eq name="status" value="wait_check">class="active"</eq> >
                        <a href="{:U('Home/TaskHis/all',array('status'=>'wait_check'))}">审核订单
                            <if condition="$count['submit'] gt 0">
                                <span class="am-text-danger">{$count['submit']}</span>
                            </if>
                        </a>
                        </li>
                        <li <eq name="status" value="wait_return_money">class="active"</eq> >
                        <a  href="{:U('Home/TaskHis/all',array('status'=>'wait_return_money'))}">确认还款

                        <if condition="$count['wait_ret_money'] gt 0">
                            <span class="am-text-danger">{$count['wait_ret_money']}</span>
                        </if>
                        </a>
                        </li>
                        <li <eq name="status" value="delivery_platform">class="active"</eq> >
                        <a  href="{:U('Home/TaskHis/all',array('status'=>'delivery_platform'))}">等待发货

                            <if condition="$count['platform'] gt 0">
                                <span class="am-text-danger">{$count['platform']}</span>
                            </if>
                        </a>
                        </li>
                        <li <eq name="status" value="user_receive">class="active"</eq> >
                        <a   href="{:U('Home/TaskHis/all',array('status'=>'user_receive'))}">试民收货
                            <if condition="$count['wait_receive'] gt 0">
                                <span class="am-text-danger">{$count['wait_receive']}</span>
                            </if>
                        </a>
                        </li>
                        <li <eq name="status" value="not_start">class="active"</eq> >
                        <a  href="{:U('Home/TaskHis/all',array('status'=>'not_start'))}">未开始
                            <if condition="$count['not_start'] gt 0">
                                <span class="am-text-danger">{$count['not_start']}</span>
                            </if>
                        </a>
                        </li>
                        <li <eq name="status" value="reject">class="active"</eq> >
                        <a  href="{:U('Home/TaskHis/all',array('status'=>'reject'))}">已驳回
                            <if condition="$count['reject'] gt 0">
                                <span class="am-text-danger">{$count['reject']}</span>
                            </if>
                        </a>
                        </li>

                        <li>
                            &nbsp;
                        </li>
                        <li>
                            <a href="{:U('Home/TaskHis/history')}">
                                历史订单
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="search_panel am-cf am-u-g">
                    <form class="am-form-horizontal am-cf j_search_form" action="__SELF__" method="post">
                        <div class="am-form-group">
                            <select id="user_select2" name="view_uid" style="width:240px;">
                                <option value="{$view_uid}">{$view_uid}</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="content am-fl">

                    <div class="renwuku jquery-once-1-processed">
                        <div id="yw1" class="grid-view" >
                            <table class="items am-table am-table-hover">
                                <thead>
                                    <tr>
                                        <th width="80">编号</th>
                                        <th width="120" >任务试民</th>
                                        <th width="160" >订单信息</th>
                                        <th width="160" >物流信息</th>
                                        <th width="160" >发货模式</th>
                                        <th width="160" >任务步骤</th>
                                        <th width="160" >通过时间</th>
                                        <th width="160" >操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <empty name="list">
                                    <tr>
                                        <td class="am-text-center"  colspan="10">没有相关信息</td>
                                    </tr>
                                </empty>
                                <volist name='list' id='vo'>
                                    <tr class="odd">
                                        <td>
                                            {$vo.id}
                                        </td>

                                        <td>
                                            <div class="am-cf">
                                                <div class="am-fl">
                                                    <empty name="vo['head']">
                                                        <img class="" style="width: 48px;height:48px;" src="__IMG__/default_user_portrait.gif" alt="">

                                                        <else/>
                                                        <img style="width: 48px;height:48px;" src="{$vo['head']}" >
                                                    </empty>
                                                </div>
                                                <div class="am-fl">{$vo.nickname}</div>
                                            </div>

                                        </td>

                                        <td>
                                            <div>{$vo.tb_account}</div>
                                            <div class="">
                                                <small>
                                                    <if condition="empty($vo['tb_orderid'])">
                                                        订单:-
                                                        <else/>
                                                        订单:{$vo.tb_orderid}
                                                    </if>
                                                </small>
                                            </div>
                                            <div >
                                                <small >返款:
                                                    <if condition="$vo['tb_price'] gt 0">
                                                        <span class="am-text-danger">￥{$vo.tb_price}</span>
                                                        <else/>
                                                        -
                                                    </if>
                                                </small>
                                            </div>

                                        </td>
                                        <td>
                                            <if condition="empty($vo['express_no'])">
                                                <eq name="vo['delivery_mode']" value="1">
                                                    <span class="am-text-warning">等待平台发货</span>
                                                    <else/>

                                                    <a data-id="{$vo.id}" href="javascript:void(0);"
                                                       class="am-margin-bottom-sm j_delivery btn-fix-am am-btn am-btn-sm am-btn-primary btn-fix-am">
                                                        填写发货信息
                                                    </a>

                                                </eq>
                                                <else/>
                                                <div class="am-text-warning am-text-sm">{$vo.express_name}</div>
                                                <div class="am-text-warning am-text-sm">{$vo.express_no}</div>
                                                <div class="am-text-danger am-text-sm">¥ {$vo.express_price}</div>
                                            </if>

                                        </td>

                                        <td width="160" >
                                            {:getDeliveryMode($vo['delivery_mode'])}
                                        </td>
                                        <td >
                                            {$vo.do_status_name}

                                            <eq name="vo['do_status']" value="$reject_order">
                                                <p class="am-text-danger">原因: {$vo.notes}</p>
                                            </eq>
                                        </td>
                                        <td >
                                            {$vo.update_time|date='Y-m-d H:i',###}
                                        </td>
                                        <td width="160" >
                                            <eq name="vo['do_status']" value="$submit_order">
                                                <a href="javascript:void(0)" data-href="{:U('Home/TaskHis/sh_view',array('id'=>$vo['id']))}" data-id="{$vo.id}" class="j_sh_order am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-warning">审核订单</a>
                                                <br/>
                                            </eq>

                                            <eq name="vo['do_status']" value="$received_goods">
                                                <a href="{:U('Home/SJActivity/return_money',array('id'=>$vo['id']))}" class="confirm ajax-get am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-danger">确认还款<span class="js_countdownwn"  data-until="{$vo['update_time'] + 24*3600}"></span></a>


                                                <br/>
                                            </eq>


                                            <a href="javascript:void(0);" data-href="{:U('Home/TaskLog/view',array('task_his_id'=>$vo['id']))}" class="am-margin-bottom-sm j_view_log btn-fix-am am-btn am-btn-sm am-btn-default btn-fix-am">淘宝日志</a>


                                        </td>

                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            <div class="am-padding-sm am-margin-bottom-lg">
                                {$show}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <include file='Widget/sjleft' />
    </div>

    <div class="am-modal am-modal-alert" tabindex="-1" id="j_task_log_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#日志查看# <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
            <div class="am-modal-bd">
                <i class="am-icon-spinner am-icon-spin j_loading"></i>
                <div class="j_content"></div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-alert" tabindex="-1" id="j_reject_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#驳回订单编号#<span class="j_reject_id_text"></span>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form class="j_reject_form" >
                    <input type="hidden" class="j_reject_id" name="id"/>
                    <div class="am-form-group">
                        <label CLASS="am-text-left">驳回原因</label>
                        <div class="j_content">
                            <textarea name="reason" rows="5" class="am-form-field"></textarea>
                        </div>
                    </div>

                    <div>

                        <a href="javascript: void(0)" class=" am-btn am-btn-sm am-btn-default" data-am-modal-close>取消</a>

                        <a target-form="j_reject_form" href="{:U('Home/SJActivity/reject_order')}" class="ajax-post am-btn am-btn-sm am-btn-primary">确定</a>
                    </div>

                </form>

            </div>
        </div>
    </div>


    <div  class="am-modal am-modal-alert" tabindex="-1" id="j_sh_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#审核订单#<span class="j_sh_id_text"></span>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <i class="am-icon-spinner am-icon-spin j_loading"></i>
                <div class="j_content"></div>
            </div>
        </div>
    </div>


    <div class="am-modal am-modal-alert" tabindex="-1" id="j_delivery_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#发货信息#
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form class="j_delivery_form am-form-horizontal" >
                    <input type="hidden" class="j_delivery_id" name="id"/>
                    <input type="hidden" class="j_delivery_express_name" name="express_name"/>

                    <div class="am-form-group">
                        <label CLASS="am-text-left">物流公司</label>
                        <div class="j_content">
                            <select name="express_code" class="am-form-field j_express">
                                <volist name="express_list" id="vo">
                                    <option value="{$vo.hidden_value}">{$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label CLASS="am-text-left">快递单号</label>
                        <div class="j_content">
                            <input type="text" placeholder="填写快递单号" class="am-form-field" name="express_no" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label CLASS="text-left">实际邮费(元)</label>
                        <div class="j_content">
                            <input type="text" placeholder="填写邮费" class="form-control" name="express_price" />
                        </div>
                    </div>

                    <div>

                        <a href="javascript: void(0)" class=" am-btn am-btn-sm am-btn-default" data-am-modal-close>取消</a>

                        <a target-form="j_delivery_form" href="{:U('Home/SJActivity/delivery_order')}" class="ajax-post am-btn am-btn-sm am-btn-primary">确定</a>
                    </div>

                </form>

            </div>
        </div>
    </div>


</block>

<block name="area_footer">
    <script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.countdown.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".js_countdownwn").each(function (index, item) {
                var thid = $('#thid').val();
                var until = $(item).data("until");
                until = parseInt(until);
                thid = parseInt(thid);
                $(item).scojs_countdown({until: until, id: thid});

            });
        });
    </script>
    <script type="text/javascript">
        $(function(){

            //发货信息
            $(".j_delivery").each(function(index,item){
                $(item).click(function(ev){
                    var id = $(ev.target).data("id");
                    $("#j_delivery_modal .j_delivery_id").val(id);
                    $("#j_delivery_modal").modal();
                });
            });

            $("#j_delivery_modal .j_express").change(function(){
                var name = $("#j_delivery_modal .j_express").find("option:selected").text();
                $("#j_delivery_modal .j_delivery_express_name").val(name);
            });

            $("#j_delivery_modal .j_express").change();

            //审核订单
            $(".j_sh_order").each(function(index,item) {
                $(item).click(function(ev){
                    $("#j_sh_modal").find(".j_loading").show();
                    $('#j_sh_modal').modal({width:720,height:480});
                    var url = $(ev.target).data("href");
                    var id = $(ev.target).data("id");
                    $("#j_sh_modal .j_sh_id_text").text(id);
                    $.get(url, function(result){

                        $("#j_sh_modal").find(".j_loading").hide();
                        $("#j_sh_modal").find(".j_content").html(result);


                        bind_ajax_post("#j_sh_modal .j_content");

                    }, 'html');

                });

            });


            $(".j_reject_btn").each(function(index,item){
                $(item).click(function(ev){
                    var id = $(ev.target).data("id");

                    $("#j_reject_modal .j_reject_id_text").text(id);
                    $("#j_reject_modal .j_reject_id").val(id);
                    $("#j_reject_modal").modal();

                });
            })
            $('.j_view_log').each(function(index,item) {
                $(item).click(function(ev){
                    $("#j_task_log_modal").find(".j_loading").show();
                    $('#j_task_log_modal').modal({width:720,height:480});
                    var url = $(ev.target).data("href");
                    $.get(url, function(result){
//                        console.log(result);
                        $("#j_task_log_modal").find(".j_loading").hide();
                        $("#j_task_log_modal").find(".j_content").html(result);

                    }, 'html');

                });

            });
        });//end $ function

        function bind_ajax_post(class_name){
            $(class_name+' .ajax-post').each(function(index,item){

                $(item).click(function(ev) {
                    console.log(ev);

                    var target, query, form;
                    var target_form = $(ev.target).attr('target-form');
                    var that = ev.target;
                    console.log(that);

                    form = $('.' + target_form);

                    if ($.validator && (form.hasClass("validate-form") || form.hasClass("validateForm"))) {
                        if (!form.valid()) {
                            alertMsg('表单验证不通过！');
                            return false;
                        }
                    }

                    if (form.get(0).nodeName == 'FORM') {
                        if ($(that).attr('url') !== undefined || $(that).attr("href") !== undefined) {
                            target = $(that).attr('url') || $(that).attr("href");
                        } else {
                            target = form.get(0).action;
                        }
                        query = form.serialize();
                    }

                    ajaxpost(that, target, query,ev);

                    return false;
                }); //END ajax-post
            });//END EACH
        }//END function

        function ajaxpost(that, target, query,ev) {
//			$(that).button("loading");
            console.log(that);
            //var ele = loadingMsg("请求中...");
            $(that).button('loading');
            var funcname =  $(that).data("when-done");
            $.post(target, query).always(function() {
                //ele.modal("close");
                setTimeout(function() {
                    $(that).button("reset");
                }, 1400);
            }).done(function(data) {

                if (data.status == 1) {
                    if(!$(that).data('no-alert')){
                        if (data.url) {
                            alertMsg(data.info + ' <br/>页面即将自动跳转~');
                        } else {
                            alertMsg(data.info);
                        }

                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            } else if ($(that).hasClass('no-refresh') || $(that).data('no-refresh')) {
                                //不刷新
                            } else {
                                location.reload();
                            }
                        }, 1500);
                    }else{
                        if(funcname && funcname in window) {//判断是否是函数名
                            window[funcname](ev);
                        }
                        if (data.url) {
                            location.href = data.url;
                        }else if ($(that).data('no-refresh')) {
                            //不刷新
                        }else{
                            location.reload();
                        }
                    }
                } else {

                    alertMsg(data.info);
                    setTimeout(function() {
                        if (data.url) {
                            location.href = data.url;
                        } else {}
                    }, 1500);
                }
            }).fail(function(){
                alertMsg("操作失败！");
            });
        }

    </script>


    <script src="__CDN__/select2/4.0.0/js/select2.min.js"></script>
    <script src="__CDN__/select2/4.0.0/js/i18n/zh-CN.js"></script>
    <script type="text/javascript">

        $(function(){


            $("#user_select2").select2({
                placeholder: "输入用户id或用户名查询"	,
                language: "zh-CN",
                ajax: {
                    url: "{:U('Home/TaskHis/ajax_all_users')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var queryParameters = {
                            q: params.term
                        }
                        return queryParameters;

                    },
                    processResults: function (data, page) {
                        if(!data.info){
                            data.info = new Array();
                            data.info['nodata']="无相关数据";
                        }
                        // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data
                        return {
                            results: data.info
                        };
                    },
                    cache: true
                },
                minimumInputLength: 0,
                templateSelection: function (repo) {
                    var selection = repo.nickname || repo.text;
                    if(repo.nickname){

                    }
                    return selection;
                },
                templateResult: function (repo) {

                    if (repo.loading) return repo.text;
                    if(repo.nodata) return repo.nodata;
                    var markup = '<div><img src="'+repo.head+'" style="width:30px;height:30px;"/>[id:'+repo.id+'] '+repo.nickname+'</div>';
                    return $(markup);
                },
            });

            $("#user_select2").change(function(){
                $(".j_search_form").submit();
            })

        })
    </script>
</block>

