<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	
	<link type="text/css" rel="stylesheet" src="__UPLOAD__/jquery-uploadify/3.2.1/uploadify.css" />
	<script type="text/javascript" src="__UPLOAD__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">
				<div class="content">
					<div class="row-fluid">
						<div class="span6">
							<div class="widget-box">
								<div class="widget-title">
									<h5>账号管理&gt;账号概览</h5>
								</div>
								<div class="widget-content">
									<div style="height:300px;line-height: 2.2em;">
										<table style="width: 100%;">
											<tbody>
												<tr>
													<td style="vertical-align: top;width:160px;text-align: center;">
														<div class="page_head_img">
                                                            <a style="font-size: 13px;" href="{:U('Home/Usersj/avatar')}" class="" >
																<if condition="$user['head'] eq '' ">
																	<img src="__IMG__/default_user_portrait.gif" alt="">
																	<else/>
																	<img src="{$user.head}" alt="">
																</if>
                                                                <span>点此更换头像</span>
                                                            </a>

															<br><span class="am-badge am-badge-success am-round" style="font-size: 12px;">等级：{$level}级</span>
														</div>
													</td>
													
													<td style="vertical-align: top;">

														<div style="margin: 30px 20px;">
                                                            <p>
                                                                <if condition="$user.vip_level eq 1">
                                                                    会员等级 : vip会员 [ <a class="text-link small" href="{:U('Home/Usersj/sj_viptd')}">续费或开通超级会员</a> ]
                                                                </if>
                                                                <if condition="$user.vip_level eq 2">
                                                                    会员等级 : 超级会员 [ <a class="text-link small" href="{:U('Home/Usersj/sj_viptd')}">续费超级会员</a> ]
                                                                </if>
                                                                <if condition="$user.vip_level eq 0">
                                                                    会员等级 : 普通会员 [ <a class="text-link small" href="{:U('Home/Usersj/sj_viptd')}">开通会员</a> ]
                                                                </if>

                                                            </p>
                                                            <p>
                                                                <if condition="$user.vip_level neq 0">
                                                                到期时间: {:date("Y-m-d H:i:s",$user['vip_expire_time'])}
                                                                </if>
                                                            </p>

															<p>
																可用余额 : <span class="number"><span class="price">{$user.coins}</span>元</span>
																[ <a class="text-link small" href="{:U('Home/Usersj/sj_zjgl')}">查看换宝钱庄</a> ]
															</p>

															<p>
																绑定旺旺 :
                                                                <empty name="user['aliwawa']">
                                                                    <a class="am-btn am-link-btn"  href="{:U('Home/Usersj/sj_zhxx')}">点击绑定</a>
                                                                    <else/>
                                                                    {$user.aliwawa}
                                                                </empty>
                                                            </p>
															<p>
																店铺名 :

                                                                <empty name="user['store_name']">
                                                                    <a class="am-btn am-link-btn"  href="{:U('Home/Usersj/sj_zhxx')}">点击绑定</a>
                                                                    <else/>
                                                                    {$user.store_name}
                                                                </empty>
                                                            </p>

															<p>
																联系人 :<empty name="user['linkman']">
                                                                <a class="am-btn am-link-btn" href="{:U('Home/Usersj/sj_zhxx')}">点击填写</a>
                                                                <else/>
                                                                {$user.linkman}
                                                            </empty>
                                                            </p>
                                                            <eq name="auth_status" value="0">
																<div class="alert alert-warning in fade"><a href="javascript:void(0)" class="close" data-dismiss="alert" type="button">×</a>您还没有对您的主旺旺进行认证，请先认证您的主旺旺 <a class="text-info" href="{:U('Home/Usersj/sj_zhxx')}">前往验证</a>
															</eq>
															</div>
														</div>

													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="span6">
                            {:W('Public/notice')}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span9">
							<div class="widget-box">
								<div class="widget-title">
									<h5>任务设置</h5>
								</div>
								<div class="widget-content">
									<div style="padding:10px 20px 0;">
										<div class="row-fluid" style="padding:15px 0;">
											<table style="width: 100%;">
												<col width="30%">
													<col width="30%">
														<col width="30%">
															<tr>
																<td>
																	<span class="small">自助选择任务试民: </span>
																	<if condition="$user['task_gettype'] eq 2">
																		<a data-no-alert="true" class="ajax-get am-btn btn-mini btn-fix-am am-btn-small am-btn-primary" tooltip="开启之后您的任务试民将由您自己审核通过" href="{:U('Home/SJActivity/changestatus',array('id'=>$user['id'],'status'=>1))}">已开启</a>
																		<else/>
																		<a data-no-alert="true" class="ajax-get am-btn btn-mini am-btn-small am-btn-default"  tooltip="关闭之后您的任务试民将由试民自己领取" href="{:U('Home/SJActivity/changestatus',array('id'=>$user['id'],'status'=>2))}">已关闭</a>
																	</if>
																</td>
																</td>
															</tr>
											</table>
										</div>
									</div>

								</div>
							</div>

							<div class="widget-box">
								<div class="widget-title">
									<h5>任务情况</h5>
								</div>
								<div class="widget-content">
									<div style="padding:10px 20px 0;">
										<div class="row-fluid" style="padding:15px 0;">
											<div class="span2">换宝任务</div>
											<div class="span2">待确认还款： <span class="number text-error">{$wtj}</span>
											</div>
											<div class="span2">待审核订单： <span class="number text-error">{$ddsh}</span>
											</div>
											<div class="span2">确认还款： <span class="number text-info">{$qrhk}</span>
											</div>
											<!--<div class="span2">挂起： <span class="number">0</span>
											</div>-->
											<div class="span2 text-right"><a class="text-info" target="_blank" href="{:U('Home/SJActivity/sj_tbhd')}">查看详细&gt;&gt;</a>
											</div>
										</div>

										<!--<div class="muted" style="border-top:1px solid #ccc;padding:5px 0 0;"></div>
										<div class="row-fluid" style="padding:15px 0;">
											<div class="span2">淘福任务</div>
											<div class="span2">待确认还款： <span class="number text-error">0</span>
											</div>
											<div class="span2">待审核订单： <span class="number text-error">0</span>
											</div>
											<div class="span2">订单未提交： <span class="number text-info">0</span>
											</div>
											<div class="span2">挂起： <span class="number">0</span>
											</div>
											<div class="span2 text-right"><a class="text-info" target="_blank" href="#">查看详细&gt;&gt;</a>
											</div>
										</div>-->
									</div>

								</div>
							</div>

							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
								<div class="am-modal-dialog" style="border-radius:12px ;">
									<div class="am-modal-hd" style="text-align: left; border-bottom: 1px solid #ccc; font-weight: bold;">
										<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>头像上传
									</div>
									<div class="am-modal-bd" style="text-align: center;">
										<div style=" background: lightgoldenrodyellow; margin-top: 5px; color: red;">用户头像上传</div>
										<form action="{:U('Home/Usersj/uploadheadimg')}" method="post">
											<div class="controls">
												<input type="file" id="upload_picture">
												<input type="hidden" name="picurl" id="cover_id" value="" />
												<div class="upload-img-box">
												</div>
												<button class="am-btn-success" type="submit">确认上传</button>
											</div>
										</form>
										<script type="text/javascript">
											 //上传图片
											/* 初始化上传插件  */
											$("#upload_picture").uploadify({
												"height": 30,
												"swf": "__UPLOAD__/jquery-uploadify/3.2.1/uploadify.swf",
												"fileObjName": "download",
												"buttonText": "点击文字上传头像",
												"uploader": "{:U('Home/Index/uploadPicture',array('session_id'=>session_id()))}",
												"width": 120,
												'removeTimeout': 1,
												'fileTypeExts': '*.jpg; *.png; *.gif;',
												"onUploadSuccess": uploadPicture
											});

											function uploadPicture(file, data) {


												var data = $.parseJSON(data);
												var src = '';
												if (data.status) {
													$("#cover_id").val("{:C('SITE_URL')}" + data.path);
//													alert($("#cover_id").val());
													src = data.url || '__ROOT__' + data.path;
													$("#cover_id").parent().find('.upload-img-box').html(
														'<div class="upload-pre-item"><img width=' + 100 + ' height=' + 100 + ' src="' + src + '"/></div>'
													);
													//console.info('http://localhost/github/201506bbjie'+data.path);
													//alert($("#cover_id").val());
												} else {
                                                    alert_msg
													$.scojs_message(data.info, $.scojs_message.TYPE_OK);
												}
											}
										</script>

									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

		<include file='Widget/sjleft' />

	</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$('.close').click(function(){
				$('.alert').hide();
			})
		})
	</script>
</block>