<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>宝贝课堂</h1>
					<div>
						<ul class="sfkt">
							<li>
								<a href="#" data-toggle="modal2" modal-title="宝贝课堂：《创建搜索》">
									<div class="pm"></div>
									<div class="img" style="background: url(__IMG__/shitujie.jpg)  no-repeat center center">
									</div>
								</a>
								<div class="t">《创建搜索》</div>
							</li>
							<li>
								<a href="#" data-toggle="modal2" modal-title="宝贝课堂：《商家如何发布换宝活动》">
									<div class="pm"></div>
									<div class="img" style="background: url(__IMG__/shitujie.jpg) no-repeat center center">
									</div>
								</a>
								<div class="t">《商家如何发布宝贝活动》</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">

</block>