<!DOCTYPE html>
<html lang="zh-cn" dir="ltr">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>账户信息</title>
  <meta http-equiv="cleartype" content="on">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main" src="__JS__/main.js"></script>
  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="libs_common" src="__JS__/libs_common.js"></script>
  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="person/address" src="__JS__/address.js"></script>
  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="person/common" src="__JS__/common.js"></script>
  	

  <base href=".">
  <link rel="stylesheet" href="__CSS__/shangjia.css">
 
  <script type="text/javascript">
    var require = {urlArgs: 'v=45'};
    var SITE_URL = "#";
    var RES_URL = "#";
	</script>
  <script type="text/javascript" src="__JS__/require.min.js"></script>
  </head>
<!--[if IEMobile 7]><body class="iem7" ><![endif]-->
<!--[if lte IE 6]><body class="lt-ie9 lt-ie8 lt-ie7" ><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><body class="lt-ie9 lt-ie8" ><![endif]-->
<!--[if IE 8]><body class="lt-ie9" ><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><body><!--<![endif]-->
<div class="seller_header_wrap">
<div class="seller_header clearfix" style="background: url(__IMG__/header_main_bg.jpg);">
  <a class="logo" href="#" style=" background: url(__IMG__/logo.png) no-repeat 20px;"></a>
  <div class="pull-left gzt btn-group">
    <a class="shifu btn" href="#">试福</a>
    <a class="taofu btn" href="#">淘福</a>
  <a class="dropdown-toggle btn" data-toggle="dropdown" href="javascript:;">　账户关联　 <b class="caret"></b></a><ul role="menu" class="dropdown-menu pull-right"><li role="menuitem"><a tabindex="-1" href="#">关联店铺管理&gt;&gt;</a></li></ul>  </div>
  <a style="margin-top:57px; margin-left:20px;" class="text-info pull-left" href="#">试民淘宝号确认</a>
  <div class="topmenu">
    <ul class="clearfix">
      <li><div>您好，<span class="text-link">{$username}</span>
          <a href="#">[退出]</a></div>
      </li>
      <li class="shangjia"><a href="#">商家中心</a></li>
      <li><a href="#">回到首页</a></li>
            <li><a href="#">站内消息</a></li>
      <li class="bangzhu"><a href="#">帮助中心</a></li>
    </ul>
  </div>
</div>
</div>
<div></div>
	<div class="seller_main clearfix" controller="seller/common">
  <div class="seller_content_wrap">
    <div class="seller_content" style="padding-top: 10px;">
            
<div class="content">
  <h1>
  账户安全
  </h1>  <div>
    <table class="renzheng-table">
      <colgroup><col width="100px"><col width="620px"><col width="120px">
      </colgroup><tbody><tr>
        <td style="height:150px;">
          <img src="__IMG__/email_none.png" alt="">          <p>&nbsp;邮箱认证</p>
        </td>
        <td>
          <div style="width: 520px;">
                          <span class="text-warning">你尚未绑定邮箱</span>
                      </div>
        </td>
        <td>
          <a data-toggle="modal2" modal-title="绑定邮箱" class="btn btn-primary" href="#">　修改　</a>        </td>
      </tr>
    </tbody></table>

    <table class="renzheng-table">
      <colgroup><col width="100px"><col width="620px"><col width="120px">
      </colgroup><tbody><tr>
        <td style="height:150px;">
          <div style="margin-left: 10px;"><img src="__IMG__/phone_none.png" alt=""></div>
          <p>&nbsp;手机认证</p>
        </td>
        <td>
          <div style="width: 520px;">
                          <span class="text-warning">你尚未绑定邮箱</span>
                      </div>
        </td>
        <td>
          <a data-toggle="modal2" modal-title="更换认证手机号码" class="btn btn-primary" href="#">更换号码</a>        </td>
      </tr>
    </tbody></table>
  </div>
</div>    </div>
  </div>
  <div class="siderbar">
  
  <dl class="open">
    <dt class="s_vip">
      <span>账号管理</span>
    </dt>
    	<dd>
						<a class="" href="{:U('Home/Usersj/sj_zhxx')}"><span>账号信息</span></a>
					</dd>
					<dd>
						<a class="active" href="{:U('Home/Usersj/sj_zhaq')}"><span>账户安全</span></a>
					</dd>
					<dd>
						<a class="" href="{:U('Home/Usersj/sj_xgmm')}"><span>修改密码</span></a>
					</dd>
				</dl>

				<dl>
					<dt>

      <a class="" href="{:U('Home/Usersj/sj_znxx')}">站内消息</a>

    </dt>
					<dt class="s_money">

      <a class="" href="{:U('Home/Usersj/sj_zjgl')}">资金管理</a>

    </dt>
					<dt>

      <a class="" href="{:U('Home/Usersj/sj_viptd')}">VIP通道</a>

    </dt>
					<dt>

      <a class="" href="{:U('Home/Usersj/sj_sfkt')}">试福课堂</a>

    </dt>
  </dl>

  
  <div class="adorn_bottom"></div>
</div>
</div>
  <script type="text/javascript">
  var ready_do = true; $(document).trigger('ready_do');
</script></body></html>