<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<script src="__CDN__/select2/3.5.2/select2.js"></script>
	<link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<script type="text/javascript">
		$(function(){
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
				
			})
	</script>
</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">
				<div class="content">
					<h1>账户信息</h1>
					<div class="row">
						<div class="span10">
							<div class="widget-box">
								<div class="widget-title">
									<h5>商家认证信息</h5>
								</div>
								<div class="widget-content">
									<div class="form-wrap">

										<form  class="j_edit_form <eq name="entity['auth_status']" value="3">am-hide</eq> <eq name="entity['auth_status']" value="2">am-hide</eq>  <eq name="entity['auth_status']" value="1">am-hide</eq> form-horizontal edit_base_form"  action="{:U('Home/Usersj/edit_base')}" method="post" >

											<input type="hidden" value="{$entity['uid']}" name="id" id="form_id">
											<div class="control-group">
												<label class="control-label">会员名</label>
												<div class="controls">
													<input readonly="readonly" type="text" value="{$user.username}" name="" id="">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="ali_wang">绑定旺旺</label>
												<div class="controls">
													<input required="required" type="text" value="{$entity['aliwawa']}"  name="aliwawa" id="ali_wang"><span class="help-inline"><span class="required_label">*</span></span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="store_name">店铺名称</label>
												<div class="controls">
													<input required="required" type="text" value="{$entity['store_name']}" name="store_name" id="store_name"><span class="help-inline"><span class="required_label">*</span></span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="taobao_link">店铺网址</label>
												<div class="controls">
													<input class="span5" type="text" value="{$entity['store_url']}" name="store_url" id="taobao_link">
												</div>
											</div>

                                            <div class="control-group">
                                                <label class="control-label" for="region_id">所在地</label>

                                                <div class="controls j_address_show <empty name="entity['address']">am-hide</empty>">
                                                    <span>{$entity.address}</span>
                                                    <a href="javascript:void(0)" onclick="showAddress();">修改</a>
                                                </div>

                                                <div class="controls j_address_edit  <notempty name="entity['address']">am-hide</notempty>">
                                                    <select id="loc_province" style="width:120px;"></select>
                                                    <select id="loc_city" style="width:120px; margin-left: 10px"></select>
                                                    <select id="loc_town" style="width:120px;margin-left: 10px"></select>
                                                    <input type="hidden" name="sheng" class="sheng" />
                                                    <input type="hidden" name="shi" class="shi" />
                                                    <input type="hidden" name="qu" class="qi" />
                                                </div>

                                            </div>

                                            <div class="form-actions">
                                                <a class="am-btn am-btn-sm am-btn-danger ajax-post" target-form="edit_base_form" href="{:U('Home/Usersj/edit_base')}" >提交认证</a>
                                            </div>
											
										</form>

                                        <form class="j_info_form am-form am-form-horizontal <eq name="entity['auth_status']" value="0">am-hide</eq> ">

                                <eq name="entity['auth_status']" value="3"><div CLASS="am-u-sm-12 am-text-danger am-margin-bottom-sm">您的帐号信息正在重新审核中...</div>
                                    </eq>
                                <eq name="entity['auth_status']" value="2"><div CLASS="am-u-sm-12 am-text-danger am-margin-bottom-sm">您的帐号信息被驳回，请仔细检查是否填写正确</div>
                                    </eq>
                                <eq name="entity['auth_status']" value="1"><div CLASS="am-u-sm-12 am-text-danger am-margin-bottom-sm">您的资料已经认证成功,如果修改资料需要重新审核,请谨慎修改！</div>
                                </eq>


                                            <div class="am-form-group">
                                                <div class="am-u-sm-2 am-text-right">会员名</div>
                                                <div class="am-u-sm-10 ">
                                                    {$user.username}
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-2 am-text-right">绑定旺旺</div>
                                                <div class="am-u-sm-10 ">
                                                    {$entity.aliwawa}
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-2 am-text-right">店铺名称</div>
                                                <div class="am-u-sm-10 ">
                                                    {$entity.store_name}
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-2 am-text-right">店铺网址</div>
                                                <div class="am-u-sm-10 ">
                                                    {$entity.store_url}
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <a class="am-btn am-btn-sm am-btn-danger" onclick="showBaseForm();" href="javascript:void(0)" >重新认证</a>
                                            </div>
                                        </form>

                                    </div>
								</div>
							</div>

							<div class="widget-box">
								<div class="widget-title">
									<h5>任务相关</h5>
									<div class="sub_title">任务流程相关设置</div>
								</div>
								<div class="widget-content">
									<div class="form-wrap">
										<form class="form-horizontal fzr_form"  action="{:U('Home/Usersj/edit_fzr')}" method="post" >

											<input type="hidden" name="id" value="{$entity.uid}" >

											<div class="control-group">
												<label class="control-label" for="xs_wang">运单显示</label>
												<div class="controls">
													<input type="text" value="{$entity['waybill_show']}" name="ydxs" id="xs_wang"><span class="help-inline">宝贝活动中在物流单号上显示，默认显示旺旺号</span>
												</div>
											</div>
											
											<div class="control-group">
												<label class="control-label" for="renwu_fzr">任务负责人</label>
												<div class="controls">
													<input type="text"  name="rwfzr" id="renwu_fzr" value="{$entity['task_linkman']}" ><span class="help-inline">试民搜索进店、任务时寻求帮助</span>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label" for="renwu_tel">负责人电话</label>
												<div class="controls">
													<input  type="text" value="{$entity['task_linkman_tel']}" name="fzrdh" id="renwu_tel">
												</div>
											</div>

											<div class="control-group">
												<label class="control-label" for="renwu_qq">负责人QQ</label>
												<div class="controls">
													<input type="text" value="{$entity['task_linkman_qq']}" name="fzrqq" id="renwu_qq">
												</div>
											</div>

											<div class="form-actions">
                                                <a class="am-btn am-btn-sm am-btn-danger ajax-post" target-form="fzr_form" href="{:U('Home/Usersj/edit_fzr')}" >保存</a>
											</div>

										</form>
									</div>

								</div>
							</div>
							<div class="widget-box">
								<div class="widget-title">
									<h5>联系人信息</h5>
									<div class="sub_title">请确保联系人资料的正确性</div>
								</div>
								<div class="widget-content">
									<div class="form-wrap">
										<form class="form-horizontal form3"  action="{:U('Home/Usersj/edit3')}" method="post" >
											<input type="hidden" value="{$entity.uid}" name="id" >
											<div class="control-group">
												<label class="control-label" for="owner_name">联系人</label>
												<div class="controls">
													<input required="required" type="text" value="{$entity['linkman']}" name="lxr" id="owner_name"><span class="help-inline"><span class="required_label">*</span>处理宝贝街相关业务的负责人</span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="tel">电话</label>
												<div class="controls">
													<input required="required" type="text" value="{$entity['linkman_tel']}" name="tel" id="tel">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="im_qq">QQ</label>
												<div class="controls">
													<input type="text" value="{$entity['linkman_qq']}" name="qq" id="im_qq">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="im_msn">其他联系方式</label>
												<div class="controls">
													<input type="text"  value="{$entity['linkman_otherlink']}" name="qt" id="im_msn">
												</div>
											</div>
											<div class="form-actions">
                                                <a class="am-btn am-btn-sm am-btn-danger ajax-post" target-form="form3" href="{:U('Home/Usersj/edit3')}" >保存</a>

                                             </div>
										</form>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">
    <script type="text/javascript">
        function showAddress(){
            $(".j_address_edit").removeClass("am-hide");
            $(".j_address_show").addClass("am-hide");
        }
        function showBaseForm(){
            $(".j_edit_form").removeClass("am-hide");
            $(".j_info_form").addClass("am-hide");
        }
    </script>
	
</block>