<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
    <style type="text/css">
        .read_msg{
            color: #90A9B1;
        }
    </style>
</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>站内信</h1>
					<div>
						<ul class="nav nav-tabs" role="menu">
							<li class="active" role="menuitem"><a tabindex="-1" href="">全部消息</a>
							</li>
							<!--<li role="menuitem"><a tabindex="-1" href="">未读消息</a>
							</li>-->
						</ul>
					</div>

					<div class="jquery-once-1-processed">
						<div class="pb10">
						</div>
						<div id="xiaoxi-grid" class="grid-view" controller="extend/gridview" data-options="{&#39;ajaxUpdate&#39;:[&#39;xiaoxi-grid&#39;],&#39;ajaxVar&#39;:&#39;ajax&#39;,&#39;pagerClass&#39;:&#39;pagination text-center&#39;,&#39;loadingClass&#39;:&#39;grid-view-loading&#39;,&#39;filterClass&#39;:&#39;filters&#39;,&#39;tableClass&#39;:&#39;items table table-hover&#39;,&#39;selectableRows&#39;:2,&#39;enableHistory&#39;:false,&#39;updateSelector&#39;:&#39;{page}, {sort}&#39;,&#39;filterSelector&#39;:&#39;{filter}&#39;,&#39;pageVar&#39;:&#39;Xiaoxi_page&#39;,&#39;arg_id&#39;:&#39;Xiaoxi&#39;}">
							<table class="items table table-hover">
								<thead>
									<tr style="border: 1px solid #ccc; background: white; height: 37px;">
										<td style="display:none;">
											编号
										</td>
										<td class="text-center">是否阅读</td>
										<td>发件人</td>
										<td>主题</td>
										<td>发件时间</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									<empty name='list'>
										<tr>
											<td colspan="6" class="empty"><span class="empty">没有找到数据.</span>
											</td>
										</tr>
										<else/>
										<volist name="list" id="vo">

											<tr
                                            <if condition="$vo['msg_status'] eq 1">class="read_msg"</if> style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
												<td style="display:none;">
													{$vo.id}
													<input type="hidden" id="mbchakan{$vo.id}" value="{$vo.id}" />
												</td>
												<td class="text-center">
													<if condition="$vo['msg_status'] eq 0">未读</if>
													<if condition="$vo['msg_status'] eq 1">已读</if>
												</td>
                                                <td>
                                                    <span id="my-popover">
                                                        <eq name="vo['from_id']" value="0">
                                                            系统
                                                            <else/>
                                                            {$vo.nickname}
                                                        </eq>
                                                    </span>
                                                </td>

                                                <td>{$vo.summary}</td>
                                                <td>{$vo.create_time|date='Y-m-d h:i:s',###}</td>
                                                <td>
                                                    <a class="am-btn am-btn-danger "  href="{:U('Home/Usersj/detail',array('msg_box_id'=>$vo['msg_box_id'],'msg_id'=>$vo['msg_id']))}"><i class="am-icon-eye"></i>详细</a>
                                                    <!--<a  class="ajax-get am-btn am-btn-danger " href="{:U('Home/Index/del_msg',array('msg_id'=>$vo['msg_id']))}">删除</a>-->
                                                </td>

											</tr>
										</volist>
										</else>
									</empty>

								</tbody>
							</table>
							<div class="row-fluid">
								<div class="span6 offset3"></div>
								<div class="span3">{$show}</div>
							</div>
							<div class="keys" style="display:none" title="/seller/message/index_all"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">

</block>