<extend name="template/base_index" />

<block name="area_header">
    <!--<link rel="stylesheet" href="__CSS__/shangjia.css">-->
    <link rel="stylesheet" href="__CSS__/common.css">

	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/{$cfg.theme|default="simplex"}.min.css" />-->
	<script src="__CDN__/select2/3.5.2/select2.js"></script>
	<link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
	<style type="text/css">
		.yz li{ height: 55px;line-height: 40px;padding-left: 53px;}
		.yz i{color: #CCCCCC; font-size: 60px; float: left; font-size: 40px; }
		.am-modal-dialog{ }
		.am-modal-bd{ text-align: left;  padding: 10px; margin-left: 20px; font-size: 14px;}
		.am-modal-bd input{ margin-top: 5px; }.am-modal-bd select{ margin-top: 5px; }
		.am-modal-bd span{ font-size: 10px; }
		.bank tr td{font-size: 13px;}
		.am-icon-mobile{padding-left: 10px;}
	</style>
	<link type="text/css" rel="stylesheet" href="__CDN__/comp/wxuploader.css?v=__APP_VERSION__" />
	<link rel="stylesheet" type="text/css" href="__CDN__/nprogress/nprogress.css" />
	<link type="text/css" rel="stylesheet" src="__UPLOAD__/jquery-uploadify/3.2.1/uploadify.css" />
	<script type="text/javascript" src="__UPLOAD__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>
</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" >
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>资金管理</h1>
					<div class="am-cf  am-margin-bottom-sm">
						<div class="am-fl am-u-md-6">
							<div class="am-fl" style="width: 100%">
								<div><span class="t">资金概况</span>
									<button style="font-size: 12px ; text-align: center;" class="am-btn am-btn-primary am-btn-xs btn-fix-am" data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width:600, height: 700}">充值</button>&nbsp;
									<button style="font-size: 12px ; text-align: center;" class="am-btn am-btn-primary am-btn-xs btn-fix-am" data-am-modal="{target: '#doc-modal-3', closeViaDimmer: 0, width:600, height: 220}">提现</button>&nbsp;</div>

								<div class="am-u-g am-padding-sm">
									<div class="am-u-md-4">
										总余额
										<br>
										<div class="price am-text-danger">
											￥{:($user['coins']+$user['frozen_money'])}
                                        </div>
									</div>

									<div class="am-u-md-4">
										可用余额
										<br>
										<div class="price am-text-danger">
											￥{:number_format($user['coins'],2,".","")}
                                        </div>
									</div>
									<div class="am-u-md-4">
										冻结金额
										<br>
										<div class="price am-text-danger">
											{$user.frozen_money}
                                        </div>
									</div>

								</div>

							</div>
							<div class="am-fl ">
                                <span>提现账号 </span>
                                <button class="am-btn am-btn-primary am-btn-xs btn-fix-am" style="font-size:10px;" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 650, height: 420}">更换账号</button>

                                <div class="am-padding-sm">
                                <div class="am-fl">
                                     <div class="am-fl" style="width: 100px;">账户类型</div>
                                    <div class="am-fl" style="width: 160px;">账户号</div>
                                    <div class="am-fl" STYLE="width: 100px;">持卡人姓名</div>
                                    <div class="am-fl" STYLE="width: 120px;">开户信息</div>
                                </div>
                                <div class="am-fl">

                                    <div class="am-fl" style="width: 100px;">
                                        {$bank['bank_name']}
                                        <if condition=" $bank['poundage'] gt 0">
                                            <br/> <span class="am-text-warning">手续费({:number_format($bank['poundage']*100,2,".","")}%)</span>
                                        </if>
                                    </div>
                                    <div class="am-fl" style="width: 160px;">
                                        {$bank['bank_account']}
                                    </div>
                                    <div class="am-fl" STYLE="width: 100px;">

                                        {$bank['cardholder']}
                                    </div>
                                    <div class="am-fl" STYLE="width: 120px;">
                                        {$bank['province']}{$bank['city']}
                                    </div>
                                </div>
                                </div>

							</div>
						</div>

						<div class="am-fl am-u-md-6">
							<div class="r1">
								<div class="t">商家充值流程</div>
								<div class="p20"></div>
								<div class="am-text-warning">
									一、从以下收款账户内选择自己方便转账的银行账户进行转账；
									<br> 二、转账成功后，点击【充值】按钮；
									<br> 三、按账户充值提示，选择自己所充值的银行账户、填入充值金额、交易流水号或上传交易凭证；
									<br> 四、核对信息无误后，点击【提交】即可。
									<br>
									<div class="text-warning">小提示：转账时请务必按照【宝贝街账号+用途】的格式进行备注；</div>
								</div>
							</div>
						</div>

					</div>

                    <hr/>



                    <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">

                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li <eq name="tab" value="0">class="active"</eq> ><a tabindex="-1" href="javascript:void(0);">帐号收支明细</a>
                            </li>
                            <li <eq name="tab" value="1">class="active"</eq> ><a tabindex="-1" href="javascript:void(0);">提现明细记录</a>
                            </li>
                            <li  <eq name="tab" value="2">class="active"</eq> ><a tabindex="-1" href="javascript:void(0);">充值明细记录</a>
                            </li>
                        </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <table class="price-table am-table am-table-hover">
                                <thead>
                                <tr>
                                    <th width="120" id="goodsorder-grid_c0">交易编号</th>
                                    <th width="200" id="goodsorder-grid_c1">
                                        交易时间
                                    </th>
                                    <th width="150" id="goodsorder-grid_c2">名称｜备注</th>
                                    <th width="100" id="goodsorder-grid_c3">收入</th>
                                    <th width="100" id="goodsorder-grid_c4">支出</th>
                                    <th width="100" id="goodsorder-grid_c4">余额</th>
                                    <th width="100" id="goodsorder-grid_c4">冻结资金</th>
                                    <th width="100" id="goodsorder-grid_c5">类型</th>
                                </tr>
                                </thead>
                                <tbody>
                                <empty name="all">
                                    <tr>
                                        <td colspan="6" class="empty"><span class="empty">没有找到数据.</span>
                                        </td>
                                    </tr>
                                    <else />
                                    <volist name="all" id="v">
                                        <tr>
                                            <td>{$v.id}</td>
                                            <td>{$v.create_time|date='Y-m-d H:i:s',###}</td>
                                            <td>{$v.notes}</td>
                                            <td>
                                                <if condition="$v['income'] gt 0">
                                                    +{$v.income}
                                                </if>
                                            </td>
                                            <td>
                                                <if condition="$v['defray'] gt 0">
                                                    -{$v.defray}
                                                </if>
                                            </td>
                                            <td>{$v.left_money}</td>
                                            <td>{$v.frozen_money}</td>
                                            <td>{$v.dtree_type_name}</td>
                                        </tr>
                                    </volist>
                                    <tr>
                                        <td colspan="8">{$show}</td>
                                    </tr>

                                </empty>

                                </tbody>
                            </table>

                        </div>
                        <div class="am-tab-panel">
                            <table class="price-table am-table am-table-hover"  >
                            <thead>
                            <tr>
                                <th width="80">
                                    编号
                                </th>
                                <th width="100" >
                                    提现金额
                                </th>
                                <th width="140">
                                    申请时间
                                </th>
                                <th width="140" >
                                    提现时间
                                </th>
                                <th width="120">
                                    提现状态
                                </th>
                                <th width="200">
                                    提现信息
                                </th>
                                <th width="100" >余额</th>
                                <th width="100">冻结资金</th>
                                <th >
                                    备注
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <empty name="list_3">
                                <tr>
                                    <td colspan="6" class="empty"><span class="empty">没有找到数据.</span>
                                    </td>
                                </tr>
                                <else />
                                <volist name="list_3" id="vo">
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>-{$vo.defray}</td>
                                        <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                        <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                        <td><if condition="$vo.status eq 1">正常</if><if condition="$vo.status eq 2">审核中</if><if condition="$vo.status eq 3">冻结中</if></td>
                                        <td>
                                            提现
                                        </td>
                                        <td>{$vo.left_money}</td>
                                        <td>{$vo.frozen_money}</td>
                                        <td>{$vo.notes}</td>
                                    </tr>
                                </volist>
                                <tr><td colspan="9">{$show_3}</td></tr>
                            </empty>
                            </tbody>
                        </table>
                        </div>
                        <div class="am-tab-panel">
                            <table class="price-table am-table am-table-hover" >
                                <thead>
                                <tr>
                                    <th width="60" id="goodsorder-grid_c0">
                                        编号
                                    </th>

                                    <th width="80" id="goodsorder-grid_c2">
                                        充值金额
                                    </th>

                                    <th width="200" id="goodsorder-grid_c4">提交时间</th>
                                    <th width="100" id="goodsorder-grid_c5">处理结果</th>
                                    <th width="100" id="goodsorder-grid_c3">变动原因</th>
                                    <th width="100" id="goodsorder-grid_c4">余额</th>
                                    <th width="100" id="goodsorder-grid_c4">冻结资金</th>
                                    <th id="goodsorder-grid_c6">系统备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                <empty name="list_1">
                                    <tr>
                                        <td colspan="6" class="empty"><span class="empty">没有找到数据.</span>
                                        </td>
                                    </tr>

                                    <else />
                                    <volist name="list_1" id="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>+{$vo.income}</td>
                                            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                            <td><if condition="$vo.status eq 1">正常</if><if condition="$vo.status eq 2">审核中</if><if condition="$vo.status eq 3">冻结中</if></td>
                                            <td><if condition="$vo.dtree_type eq 1">后台充值</if>
                                            </td>
                                            <td>{$vo.left_money}</td>
                                            <td>{$vo.frozen_money}</td>
                                            <td>{$vo.notes}</td>
                                        </tr>
                                    </volist>
                                    <tr><td colspan="6">{$show_1}</td></tr>
                                </empty>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

				</div>
			</div>
		</div>


		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">更换提现账号
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
					<div class="am-modal-bd am-cf" >
                        <form action="{:U('Home/SJMoney/addbank')}" class="j_bank_form am-form  am-form-horizontal" method="post">
                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3  am-form-label">开户行</label>
                                <div class="am-u-md-9" >
                                    <select name="bank_type" class="j_bank am-form-field">
                                    <option value="">请选择</option>
                                    <volist name="bank_list" id="vo">
                                        <option data-bank-name="{$vo.name}" data-extra="{$vo.notes}" data-hidden-value="{$vo.hidden_value}" value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>

                                    <div><span class="j_notes am-text-warning"></span></div>
                                    <input type="hidden" name="bank" value="" class="j_bank_name" />
                                    <input type="hidden" name="poundage" value="0" class="j_hidden_value" />
                                </div>
                            </div>

                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3 am-form-label">持卡人姓名</label>
                                <div class="am-u-md-9" >
                                    <input type="text" name="name"  class="am-form-field"  value="" />
                                </div>
                            </div>
                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3  am-form-label">开户信息</label>
                                <div class="am-u-md-9" >
                                    <select id="loc_province" style="width:120px; margin-top: 5px;"></select>
                                    <select id="loc_city" style="width:120px; margin-left: 10px;margin-top: 5px;"></select>
                                </div>
                            </div>
                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3  am-form-label">银行卡号或支付宝账户</label>
                                <div class="am-u-md-9" >
                                    <input type="text" name="bank_num"   class="am-form-field"  />
                                </div>
                            </div>
                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3  am-form-label">登录密码</label>
                                <div class="am-u-md-9" ><input type="password" name="pwd"  class="am-form-field"  value="" />
                                    <input type="hidden" name="sheng" class="sheng" />
                                    <input type="hidden" name="shi" class="shi" />
                                </div>
                            </div>
                            <div class="am-form-group am-u-g">
                                <label class="am-u-md-3  am-form-label">&nbsp;</label>
                                <div class="am-u-md-9" >
                                    <a href="{:U('Home/SJMoney/addbank')}"  class="am-btn-danger am-btn am-btn-xs ajax-post" target-form="j_bank_form" >确认</a>
                                </div>
                            </div>
                        </form>
					</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
		<div class="am-modal-dialog" style="border-radius:12px ;">
			<div class="am-modal-hd" style="text-align: left; border-bottom: 1px solid #ccc; font-weight: bold;">账户充值
				<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			</div>
			<div class="am-modal-bd" style="text-align: center;">
				<div style=" background: lightgoldenrodyellow; margin-top: 5px; color: red;">转账时请备注你的宝贝街账号 "{$username}"</div>
				<form class="j_zjgl_form" action="{:U('Home/SJMoney/recharge')}" method="post" enctype="multipart/form-data">
				<table style=" width: 100%;color: #666;">
					<tr>
						<td style="width: 20%;" align="right">收款帐号:</td>
						<td align="left" style="padding: 10px;">
							<select name="zhanghao" style="width:300px;height: 30px; border-radius: 5px;border: 1px solid #ccc;">
								<option>请选择</option>
                                <volist name="receipts_account" id="vo">
                                    <option value="{$vo['name']}">{$vo.name}</option>
                                </volist>
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">充值金额:</td>
						<td align="left" style="padding: 10px;">
							<input name="money" type="number" style="width:150px;height: 30px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;border: 1px solid #ccc;" />元
						</td>
					</tr>
					<tr>
						<td align="right">交易流水号:</td>
						<td align="left" style="padding: 10px;">
							<input name="stnum" style="width:350px;height: 30px;border-radius: 5px; border: 1px solid #ccc;" />
						</td>
					</tr>
					<tr>
						<td align="right">交易凭证:</td>
						<td align="left" style="padding: 10px;">
							
						<div class="controls">
							<input type="file" id="upload_picture">
							<input type="hidden" name="picurl" id="cover_id" value="" />
							<div class="upload-img-box">
							</div>
						</div>
						<script type="text/javascript">
											//上传图片
										    /* 初始化上传插件  */
											$("#upload_picture").uploadify({
										        "height"          : 30,
										        "swf"             : "__UPLOAD__/jquery-uploadify/3.2.1/uploadify.swf",
										        "fileObjName"     : "download",
										        "buttonText"      : "上传图片",
										        "uploader": "{:U('Home/Index/uploadPicture',array('session_id'=>session_id()))}",
										        "width"           : 120,
										        'removeTimeout'	  : 1,
										        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
										        "onUploadSuccess" : uploadPicture
										    });
											function uploadPicture(file, data){
										    	var data = $.parseJSON(data);
										    	var src = '';
										        if(data.status){
										        	
										        	$("#cover_id").val("{:C('SITE_URL')}"+data.path);
										        	src = data.url || '__ROOT__' + data.path;
										        	$("#cover_id").parent().find('.upload-img-box').html(
										        		'<div class="upload-pre-item"><img width='+50+' height='+50+' src="' + src + '"/></div>'
										        	);
										        	//console.info('http://localhost/github/201506bbjie'+data.path);
										        	//alert($("#cover_id").val());
										        } else {
										        	//alert(data.status);
													$.scojs_message(data.info , $.scojs_message.TYPE_OK);
										        	
										        }
										    }
						</script>
							
							
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<button type="submit" target-form="j_zjgl_form" class="ajax-post am-btn am-btn-primary am-radius am-btn-sm">
								提交
							</button>
                            <a href="javascript: void(0)" class=" am-btn am-btn-default am-radius am-btn-sm" data-am-modal-close>取消</a>
						</td>
					</tr>
				</table>
			</form>
				<div style=" width: 100%; background:#F4F0C1;color:#666;text-align: left;padding:3px;padding-left:10px; border-radius: 12px; margin-top: 10px;">
					<ul>
						<li style="color:black;font-size: 13px; font-weight: bold; margin-top: 10px;">注意事项：</li>
						<li style="margin-top: 5px;">1.所有转帐请认准收款人姓名,并请复制帐号后粘贴使用!</li>
						<li style="margin-top: 5px;">2.转帐时请备注你的用户名及用途!</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-3">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">提现
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form class="j_deposit_form am-form am-form-horizontal" action="{:U('Home/SJMoney/deposit')}" method="post">
					<div class="">
						<label class="am-u-sm-3 am-form-label">请输入提现金额：</label>
                        <div class="am-u-sm-9 ">
						<input type="number" name="money" id="money"  class="am-form-field"/>
                        </div>
						<br /><span style="font-size: 12px; color: forestgreen;">提现金额不得大于总金额(￥{$user.coins})</span>
					</div>
                    <a target-form="j_deposit_form" href="{:U('Home/SJMoney/deposit')}" class="ajax-post am-btn am-btn-sm am-btn-primary">确认</a>
				</form>
			</div>
		</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
            $(".j_bank").change(function(){
                var $ele = $(".j_bank").find("option:selected");
                var notes =  $ele.data('extra');
                var hidden_value =  $ele.data('hidden-value');
                var bank_name = $ele.data('bank-name');
                $(".j_bank_form .j_notes").text(notes);
                $(".j_bank_form .j_hidden_value").val(hidden_value);
                $(".j_bank_form .j_bank_name").val(bank_name);

            });
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
				$('#tixian').click(function(){
                    var coins = {$user.coins};
					if( coins  <1){
						alert('不能提现，提现金额最低为1元');
					}
				})
				$('#qr').click(function(){
                    var coins = {$user.coins};
					if($('#money').val() > coins ){
				  		alert('你还没有这么多钱！！');
				  		return false;
					}
				})
				 $('#doc-form-file').on('change', function() {
			      var fileNames = '';
			      $.each(this.files, function() {
			        fileNames += '<span class="am-badge">' + this.name + '</span> ';
			      });
			      $('#file-list').html(fileNames);
			    });

				
			})
	</script>
	
	<script type="text/javascript">
		$(function() {
			//图片上传
		//	wxuploadimg.init({cont:".wxuploaderimg"});
			//
			$(".js_frm_gp_buylimit input[type=radio]").click(function(){
				console.log($(this).val());
				console.log($(".js_frm_gp_buylimit input[type=text]"));
				if($(this).val() == 1){
					$(".js_frm_gp_buylimit input[type=text]").removeClass("hidden");
				}else{
					$(".js_frm_gp_buylimit input[type=text]").addClass("hidden");
				}
			});
			
//			$(".has_sku").click(function(ev){
//				if($(this).val() == 1){
//					//多规格
//					$(".js_frm_gp_sku").hide();
//					$(".js_sku_list").show();
//				}else{
//					//
//					$(".js_frm_gp_sku").show();
//					$(".js_sku_list").hide();
//				}
//			})
		})
	</script>
</block>