<extend name="template/base_index" />

<block name="area_header">

	<link rel="stylesheet" href="__CSS__/shangjia.css">
	
</block>

<block name="area_body">

	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>  账户安全  </h1>
					<div>

						<table class="renzheng-table">
							<colgroup>
								<col width="100px">
									<col width="620px">
										<col width="120px">
							</colgroup>
							<tbody>
								<tr>
									
									<td>
										<div style="width: 520px; padding: 50px;">
											<if condition="$entity['email'] eq ''">
												<i class="am-icon-envelope-o" font-size: 60px;width: 80px; margin-left: 15px;></i>
											<span class="text-warning">你尚未绑定邮箱</span>
											<else/>
											<i class="am-icon-envelope-o" style="color: deeppink; font-size: 60px;width: 80px; margin-left: 15px;"></i>
											<span class="text-success">你已绑定邮箱[ {$entity['email']}]</span>
											</if>
										</div>
									</td>
									<td>
										

										<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1" >
											<div class="am-modal-dialog">
												<div class="am-modal-hd">邮箱验证
													<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
												</div>
												<form action="{:U('Home/Usersj/email')}" method="post">
													<div class="am-modal-bd">
														<input type="hidden" name="id" value="{$entity['id']}" />
														<input type="text" name="email" value="{$entity['email']}">
														<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
													</div>
												</form>
											</div>
										</div>
										<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2" >
											<div class="am-modal-dialog">
												<div class="am-modal-hd">手机更换
													<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
												</div>
												<form action="{:U('Home/Usersj/phone')}" method="post">
													<div class="am-modal-bd">
														<input type="hidden" name="id" value="{$entity['id']}" />
														<input type="text" class="email" name="phone" value="{$entity['mobile']}">
														<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
													</div>
												</form>
											</div>
										</div>
										
										<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 60px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">修改</button>
								</tr>
							</tbody>
						</table>

						<table class="renzheng-table">
							<colgroup>
								<col width="100px">
									<col width="620px">
										<col width="120px">
							</colgroup>
							<tbody>
								<tr>
									
									<td>
										<div style="width: 520px; padding: 50px;">
											<if condition="$entity['mobile'] eq ''">
												<i class="am-icon-mobile" style="font-size: 60px;width: 80px; margin-left: 15px;"></i>
											<span class="text-warning">你尚未绑定手机</span>
											<else/>
											<i class="am-icon-mobile" style="color: deeppink; font-size: 60px; width: 80px; margin-left: 15px;"></i>
											<span class="text-success">你已绑定手机[ {$entity['mobile']}]</span>
											</if>
										</div>
									</td>
									<td>
									<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 60px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;" data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 400, height: 225}">更换</button>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>

</block>

<block name="area_footer">

</block>