<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>站内信</h1>
					<div>
						<ul class="nav nav-tabs" role="menu">
							<li class="active" role="menuitem"><a tabindex="-1" href="">全部消息</a>
							</li>
							<li role="menuitem"><a tabindex="-1" href="">未读消息</a>
							</li>
						</ul>
					</div>

					<div class="jquery-once-1-processed">
						<div class="pb10">
							<a data-target="#xiaoxi-grid" controller="extend/grid_do" data-confirm="确定要删除这些消息么？" class="btn grid_do-processed" href="http://www.shifujie.net/seller/message/delete_sel">删除</a>
							<a data-target="#xiaoxi-grid" controller="extend/grid_do" class="btn grid_do-processed" href="http://www.shifujie.net/seller/message/biaoji_sel">标记为已读</a> </div>
						<div id="xiaoxi-grid" class="grid-view" controller="extend/gridview" data-options="{&#39;ajaxUpdate&#39;:[&#39;xiaoxi-grid&#39;],&#39;ajaxVar&#39;:&#39;ajax&#39;,&#39;pagerClass&#39;:&#39;pagination text-center&#39;,&#39;loadingClass&#39;:&#39;grid-view-loading&#39;,&#39;filterClass&#39;:&#39;filters&#39;,&#39;tableClass&#39;:&#39;items table table-hover&#39;,&#39;selectableRows&#39;:2,&#39;enableHistory&#39;:false,&#39;updateSelector&#39;:&#39;{page}, {sort}&#39;,&#39;filterSelector&#39;:&#39;{filter}&#39;,&#39;pageVar&#39;:&#39;Xiaoxi_page&#39;,&#39;arg_id&#39;:&#39;Xiaoxi&#39;}">
							<table class="items table table-hover">
								<thead>
									<tr>
										<th width="50" class="text-center" id="xiaoxi-grid_c0">
											<input class="select-on-check-all" type="checkbox" value="1" name="" id="">
										</th>
										<th width="80" id="xiaoxi-grid_c1">是否已读</th>
										<th width="80" id="xiaoxi-grid_c2">发件人</th>
										<th id="xiaoxi-grid_c3">主题</th>
										<th id="xiaoxi-grid_c4">消息时间</th>
										<th width="100" class="text-center" id="xiaoxi-grid_c5">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="6" class="empty"><span class="empty">没有找到数据.</span>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row-fluid">
								<div class="span6 offset3"></div>
								<div class="span3"></div>
							</div>
							<div class="keys" style="display:none" title="/seller/message/index_all"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">

</block>