<extend name="template/base_index" />


<block name="area_header">

    <style type="text/css">
        .form-horizontal .control-label{
            padding-top:0px;
        }
    </style>

</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
            <a class="btn btn-sm btn-default" href="javascript:history.back(-1);">
                <i class="fa fa-reply"></i> 返回
            </a>

            <div class="padding-sm">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
                    <li role="presentation"><a href="{:U('Admin/BBJVIP/view_user_wallet',array('id'=>I('get.id',0)))}" >余额变动</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 带验证 form -->
                        <form class="form-horizontal validateForm">
                            <fieldset>
                                <legend>
                                    用户基本信息</legend>
                                <div class="form-group">
                                    <label  class="col-md-2 col-lg-2 control-label">用户ID</label>
                                    <div class="col-md-10 col-lg-10">
                                        {$user_info.id}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 col-lg-2 control-label">用户登录账户</label>
                                    <div class="col-md-10 col-lg-10">
                                        <span> {$user_info.username}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-md-2 col-lg-2 control-label">手机</label>
                                    <div class="col-md-10 col-lg-10">
                                        <div> {$user_info.mobile}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 col-lg-2 control-label">淘宝/阿里旺旺</label>
                                    <div class="col-md-10 col-lg-10">
                                        <div class="">{$user_info.taobao_account}/{$user_info.aliwawa}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputtitle" class="col-md-2 col-lg-2 control-label">注册时间</label>
                                    <div class="col-md-10 col-lg-10">
                                        <div class="">{$user_info.reg_time|date='Y-m-d h:i:s',###}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label   class="col-md-2 col-lg-2 control-label">余额</label>
                                    <div class="col-md-10 col-lg-10">
                                        <div class="">{$user_info.money} 元</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-lg-2 control-label">冻结资金</label>
                                    <div class="col-md-10 col-lg-10">
                                        <div class="">{$user_info.frozen_money} 元</div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">

                    </div>
                </div>

            </div>





		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">
</block>