<extend name="template/base_index" />


<block name="area_header">

	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<div class="filter-controls">
				<!-- 条件查询 -->
				<form action="{:U('Admin/BBJVIP/managersj')}" method="post" class="searchForm form-inline">
					<div class="form-group row   col-lg-12 col-md-12">
						<div class="input-group">
							<div class="input-group-addon">用户名称</div>
							<input type="text" name="username" style="height: 40px; margin-left: 5px;" placeholder="请输入用户名称">
							<button class="btn" type="submit" style="margin-left: 20px; height: 40px; background-color: green; color: #FFFFFF;" >搜索</button>
						</div>
						
					</div>
					
				</form>
			</div>
				<table class="table table-striped table table-hover  table-condensed">
					<thead>
						<tr>
							<th>
								<input type="checkbox" class="selectall" onclick="myUtils.selectall(this,'.selectitem');" />
							</th>
							<th>
								用户ID
							</th>
							<th>
								商家昵称
							</th>
							<th>
								邮箱
							</th>
							<th>
								手机
							</th>
							<th>
								旺旺号
							</th>
							<th>
								时间
							</th>
							
							<th>
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						<volist name="user" id="vo">
								<volist name='jilu' id='v'>
									<if condition="$v['uid'] eq $vo['id']">
									<tr>
										<td>
											<input type="checkbox" value="{$vo.id}" name="ids[]" class="selectitem" /></td>
										<td>
											{$v.id}
										</td>
										
										<td>
											{$vo.username}
											
										</td>
										<td>
											{$vo.email}
										</td>
										<td>
											{$vo.mobile}
										</td>
										<td>
											{$v.taobao_account}
										</td>
										<td>
											{$v.create_time|date='Y-m-d h:i:s',###}
										</td>
										<td>
											<if condition="$v['auth_status'] eq 1">审核通过</if>
											<if condition="$v['auth_status'] eq 0">待审核</if>
											<if condition="$v['auth_status'] eq 3">审核失败</if>
										</td>
										<td>
										<a href="{:U('Admin/BBJVIP/view',array('id'=>$vo['id']))}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i>查看</a>
										<!--<a href="{:U('Admin/BBJVIP/edit',array('id'=>$vo['id']))}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i>编辑</a>-->
										<a href="{:U('Admin/BBJVIP/delete_sj',array('id'=>$vo['id']))}" class="ajax-get confirm btn btn-sm btn-danger"><i class="fa fa-trash"></i>删除</a>
									</td>
									</tr>
									</if>
								</volist>
							</volist>
					</tbody>
				</table>
				<div>{$show}</div>
			</div>

			<script type="text/javascript">
				$(function() {
						$('#startdatetime').datetimepicker({
							lang: 'ch',
							format:'Y-m-d',
							timepicker:false,
						});
						$('#enddatetime').datetimepicker({
							lang: 'ch',
							format:'Y-m-d',
							timepicker:false,
						});
				});
			</script>
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

</block>