<ul class="shifu_nav clearfix" style="position: relative;left: 0;width: 600px;">
								<li><a href="{:U('Home/SJActivity/sj_tbhd')}">开启中</a></li>
								<li><a href="{:U('Home/SJActivity/sj_waiting')}">审核订单</a><font color="red">{$ddsh} </font> </li>
								<li><a href="{:U('Home/SJActivity/sj_qrhk')}">确认还款</a><font color="red">{$qrhk}</font> </li>
							<li><a href="#">挂起中</a> </li>
								<li><a href="{:U('Home/SJActivity/sj_pingtai')}">平台发货</a> </li>
								<li><a href="#">试民收货</a> </li>
								<li><a href="#">未开始</a><font color="red">{$wtj}</font>  </li>
								<li><a href="#">已驳回</a> </li>
							</ul>
							
