<style type="text/css">
	
	.siderbar{ font-family: "微软雅黑" ;}
</style>

<div class="siderbar">

	<if condition="$auth_status eq 1">
		<dl class="open">
			<dt class="s_zhanghao">
                <span>活动准备</span>
            </dt>
			<dd>
                <a class="" href="{:U('Home/SJActivity/productmanager')}">商品管理</a>
			</dd>
			<dd>
                <a class="" href="{:U('Home/SJActivity/productsele')}">搜索管理</a>
			</dd>
		</dl>
		<dl class="open">
			<dt class="s_task">
                <span>活动管理</span>
            </dt>
			<dd>
                <a class="" href="{:U('Home/SJActivity/sj_tbhd')}">淘宝活动</a>
			</dd>
			<dd>
                <!--<a class="" href="{:U('Home/SJActivity/activity_1')}">发布换宝任务</a>-->
			</dd>
		</dl>
	</if>

	<dl class="open">
		<dt class="s_vip"><span>账号管理</span></dt>
		<dd>
			<a class="" href="{:U('Home/Usersj/sj_zhxx')}"><span>账号信息</span></a>
		</dd>
		<dd>
			<!--<a class="" href="{:U('Home/Usersj/sj_zhaq')}"><span>账户安全</span></a>-->
		</dd>
		<dd>
			<a class="" href="{:U('Home/Usersj/sj_xgmm')}"><span>修改密码</span></a>
		</dd>
	</dl>

	<dl>
		<dt>
            <a class="" href="{:U('Home/Usersj/sj_znxx')}">站内消息</a>
        </dt>
		<dt class="s_money">
            <a class="" href="{:U('Home/Usersj/sj_zjgl')}">资金管理</a>
        </dt>
		<dt>
            <a class="" href="{:U('Home/Usersj/sj_viptd')}">VIP通道</a>
        </dt>
	</dl>

</div>