<div class="siderbar">
	<dl class="open">
		<dt class="s_zhanghao">

		        <span>活动准备</span>

		      </dt>
		<dd><a class="" href="{:U('Home/SJActivity/productmanager')}"><span>商品管理</span></a>
		</dd>
		<dd><a class="" href="#"><span>搜索管理</span></a>
		</dd>
		<dd><a class="" href="#"><span>评语库</span></a>
		</dd>
		<dd><a class="" href="#"><span>发布试福任务</span></a>
		</dd>
	</dl>
	<dl class="open">
		<dt class="s_task">

		        <span>活动管理</span>

		      </dt>
		<dd><a class="" href="#"><span>淘宝活动</span></a>
		</dd>
		<dd><a class=" " href="#"><span>收藏活动</span></a>
		</dd>
	</dl>
	<dl class="open">

		<dt class="s_vip">



      <span>账号管理</span>



    </dt>
		<dd>
			<a class="" href="{:U('Home/Usersj/sj_zhxx')}"><span>账号信息</span></a>
		</dd>
		<dd>
			<a class="" href="{:U('Home/Usersj/sj_zhaq')}"><span>账户安全</span></a>
		</dd>
		<dd>
			<a class="" href="{:U('Home/Usersj/sj_xgmm')}"><span>修改密码</span></a>
		</dd>
	</dl>

	<dl>
		<dt>



      <a class="" href="{:U('Home/Usersj/sj_znxx')}">站内消息</a>



    </dt>
		<dt class="s_money">



      <a class="" href="{:U('Home/Usersj/sj_zjgl')}">资金管理</a>



    </dt>
		<dt>



      <a class="" href="{:U('Home/Usersj/sj_viptd')}">VIP通道</a>



    </dt>
		<dt>



      <a class="" href="{:U('Home/Usersj/sj_sfkt')}">试福课堂</a>



    </dt>
	</dl>

	<div class="adorn_bottom"></div>
</div>