<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<link rel="stylesheet" href="__CSS__/rws.css">
</block>

<block name="area_body">
	<div controller="person/common">

		<div controller="person/renwu3" class="renwu3-processed">
			<div class="head_wrap clearfix">
				<div class="renwu_head">

					<div class="renwu_nav">
						<ul class="clearfix">
							<li class="l-ico"></li>
							<li>
								<a href="#" class="active">正常模式</a>
							</li>

							<li>
								<a href="#">手机模式</a>
							</li>
							<li class="r-ico"></li>
						</ul>
					</div>

					<div class="clearfix">
						<div class="body">
							<div class="lc">

								进店流程概述：
								<br> 1、清除浏览器cookies，使用淘宝号“
								<em>{$user.taobao_account}</em>”登录淘宝；<span class="tishi">如何清除cookie？ <span class="tip"></span></span>
								<br> 2、搜索关键字“
								<em>{$search.search_q}</em>”，并按筛选要求缩小搜索范围；
								<br> 3、Ctrl+F“
								<em>{$pd.aliwawa}</em>”核对店铺旺旺；
								<br> 4、货比三家后，进入店铺；
								<br> 5、多点开几款宝贝浏览，并
								<em>收藏</em>宝贝；
								<br> 6、进店后需与商家旺旺
								<em>聊天</em>，若商家旺旺不在线，询问几句可直接下单；
								<br> 7、店铺停留时间不低于
								<em>10分钟</em>，严禁秒拍！
								<br> </div>
							<hr> 注意事项：
							<br> 1、禁止使用“
							<em>淘宝客</em>”“<em>返利网</em>”“<em>天猫积分</em>”“<em>淘金币</em>”等有损商家利益的方式下单；
							<br> 2、使用“
							<em>信用卡</em>”、“<em>花呗</em>”下单付款，平台将按实际下单金额的1%扣除手续费；
							<br>
						</div>
					</div>

				</div>
			</div>
			<div style="height: 40px;"></div>

			<div class="renwu_widget">
				<div class="h"></div>
				<div class="renwu_widget_box clearfix">
					<h2>

      <span class="t">进入店铺</span>

      <div class="sub_t">请核对商家的“旺旺”，确保下单无误</div>

    </h2>

					<div class="tip">
						<i></i>如果逛过各类导购返利网站，开始任务前请记得先清除浏览器缓存(如果您不确定，那也最好操作下)
					</div>

					<div class="body">

						<div class="c">
							<div class="m20">
								<div>1、打开淘宝网址：http://www.taobao.com 登录淘宝账号</div>
								<p class="keywords_p" unselectable="on" onselectstart="return false;">
									<span>{$search.search_q}</span>
								</p>
							</div>

							<div class="m20">
								<div>2、按照筛选要求进一步缩小搜索结果范围</div>

								<div style="padding: 10px;background: #eee;color:#222;margin-bottom: 20px;">
									<p>&gt;&gt; {$search.search_condition}</p>

									<p>&gt;&gt; {$search.search_order}</p>

									<p>价格区间:
										<input style="width:60px;" readonly="readonly" type="text"> -
										<input style="width:60px;" readonly="readonly" type="text" value="100.00">
									</p>

									<p>旺旺在线</p>
								</div>
							</div>
							<div class="m20">
								<div>3 、按下：<em>Ctrl+F</em>左上角搜索框输入“<em>{$pd.aliwawa}</em>” 查找当前页 (浏览器不同搜索框位置可能有所偏差)
									<br>
									<small class="muted" style="font-weight: 400;">如果筛选结果一步中未作特殊说明的话，一般在前5页就能找到对应商品。如果未找到，也请您耐心再翻两页</small>
								</div>
								<p class="ctrl_f" unselectable="on" onselectstart="return false;">
									<span>{$pd.aliwawa}</span>
								</p>
							</div>

							<div class="m20">
								<div>4、你可以将第3步中找到的商品与下图比较进入店铺</div>
								<p style="font-size:12px;color:#fc3ac3;font-weight: 400;">
									ps:搜索商品与试用品/任务商品不一定相关,下单时请以任务书为准
								</p>

								<div unselectable="on" onselectstart="return false;">
									<div class="theme_taobao_item_wrap">
										<div class="theme_taobao">
											<img class="img" src="{$pd.main_img}" alt="">
											<div class="row-1">
												<span class="pull-right">XX人付款</span>
												<span class="price">
                									<span>¥</span> {$task.task_gold} 
												</span>
											</div>
											<div class="row-2"><i class="title_msk"></i> {$pd.title} </div>
											<div class="row-3">
												<div class="pull-right">XX XX</div>
												<i class="goods_store"></i><span>{$pd.wangwang}<i class="ali_wang"></i></span>
											</div>
											<div class="row-4">
												<i class="pull-right wangwang"></i> &nbsp;
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m20" controller="person/renwu_sousuo" sec_sousuo_url="#" sec_sousuo_data="{&#39;policy&#39;:&#39;SCNhUZPBAR5O8Wdc52qMlqGEOifCYJlXpzb0dQvaHcP6Y7Hh0gbD02pgyQCxDDnP&#39;}">
								<div>5、核对旺旺号</div>
								<div>
									<div class="input-append">
										<input placeholder="请在这里输入找到的旺旺号" type="text" value="" name="" id="wawa"><a id="queren_btn" onclick="return false;" class="btn" href="javascript:void(0)">确认掌柜旺旺号</a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="f"></div>
			</div>
			<a name="a-xiadan" id="a-xiadan"></a>
			<div class="renwu_widget">
				<div class="h"></div>
				<div class="renwu_widget_box clearfix">
					<h2>

      <span class="t">拍下商品并付款</span>

      <div class="sub_t">请核对“款号”“件数”“金额”无误后付款</div>

    </h2>

					<div class="tip">
							<i></i>浏览宝贝时请深度浏览至页面底部(直接滚动条拉到底暂时不关闭页面即可),顺手也收藏下宝贝呗～
						</div>

						<div class="body">
							<div class="c renwu_list">
								<div class="ovh">
									<ul>
										<li>
											<div class="item clearfix">
												<div class="img">
													<img src="{$pd.main_img}">
												</div>
												<div class="bd">
													<div class="t">
														{$pd.title}
														<br> 规格:{$pd.model_num_cfg} </div>
													<div class="sx">
														单价：{$task.task_gold} 元
														<br> 件数：
														<span>{$jianshu}</span>
														<br>
													</div>

												</div>
												<div class="weizhi">
													<span class="muted">位置信息：</span>
													<br> {$search.search_condition}-{$search.search_order} </div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<div class="text-right songti" style="line-height: 30px;margin-bottom: 10px;">
								<span style="vertical-align:5px;">
        预期支付金额:<span style="font-size: 18px;">≤</span>
								</span>
								<span class="shuliang price">￥{$task.task_gold}</span>
							</div>

							<div class="shuoming">
								进店聊天: 需要与客服聊天、浏览店铺<span>十分钟</span>以上，禁止秒拍
							</div>

							<div class="shuoming">
								包邮：商品拍下不包邮联系客服改价 </div>

							<div class="shuoming">
								旺旺暗语: 聊天时使用可提示商家试民身份

								<div class="input-append" style="margin:0;">
									<input readonly="readonly" type="text" value="{$task['chat_argot']}" name="" id="">
								</div>
							</div>

						</div>
				</div>

				<div class="f"></div>
			</div>

		</div>

		<a name="a-tijiao" id="a-tijiao"></a>

		<div class="renwu_widget">
			<div class="h"></div>
			<div class="renwu_widget_box clearfix">
				<h2>

      <span class="t">提交订单</span>

      <div class="sub_t">所提交的“订单号”“金额”“地址”必须与淘宝订单一致</div>

    </h2>

				<div class="tip">
						<i></i>浏览宝贝时请深度浏览至页面底部(直接滚动条拉到底暂时不关闭页面即可),顺手也收藏下宝贝呗～
					</div>
					<div class="body">
						<style>
							.control-group .specs_selct label {
								width: auto;
								padding-top: 5px;
							}
						</style>
						<div>
							<div class="renwu-tijiao ng-scope" controller="person/order_submit,person/xinyongka" ng-controller="xinyongka">
								<table>
									<tbody>
										<tr>
											<td>
												<div class="tijiao-form">
													<form  class="shifu form-horizontal ng-invalid ng-invalid-required ng-dirty" id="" action="{:U('Home/SMActivity/savedd')}" method="post" novalidate="novalidate">
														<fieldset>
															<div class="control-group">
																<label class="control-label" for="order_taobao">任务淘宝号：</label>
																<div class="controls">
																	<input required="required" maxlength="25" readonly="readonly" type="text" value="{$user.taobao_account}" name="order_taobao" id="order_taobao"><span class="help-inline"><span class="muted">不允许自行更换下单淘宝号</span></span>
																</div>
															</div>
															<div class="control-group">
																<label class="control-label" for="order_num">淘宝订单号：</label>
																<div class="controls">
																	<input required="required" maxlength="16" type="text" value="" name="order_num" id="order_num">
																</div>
															</div>
																</label>
																</p>

															</script>

															<div class="control-group">
																<label class="control-label" for="zhifu_price">订单支付金额：</label>
																<div class="controls">
																	<div class="input-append">
																		<input class="span2 ng-pristine ng-invalid ng-invalid-required" type="text" value="" name="zhifu_price" id="zhifu_price"><span style="height: 30px;" class="add-on">元</span>
																</div>
															</div>
															
															<div class="control-group" ng-init="store={&quot;xinyongka&quot;:0}">
																<label class="control-label">预期返款：</label>
																<div class="controls ng-hide" ng-show="zhifu_price">
																	<div class="input-append">
																		<input ng-value="jisuan()" readonly="readonly" class="span2" type="text" name="order_real_price" id="order_real_price"><span class="add-on">元</span>
																	</div>
																	<div class="help-inline">
																		<!-- ngIf: xinyongka==2 -->
																		<div ng-if="xinyongka==2" class="ng-scope">
																			使用花呗,扣除手续费 <em>1%</em>
																		</div>
																		<!-- end ngIf: xinyongka==2 -->
																		<!-- ngIf: xinyongka==1 && store.xinyongka -->
																		<!-- ngIf: xinyongka==1 && !store.xinyongka -->
																		<div ng-show="xinyongka==0" class="muted ng-hide">
																			感谢您的支持
																		</div>
																	</div>
																</div>
																<div class="controls text" ng-hide="zhifu_price">
																	<small class="muted">请填写订单支付金额,此处依据支付金额计算</small>
																</div>
															</div>

															<div class="control-group">
																<label for="address_id" class="control-label">淘宝下单地址：</label>
																<input type="hidden" name="address" id="address" value="" />
																<input type="hidden" name="hsid" id="hsid" value="{$hsid}" />
																<input type="hidden" name="pid" id="spid" value="">
																<div class="controls">
																	<div id="address">
																		<empty name="address">
																			<font color="red">暂无收货地址，请在<a style="color: darkgreen;" href="{:U('Home/Usersm/address')}">收货地址管理</a>处添加</font>
																			<else/>
																		<volist name="address" id="add">
																		<span id="address_id"><label class="radio"><input class="radio" value="{$add['contact_name']}，{$add['mobile']}，{$add['province']} {$add['city']} {$add['detail']}" id="address_id_0" type="radio" name="address_id"> {$add['contact_name']}，{$add['mobile']}，{$add['province']} {$add['city']} {$add['detail']} </label></span>
																		
																		<!--<a class="showaddress" href="javascript:;">∨展开已有地址</a>-->
																		</volist>
																		</empty>
																	</div>

																	
															</div>

															<div class="control-group">
																<label style="margin-right:20px;" class="control-label" for="check_fb">我的试福选择：</label><br>
																<div class="controls"><span id="check_fb"><label class="radio"><input value="2" id="check_fb_0" checked="checked" type="radio" name="check_fb"> 我要福币<i class="mjz">(8福币+精美小礼品)</i></label> </div>
															</div>
															
															
															
															<div style="margin-top:-10px;line-height:1.2em;margin-left:22px;" class="control-group clearfix">
																<div class="controls small" id="goods_specs"></div>
															</div>

															<div class="control-group">
																<label class="control-label" for="submit_beizhu">相关备注：</label>
																<div class="controls">
																	<textarea placeholder="如果有需要给商家留言的话，可以在这里备注" style="width:300px;height:50px;"  name="notes" id="submit_beizhu"></textarea>
																</div>
															</div>
															<div class="form-actions">
																<button style="background-color: orangered;color: #FFFFFF;" class="btn " type="submit" name="yt1">确认无误并提交</button>
																<button onclick="window.close();return false;" class="btn" name="yt2" type="button">取消</button>
															</div>
														</fieldset>
													</form>
												</div>
											</td>
											<td width="300" style="text-align:center;">

												<script type="text/plain" id="goods_moban">
													<div class="new">
														<a class="img" target="_blank" href="">
															<i></i>
															<img alt="" src="<% print(image); %>">
														</a>
														<p>
															<a href="" target="_blank">
																<% print(name) %>
															</a>
															<span class="fubi"><% print(fubi) %>福币</span>
															<a href="javascript:void(0)" class="btn btn-default btn-mini" rel="quxiao_goods">取消更换</a>
														</p>
													</div>

												</script>

												<div>
													<if condition="$task['delivery_mode'] eq 1">
														<if condition="$exchange['id'] eq ''">
															<div class="sp sp_shifu">
																<div class="img">
																	<img src="__IMG__/zhijing.jpg" alt=""> </div>
																<div class="xuanze"><i></i>已选择福币，包裹里还有小惊喜，一定要签收呦~</div>
															</div>
															<else/>
															<div class="sp sp_shifu">
																<div class="img">
																	<volist name='product' id='w'>
																		<if condition="$exchange['p_id'] eq $w['id']">
																			<img src="{$w['main_img']}" alt=""> </div>
																			<input type="hidden" name="pid" id="pid" value="{$exchange['id']}" />
																			<div class="xuanze"><i></i>已选择福币，包裹里还有小惊喜，一定要签收呦~</div>
																		</if>
																	</volist>
																	
															</div>
														</if>
														
													<else/>
													<div class="sp sp_shifu">
														<div class="img">
															<img src="__IMG__/zhijing.jpg" alt=""> </div>
														<div class="xuanze"><i></i>已选择福币，包裹里还有小惊喜，一定要签收呦~</div>
													</div>
													</if>
													<div class="sp sp_shifu hide" id="shifu_goods">
														<div class="old">
															<a href="" target="_blank" class="img">
																<i></i>
																<img src="__IMG__/shiyong_default.jpg" alt=""> </a>
															<p>
																<a target="_blank" href=""></a>
															</p>
														</div>
													</div>
												</div>
											</td>
										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>

				<div class="f"></div>
			</div>
	</div>
</block>

<block name="area_footer">
 <script type="text/javascript">
 	$(function(){
 		var a=$('#pid').val();
 		$('#spid').val(a);
 		$(".radio").click(function(){
 			var val=$('input:radio[name="address_id"]:checked').val();
 			$('#address').val(val);
 		})
 		$("#queren_btn").click(function(){
 			var ww=$('#wawa').val();
 			var wangwang="{$pd['wangwang']}".trim();
   			if(wangwang==ww){
   				alert('恭喜您，这个就是铺主的旺旺');
   			}else{
   				alert('抱歉，这不是铺主的旺旺，再找一张');
   			}
 		})
 		 
 	})
 </script>
</block>

