<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="__CDN__/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div style="width: 640px;margin: 0 auto;">
			<form method="post" action="__SELF__">
				<input type="text" name="url" value="https://s.taobao.com/search?spm=a230r.1.0.0.YTXZyT&q=%E8%A1%A3%E6%9C%8D%E7%94%B7+%E8%A1%AC%E8%A1%AB&wq=%E8%A1%A3%E6%9C%8D&source=suggest&suggest=magic_1_2&tag=%E8%A1%AC%E8%A1%AB&ie=utf-8" style="width: 460px;padding: 10px;" />
				
				<button type="button" id="J_btn_submit" data-query="0" >提交</button>
			</form>
			
			<div class="getdata">
				
			</div>
			
		</div>
		
		<script type="text/javascript">
		function showLoading(){
			$("#J_btn_submit").text("正在提交中....");
			$("#J_btn_submit").data("query",1);
		}
			$(function(){
				$("#J_btn_submit").click(function(){
					var query = $("#J_btn_submit").data("query");
					if(query == 1){
							alert("正在请求中...");
							return ;
					}
					var param_url = $("input[name='url']").val();
					
					$.ajax({
						cache:false,
						method:"post",
						url:"{:U('Tool/RemoteProductParser/read',array('r'=>time()))}",
						data:{url:encodeURI(param_url)},
						dataType:"json",
						beforeSend:function(){
							showLoading();
						}
					}).done(function(data){
						$("#J_btn_submit").text("提交");
						$("#J_btn_submit").data("query",0);
						console.log(data);
						
						if(data.status){
							var url = "商品优化后的链接:"+data.info.url;
							var title = "商品标题:"+data.info.title;
							var wangwang = "店铺旺旺:"+data.info.wangwang;
							
							$(".getdata").html("<p>"+url+"</p><p>"+title+"</p><p>"+wangwang+"</p><p><img src='"+data.info.main_img+"' alt='图片' /></p>");
							
						}else{
							$(".getdata").text(data.info);
//							alert(data.)
						}
					})
				})
			})
		</script>
	</body>
</html>
