<div class="content" style="">
    <div class="syj-form form-horizontal" style="padding-top:10px;">
        <div class="am-g clearfix">
            <div class="am-u-sm-5">
                <div class="am-form-group am-cf am-margin-bottom-xs">
                    <div class="am-text-left  am-fl am-margin-right-sm">活动商家 </div>
                    <div class=" am-fl ">{$seller_user.username}</div>
                </div>
                <div class="am-form-group  am-cf am-margin-bottom-xs">
                    <div class=" am-fl am-margin-right-sm">任务步骤 </div>
                    <div class=" am-fl">{$task_his.do_status_name}</div>
                </div>

                <div class="am-form-group am-cf am-margin-bottom-xs">
                    <div class="am-text-left am-fl am-margin-right-sm">任务价值 </div>
                    <div class="am-fl">
                        <span class="price">{$task_his.coin}</span>福币
                    </div>
                </div>
                <div class="am-form-group am-cf am-margin-bottom-xs">
                    <div class="am-fl am-margin-right-sm">分配任务</div>
                    <div class="am-fl am-text-left" style="width: 160px;">
                        {$product.pname}
                        <!--<i class="syj-ico renwu-sjss" title="手机搜索任务"></i>-->
                    </div>
                </div>

                <div class="am-form-group am-cf am-margin-bottom-xs">
                    <div class="am-fl am-margin-right-sm">任务金额</div>
                    <div class="am-fl">
                        <span class="am-text-danger"><= {$task_his.task_gold}</span> 元
                    </div>
                </div>
                <div class="am-form-group am-cf am-margin-bottom-xs">
                    <div class="am-fl am-margin-right-sm">通过时间</div>
                    <div class="am-fl">{$task_his.create_time|date='Y-m-d H:i:s',###}
                    </div>
                </div>
                <!--<div class="am-form-group">-->
                    <!--<label class="control-label">违规标注</label>-->
                    <!--<div class="controls text">&nbsp; <span class="muted">-</span></div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label">我的诉苦</label>-->
                    <!--<div class="controls text">&nbsp; <span class="muted">-</span></div>-->
                <!--</div>-->
            </div>

            <div class="am-u-sm-7">
                <table class="am-table am-table-striped table table-striped">
                    <thead>
                    <tr>
                        <th width="140">操作时间</th>
                        <th>内容</th>
                    </tr>
                    </thead>
                    <tbody>
                        <volist name="log_list" id="vo">
                            <tr style="font-size: 10px;">
                        <td>
                            <span title="{$vo.log_time|date='Y-m-d H:i:s',###}">{$vo.log_time|date='Y-m-d H:i:s',###}</span>
                        </td>
                        <td class="am-text-left">
                            <span title="{$vo.notes}">{$vo.notes}</span>
                        </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div></div>
</div>
{__NORUNTIME__}