<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/location.js"></script>
<script type="text/javascript" src="js/area.js"></script>

<script src="js/select2.js"></script>
<script src="js/select2_locale_zh-CN.js"></script>
<link href="css/common.css" rel="stylesheet"/>
<link href="css/select2.css" rel="stylesheet"/>
<div class="div_minTitle"><h3>预定商品</h3></div>
<div class="div_minContent" style="padding: 20px;">
	
	<div class="div_minSet"  style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;" >
		<b>基本资料</b>
	</div>
	<div class="div_minInfo">
		<table>
			<tr>
				<td class="td_title">收货人姓名：</td>
				<td><input  style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;"/></td>
			</tr>
			<tr>
				<td class="td_title">所在地区：</td>
				<td><select id="loc_province" style="width:120px;">
				  	</select>
				 	<select id="loc_city" style="width:120px; margin-left: 10px">
				  	</select>
				  	<select id="loc_town" style="width:120px;margin-left: 10px">
				  	</select>
				</td>
				
			</tr>
			<tr>
				<td class="td_title">详细地址：</td>
				<td>
					<textarea cols="50" rows="3" style=" border-color: #ccc; border-radius:3px;"></textarea>
				</td>
			</tr>
			<tr>
				<td class="td_title">邮政编码：</td>
				<td><input  style="list-style: none; width: 100px;border-radius:3px;border: 1px solid #ccc;"/></td>
			</tr>
			<tr>
				<td class="td_title">手机号码：</td>
				<td><input  style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;"/>电话号码、手机号码必填一项</td>
				
			</tr>
			<tr>
				<td class="td_title">电话号码：</td>
				<td><input  style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;"/>-<input  style="list-style: none; width:170px;border-radius:3px;border: 1px solid #ccc;"/>-<input  style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;"/>区号-电话号码-分机</td>
				
			</tr>
			
			<tr>
				
				<td colspan="2" >
					<div style="padding: 25px;">
					<a href="" class="a_button" style="margin-left: 50px;">确认修改</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	
	
	
	
	<table style="width: 1020px; margin-top: 9px; color: #848383;">
		
		<tr style="border: 1px solid #ccc; background: white; height: 37px;">
			<td style="padding-left: 20px;">收货人</td>
			<td>所在地</td>
			<td>详细地址</td>
			<td>邮编</td>
			<td>电话/手机</td>
			<td>操作</td>
		</tr>
		<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
			<td>王福瑞</td>
			<td>北京 北京市 西城区 月坛街道</td>
			<td>订单</td>
			<td>23</td>
			<td>13465987845</td>
			<td><select style="background: #49afcd; color: white; border-radius:3px;">
				<option>编辑</option>
				<option>删除</option>
			</select></td>
		</tr>
		<tr style="border: 1px solid #ccc; height: 37px;font-size: 12px;">
			<td>王福瑞</td>
			<td>北京 北京市 西城区 月坛街道</td>
			<td>订单</td>
			<td>23</td>
			<td>13465987845</td>
			<td><select style="background: #49afcd; color: white; border-radius:3px;">
				<option>编辑</option>
				<option>删除</option>
			</select></td>
		</tr>
		

		
	</table>
	
	
	
</div>