<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="">
				<h3 class="am-margin-sm">站内信息</h3>
			</div>
			<div class="div_minContent am-margin-sm" >
                <article class="am-article">
                    <div class="am-article-hd">
                        <h1 class="am-article-title">{$msg.title}</h1>
                    </div>

                    <div class="am-article-bd am-margin-top">
                        <p class="am-article-lead">{$msg.content}</p>
                    </div>
                </article>

                <div class="">
                    <a  class="am-btn am-btn-primary am-btn-sm"  href="{:U('Home/Usersm/sm_znxx')}">返回</a>
                </div>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
	$(function() {
  		$('#look').click(function(){
			
//			$.ajax(
//				url:"{:U('Home/SJActivity/yidu')}",
//				data:{
//						id:$("#mbid").val(),
//					},
//				success:function(json){
//					
//				});
  		})
  	})

</script>
</block>