<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<script src="__PUBLIC__/Home/js/select2.js"></script>
	<link href="__PUBLIC__/Home/css/select2.css" rel="stylesheet" />
	<link rel="stylesheet" href="__CSS__/manager.css" />
	<script type="text/javascript">
		$(function(){
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
				
			})
		
		
		function del(url){
			if(confirm("你确定要删除吗？")){
				window.location.href=url;
			}
		}
	</script>

</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitle">
				<h3>预定商品</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">

				<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>基本资料</b>
				</div>
				<div class="div_minInfo">
					<form action="{:U('Home/Usersm/address')}" method="post">

						<input type="hidden" value="{$v.id}" />
						<table>
							<tr>
								<td class="td_title">收货人姓名：</td>
								<td>
									<input name="name" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />
								</td>
							</tr>
							<tr>
								<td class="td_title">所在地区：</td>
								<td>
									<select id="loc_province" style="width:120px;">
									</select>
									<input type="hidden" name="sheng" class="sheng" />
									<input type="hidden" name="shi" class="shi" />
									<input type="hidden" name="qu" class="qi" />
									<select id="loc_city" style="width:120px; margin-left: 10px">
									</select>
									<select id="loc_town" style="width:120px;margin-left: 10px">
									</select>
								</td>

							</tr>
							<tr>
								<td class="td_title">详细地址：</td>
								<td>
									<textarea name="address" cols="50" rows="3" style=" border-color: #ccc; border-radius:3px;"></textarea>
								</td>
							</tr>
							<tr>
								<td class="td_title">邮政编码：</td>
								<td>
									<input name="yb" style="list-style: none; width: 100px;border-radius:3px;border: 1px solid #ccc;" />
								</td>
							</tr>
							<tr>
								<td class="td_title">手机号码：</td>
								<td>
									<input name="mobile" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />电话号码、手机号码必填一项</td>

							</tr>
							<tr>
								<td class="td_title">电话号码：</td>
								<td>
									<input name="phone" style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;" />-
									<input style="list-style: none; width:170px;border-radius:3px;border: 1px solid #ccc;" />-
									<input style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;" />区号-电话号码-分机</td>

							</tr>

							<tr>

								<td colspan="2">
									<div style="padding: 25px;">
										<input type="submit" class="am-btn am-btn-danger am-btn-xs" value="确认修改" style="margin-left: 50px;"></input>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<table style="width: 1020px; margin-top: 9px; color: #848383;">

					<tr style="border: 1px solid #ccc; background: white; height: 37px;">
						<td style="padding-left: 20px;">收货人</td>
						<td>所在地</td>
						<td>详细地址</td>
						<td>邮编</td>
						<td>电话/手机</td>
						<td>操作</td>
					</tr>
					<volist name="address" id="vo">
						<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
							<td>{$vo.contact_name}</td>
							<td>{$vo.province} {$vo.city} {$vo.area} </td>
							<td>{$vo.detail}</td>
							<td>{$vo.post_code}</td>
							<td>{$vo.mobile}{$vo.telephone}</td>
							<td>
								<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/edit',array('id'=>$vo['id']))}">编辑</a>
								<a class="am-btn am-btn-danger am-btn-xs" href="javascript:del('{:U('Home/Usersm/del',array('id'=>$vo['id']))}')">删除</a>

							</td>
						</tr>
					</volist>
				</table>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">

</block>