<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<script src="__CDN__/select2/3.5.2/select2.js"></script>
	<link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
	<link rel="stylesheet" href="__CSS__/manager.css" />
	<script type="text/javascript">
        $(function(){
            $("#loc_province").change(function(){
                var province = $('#loc_province option:selected').text();
                $(".j_province").val(province);
            });

            $("#loc_city").change(function(){
                var city = $('#loc_city option:selected').text();
                $(".j_city").val(city);
            });

            $('#loc_town').change(function(){
                var area = $('#loc_town option:selected').text();
                $('.j_area').val(area);
            })


        })

	</script>

</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitle">
				<h3>收货地址信息</h3>
			</div>

			<div class="div_minContent" style="padding-left: 10px;">

				<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>基本资料</b>
				</div>
				<div class="div_minInfo">
					<form class="sm_form" action="{:U('Home/Usersm/address')}" method="post">
						<table>
							<tr>
								<td class="td_title">收货人姓名：</td>
								<td>
									<input name="name" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />
								</td>
							</tr>

							<tr>
								<td class="td_title">所在地区：</td>
								<td>
                                    <input type="hidden" name="province" class="j_province"/>
                                    <input type="hidden" name="city" class="j_city"/>
                                    <input type="hidden" name="area" class="j_area"/>
									<select id="loc_province" name="loc_province" style="width:120px;">
									</select>
									<select id="loc_city" name="loc_city" style="width:120px; margin-left: 10px">
									</select>
									<select id="loc_town" name="loc_area" style="width:120px;margin-left: 10px">
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">详细地址：</td>
								<td>
									<textarea name="address" cols="50" rows="3" style=" border-color: #ccc; border-radius:3px;"></textarea>
								</td>
							</tr>
							<tr>
								<td class="td_title">邮政编码：</td>
								<td>
									<input name="yb" style="list-style: none; width: 100px;border-radius:3px;border: 1px solid #ccc;" />
								</td>
							</tr>
							<tr>
								<td class="td_title">手机号码：</td>
								<td>
									<input name="mobile" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />手机号码必填</td>

							</tr>

							<tr>

								<td colspan="2">
									<div style="padding: 25px;">
                                        <a target-form="sm_form" href="{:U('Home/Usersm/address')}" class="ajax-post am-btn am-btn-sm am-btn-primary btn-fix-am">保存</a>
                                    </div>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<table class="am-table am-table-bordered" style="width: 1020px; margin-top: 9px; color: #848383;" >
					<tr >
						<th>收货人</th>
						<th>所在地</th>
						<th>详细地址</th>
						<th>邮编</th>
						<th>电话/手机</th>
						<th>操作</th>
					</tr>
					<volist name="list" id="vo">
						<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
							<td>{$vo.contact_name}</td>
							<td>{$vo.province} {$vo.city} {$vo.area} </td>
							<td>{$vo.detail}</td>
							<td>{$vo.post_code}</td>
							<td>{$vo.mobile}{$vo.telephone}</td>
							<td>
								<a class="am-btn am-btn-warning am-btn-xs btn-fix-am" href="{:U('Home/Usersm/edit',array('id'=>$vo['id']))}">编辑</a>
								<a class="am-btn am-btn-danger am-btn-xs ajax-get confirm btn-fix-am" href="{:U('Home/Usersm/del',array('id'=>$vo['id']))}">删除</a>
							</td>
						</tr>
					</volist>
				</table>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">

</block>