<extend name="template/base_index" />

<block name="area_header">
<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<script src="__CDN__/select2/3.5.2/select2.js"></script>
	<link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
			<link rel="stylesheet" href="__CSS__/manager.css" />
	<script type="text/javascript">
        $(function(){
            $("#loc_province").change(function(){
                var province = $('#loc_province option:selected').text();
                $(".j_province").val(province);
            });

            $("#loc_city").change(function(){
                var city = $('#loc_city option:selected').text();
                $(".j_city").val(city);
            });

            $('#loc_town').change(function(){
                var area = $('#loc_town option:selected').text();
                $('.j_area').val(area);
            })

        });

        function j_edit(){
            $(".j_view_ssq").addClass("am-hide");

            $(".j_edit_ssq").removeClass("am-hide");
        }


	</script>

</block>

<block name="area_body">
<div class="div_all">
		<include file="Widget/top_left" />
			<div class="div_right">

				<div class="div_minTitle">
					<h3>收货地址-编辑</h3>
				</div>
				<div class="div_minContent" style="padding: 20px;">

					<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
						<b>基本资料</b>
					</div>
					<div class="div_minInfo">
						<form class="sm_edit_form" action="{:U('Home/Usersm/edit')}" method="post">

							<input type="hidden" name="id" value="{$v.id}" />
							<table>
								<tr>
									<td class="td_title">收货人姓名：</td>
									<td>
										<input name="name" value="{$address.contact_name}" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />
									</td>
								</tr>
								<tr>
									<td class="td_title">所在地区：</td>
									<td>
                                        <div class="j_view_ssq">
                                            <span>{$address.province}{$address.city}{$address.area}</span>
                                            <a href="javascript:j_edit();" class="am-btn  am-btn-xs am-btn-primary" >编辑</a>
                                        </div>

                                        <div class="j_edit_ssq am-hide">

                                            <input type="hidden" name="province" value="{$address.province}" class="j_province"/>
                                            <input type="hidden" name="city" value="{$address.city}" class="j_city"/>
                                            <input type="hidden" name="area" value="{$address.area}" class="j_area"/>
                                            <select id="loc_province" name="loc_province" style="width:120px;">
                                            </select>
                                            <select id="loc_city" name="loc_city" style="width:120px; margin-left: 10px">
                                            </select>
                                            <select id="loc_town" name="loc_area" style="width:120px;margin-left: 10px">
                                            </select>

                                        </div>
									</td>

								</tr>
								<tr>
									<td class="td_title">详细地址：</td>
									<td>
										<textarea name="address" cols="50" rows="3" style=" border-color: #ccc; border-radius:3px;">{$address.detail}</textarea>
									</td>
								</tr>
								<tr>
									<td class="td_title">邮政编码：</td>
									<td>
										<input value="{$address.post_code}" name="yb" style="list-style: none; width: 100px;border-radius:3px;border: 1px solid #ccc;" />
									</td>
								</tr>
								<tr>
									<td class="td_title">手机号码：</td>
									<td>
										<input value="{$address.mobile}" name="mobile" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />电话号码、手机号码必填一项</td>

								</tr>

                                <tr>

                                    <td colspan="2">
                                        <div style="padding: 25px;">
                                            <a target-form="sm_edit_form" href="__SELF__" class="ajax-post am-btn am-btn-sm am-btn-primary">保存</a>
                                        </div>
                                    </td>
                                </tr>
							</table>

						</form>
					</div>
					<table style="width: 1020px; margin-top: 9px; color: #848383;">

						<tr style="border: 1px solid #ccc; background: white; height: 37px;">
							<td style="padding-left: 20px;">收货人</td>
							<td>所在地</td>
							<td>详细地址</td>
							<td>邮编</td>
							<td>电话/手机</td>
							<td>操作</td>
						</tr>
						<volist name="list" id="vo">
						<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
							<td>{$vo.contact_name}</td>
							<td>{$vo.province} {$vo.city} {$vo.area} </td>
							<td>{$vo.detail}</td>
							<td>{$vo.post_code}</td>
							<td>{$vo.mobile}{$vo.telephone}</td>
							<td>
									<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/edit',array('id'=>$vo['id']))}">编辑</a>
									<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/del',array('id'=>$vo['id']))}">删除</a>
								
							</td>
						</tr>
						</volist>
					</table>
				</div>
			</div>
		</div>
</block>

<block name="area_footer">
	
</block>


