<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">
			<div class="div_minTitleAnQuan">
				<h3>安全中心</h3>
				<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号安全-->
				<!--<a href="#" class="a_button">修改密码</a>-->
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>邮箱认证</b>
				</div>
				<div class="div_minSetInfo" style="padding-left: 20px; text-align: left;">
					<empty name="email">
						<i class="am-icon-envelope-o"style=" color: #CCCCCC; font-size: 60px; width: 70px; height:70px;"></i>
						<font size="-2" color="red">您的邮箱还没有认证,认证之后您可以在忘记密码时也可通过此邮箱找回。</font>
						<else/>
						<i class="am-icon-envelope-o" style="color: hotpink; font-size: 60px; width: 70px; height:70px;" ></i>
						<font size="-2" color="green" >您的邮箱{$email}已认证，您可以在忘记密码时也可通过此邮箱找回。</font>
					</empty>
					<!--<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 80px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">认证邮箱</button>-->
				</div>

				<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>手机认证</b>
				</div>
				<div class="div_minSetInfo" style="padding-left: 20px;text-align: left;">
					<empty name="email">
						<i class="am-icon-mobile"style=" text-align: center;color: #CCCCCC; font-size: 60px; width: 70px; height:70px;"></i>
						<font size="-2" color="red">您的手机还没有认证,认证之后您可以在忘记密码时也可通过此邮箱找回。</font>
						<else/>
						<i class="am-icon-mobile" style="text-align: center;color: hotpink; font-size: 60px; width: 70px; height:70px;"  ></i>
						<font size="-2" color="green" >您的手机{$phone}已认证，您可以在忘记密码时也可通过此邮箱找回。</font>
					</empty>
					<!--<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 80px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;" data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 400, height: 225}">认证手机</button>-->

				</div>

				<!--<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>密保设置</b>
				</div>
				<div class="div_minSetInfo" style="padding-left: 20px;text-align: left;">
					<empty name="email">
						<i class="am-icon-gear"style=" text-align: center; color: #CCCCCC; font-size: 60px; width: 70px; height:70px;"></i>
						<font size="-2" color="red">您的密保还没有认证,认证之后您可以在忘记密码时也可通过此邮箱找回。</font>
						<else/>
						<i class="am-icon-gear" style="color: hotpink; font-size: 60px;width: 70px; height:70px;" ></i>
						<font size="-2" color="green" >您的密保XXX已认证，您可以在忘记密码时也可通过此邮箱找回。</font>
					</empty>
					<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 80px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;" data-am-modal="{target: '#doc-modal-3', closeViaDimmer: 0, width: 400, height: 225}">认证密保</button>

				</div>-->
			</div>

		</div>
	</div>
<!--<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-3">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">密保认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/mibao')}" method="post">
					<div class="am-modal-bd">
						<select name="wenti">
							<option value="你的姓名">你的姓名</option>
							<option value="你的生日">你的生日</option>
							<option value="你的身份证号码">你的身份证号码</option>
						</select>
						<input type="tel" name="daan" id="daan" value="" />
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>-->
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">邮箱认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/email')}" method="post">
					<div class="am-modal-bd">
						<input type="hidden" name="id" value="{$user['id']}" />
						<input type="text" name="email" value="{$email}">
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">手机认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/phone')}" method="post">
					<div class="am-modal-bd">
						<input type="hidden" name="id" value="{$user['id']}" />
						<input type="text" class="email" name="phone" value="{$phone}">
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
</block>

<block name="area_footer">

</block>