<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>

    <script src="__CDN__/select2/3.5.2/select2.js"></script>
    <link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
	<link rel="stylesheet" href="__CSS__/manager.css" />
	<style type="text/css">
		.yz li{ height: 55px;line-height: 40px;margin-left: 20px;padding-left: 53px;}
		.yz i{color: #CCCCCC; font-size: 60px; float: left; font-size: 40px; margin-top: -15px;}
		.am-modal-dialog{  }
		.am-modal-bd{ text-align: left;  padding: 10px; margin-left: 20px; font-size: 14px;}
		.am-modal-bd input{ margin-top: 5px; }.am-modal-bd select{ margin-top: 5px; }
		.am-modal-bd span{ font-size: 10px; }
		.bank tr td{font-size: 13px;}
		.am-icon-mobile{padding-left: 10px;}
		.am-modal-hd { position :relative; }
        .am-tabs-d2 .account-nav li{
            width: 120px;
            text-align: center;
        }

	</style>
	
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="withdraw_modal">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">提现
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form class="deposit_form" action="{:U('Home/SMMoney/deposit')}" method="post">
					<div class="am-modal-bd">
						请输入提款金额：<input type="number" name="money" id="money" /><br /><span style="font-size: 12px; color: forestgreen;">提现金额不得大于总金额
						<br>提现账号：{$bank['bank_name']}{$bank['bank_account']}{$bank['cardholder']}{$bank['province']}{$bank['city']}</span>
					</div>
                    <a target-form="deposit_form" href="{:U('Home/SMMoney/deposit')}" class="ajax-post am-btn-sm am-btn am-btn-danger">确认</a>

				</form>
			</div>
		</div>
		<a id="click" href="javascript:void(0)"  data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 400, height: 225}"></a>
		<div class="div_right">
			<div class="div_minTitle">
				<h3>宝贝钱庄</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<table border="1" style=" width: 100%; height: 300px; " bordercolor="#ccc">
					<tr>
						<td>
							<div>
								<table style="width: 100%;">
									<tr>
										<td colspan="3" style="padding-top:0;">资金概况
                                            <button
                                                    type="button"
                                                    class="am-btn am-btn-sm am-btn-primary "
                                                    data-am-modal="{target: '#withdraw_modal', closeViaDimmer: 0, width: 400, height: 225}">
                                                提现
                                            </button>
										</td>
									</tr>
									<tr>
										<td>总金额</td>
										<td>可用余额</td>
                                        <td>提现中余额</td>
                                        <td>元宝</td>

									</tr>
									<tr>
										<td style="color:red">￥ {:($user['coins']+$user['frozen_money'])}</td>
										<td style="color:red">￥ {$user.coins}</td>
                                        <td style="color:red">￥ {$user.frozen_money}</td>
                                        <td style="color:red">{$user.fucoin} 个</td>
									</tr>
								</table>
							</div>
						</td>
						<!--<td rowspan="2">-->
							<!--<div style="padding-bottom: 20px;"><i class="am-icon-medkit" ></i>&nbsp;安全中心</div>-->
							<!--<ul style="" class="yz">-->
								<!--<empty name="email">-->
									<!--<i class="am-icon-envelope-o"></i>-->
									<!--<li >邮箱认证</li>-->
									<!--<else/>-->
									<!--<i class="am-icon-envelope-o" style="color: hotpink;" ></i>-->
									<!--<li>邮箱认证</li>-->
								<!--</empty>-->
								<!--<empty name="phone">-->
									<!--<i class="am-icon-mobile"></i>-->
									<!--<li >手机认证</li>-->
									<!--<else/>-->
									<!--<i class="am-icon-mobile" style="color: hotpink;" ></i>-->
									<!--<li >手机认证</li>-->
								<!--</empty>-->
								<!--<empty name="mibao">-->
									<!--<i class="am-icon-gear"></i>-->
									<!--<li>密保设置</li>-->
									<!--<else/>-->
									<!--<i class="am-icon-gear" style="color: hotpink;" ></i>-->
									<!--<li >密保设置</li>-->
								<!--</empty>-->
							<!--</ul>-->

						<!--</td>-->
					</tr>
					<tr>
						<td>
							<table class="bank" style="width: 100%;">
								<tr>
									<td colspan="4"><b style="color: #999;">提现账号 </b>
										<button class="am-btn am-btn-primary am-btn-xs"
										 data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 650, height: 500}">更换账号</button>
									</td>
								</tr>
								<tr>
									<td>提现至</td>
									<td>帐号</td>
									<td>姓名</td>
									<td>开户信息</td>
								</tr>
								<tr>
									
									<td>{$bank['bank_name']}</td>
									<td>{$bank['bank_account']}</td>
									<td>{$bank['cardholder']}</td>
									<td>{$bank['province']}{$bank['city']}</td>
								</tr>
								
							</table>

						</td>
						
					</tr>
				</table>
				
			<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">更换提现账号
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form class="bank_form j_bank_form" action="{:U('Home/Usersm/addbank')}" method="post">

					<div class="am-modal-bd" style="margin-left: 100px;">
						<table>
							<tr>
								<td>开户行：</td>
								<td><select id="j_bank_select" name="bank_type" class="j_bank" style="width: 160px;">
										<option value="">请选择</option>
                                        <volist name="bank_list" id="vo">
                                            <option data-bank-name="{$vo.name}" data-extra="{$vo.notes}" data-hidden-value="{$vo.hidden_value}" value="{$vo.id}">{$vo.name}</option>
                                        </volist>
                                    </select>

                                    <div>
                                        <span class="j_notes am-text-warning">
                                            推荐使用银行卡提现，每日提现三次且不收取手续费
                                        </span>
                                    </div>
                                    <input type="hidden" name="bank" value="" class="j_bank_name" />
                                    <input type="hidden" name="poundage" value="0" class="j_hidden_value" />
								</td>
							</tr>
							<tr>
								<td>持卡人</td>
								<td><input type="text" name="name" id="name" value="" /></td>
							</tr>
							<tr>
								<td>开户信息：</td>
								<td>
                                    <select id="loc_province" style="width:120px; margin-top: 5px;"></select>
									<select id="loc_city" style="width:120px; margin-left: 10px;margin-top: 5px;"></select>
								</td>
							</tr>
							<tr>
								<td>银行账号：</td>
								<td><input type="tel" name="bank_num" id="num" value="" /></td>
							</tr>
							
							<tr>
								<td>输入登录密码：</td>
								<td><input type="password" name="pwd" id="daan" value="" /></td>
								<input type="hidden" name="sheng" class="sheng" />
								<input type="hidden" name="shi" class="shi" />
							</tr>
							
						</table>
					</div>

                    <a target-form="bank_form" class="ajax-post am-btn am-btn-sm am-btn-primary" href="{:U('Home/Usersm/addbank')}" >确认</a>

				</form>
			</div>
		</div>

				<div  class="am-tabs am-tabs-d2" style="width: 100%;">
					<ul class="account-nav am-tabs-nav am-cf" style="width: 100%;MARGIN: 0px;margin-top: 10px;">
						<li class="am-fl <eq name="account_tab" value="1">am-active</eq>" >
							<a href="{:U('Home/Usersm/sm_bbqz',array('tab'=>1))}">账号收支明细</a>
						</li>
                        <li class="am-fl  <eq name="account_tab" value="2">am-active</eq>"  >
                            <a href="{:U('Home/Usersm/sm_bbqz',array('tab'=>2))}">提现明细记录</a>
                        </li>
                        <li class="am-fl  <eq name="account_tab" value="3">am-active</eq>"  >
                            <a href="{:U('Home/Usersm/sm_bbqz',array('tab'=>3))}">元宝明细记录</a>
                        </li>

					</ul>
					<div class="am-tabs-bd" style="border: 1px solid #CCCCCC; font-size: 14px;">
						<div data-tab-panel-0 class="am-tab-panel <eq name="account_tab" value="1"> am-active</eq> ">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>交易编号</th>
										<th>交易时间</th>
										<th style="width: 50%;">备注</th>
										<th>收入</th>
										<th>支出</th>
									</tr>
								</thead>
								<tbody>
                                    <empty name="detail_list">
                                        <tr>
                                            <td colspan="6">无相关信息</td>
                                        </tr>

                                        <else/>

                                        <volist name="detail_list" id="vo">
                                            <tr>
                                                <td>{$vo.id}</td>
                                                <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                                <td>{$vo.notes}</td>
                                                <td>
                                                    <if condition="$vo['income'] gt 0" >
                                                        +{$vo.income}
                                                    </if>
                                                </td>
                                                <td>
                                                    <if condition="$vo['defray'] gt 0" >
                                                        -{$vo.defray}
                                                    </if>
                                                </td>
                                            </tr>
                                        </volist>

                                    </empty>
									
								</tbody>
								
							</table>
							<div>{$detail_show}</div>
						</div>
						<div data-tab-panel-1 class="am-tab-panel   <eq name="account_tab" value="2"> am-active</eq>">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>编号</th>
										<th>提现金额</th>
										<th>申请时间</th>
										<th>提现状态</th>
										<th>提现信息</th>
										<th>备注</th>
									</tr>
								</thead>
								<tbody>

                                    <empty name="withdraw_list">
                                        <tr>
                                            <td colspan="6">无相关信息</td>
                                        </tr>

                                        <else/>
										    <volist name="withdraw_list" id="vo">
                                                <tr>
                                                    <td>{$vo.id}</td>
                                                    <td>{$vo.defray}</td>
                                                    <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                                    <td>
                                                        <if condition="$vo.status eq 1">成功</if>
                                                        <if condition="$vo.status eq 2">审核中</if>
                                                        <if condition="$vo.status eq 4">驳回</if>
                                                    </td>
                                                    <td><if condition="$vo.dtree_type eq 1">后台充值</if><if condition="$vo.dtree_type eq 2">系统奖励</if><if condition="$vo.dtree_type eq 3">提现</if></td>
                                                    <td>{$vo.notes}</td>
                                                </tr>
									    </volist>
									</empty>

								</tbody>
							</table>
							<div>{$withdraw_show}</div>
						</div>
                        <div data-tab-panel-2 class="am-tab-panel  <eq name="account_tab" value="3"> am-active</eq> ">
                            <table class="am-table" style="border: 1px solid #CCCCCC;">
                                <thead>
                                    <tr style="background: white;">
                                        <th>编号</th>
                                        <th>操作时间</th>
                                        <th>剩余</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>

                                <tbody>

                                <empty name="fucoin_list">
                                    <tr>
                                        <td colspan="6">无相关信息</td>
                                    </tr>

                                    <else/>
                                    <volist name="fucoin_list" id="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                            <td>{$vo.left_fucoin} </td>
                                            <td>
                                                <if condition="$vo['income'] gt 0">
                                                    +{:number_format($vo['income'],0,".","")}
                                                    <else/>
                                                    -
                                                </if>
                                            </td>
                                            <td>

                                                <if condition="$vo['defray'] gt 0" >
                                                    +{:number_format($vo['defray'],0,".","")}
                                                    <else/>
                                                    -
                                                </if>
                                            </td>
                                            <td>{$vo.notes}</td>
                                        </tr>
                                    </volist>
                                </empty>

                                </tbody>
                            </table>
                            <div>{$fucoin_show}</div>
                        </div>


                    </div>
				</div>

			</div>

		</div>
	</div>

</block>

<block name="area_footer">
<script type="text/javascript">
		$(function(){
            $(".j_bank").change(function(){
                var $ele = $(".j_bank").find("option:selected");
                var notes =  $ele.data('extra');
                var hidden_value =  $ele.data('hidden-value');
                var bank_name = $ele.data('bank-name');

                $(".j_bank_form .j_notes").text(notes);
                $(".j_bank_form .j_hidden_value").val(hidden_value);
                $(".j_bank_form .j_bank_name").val(bank_name);

            });
            $("#j_bank_select").select2();
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
//				$('#tixian').click(function(){
//					if( {$coins} <=0 || {$coins}==''){
//						alert('不能提现，提现金额最低为1元或余额不足');
//					}else{
//
//						if("{$bank['cardholder']}" !=''){
////							alert({$bank['cardholder']});
//							$('#click').click();
//						}else{
////							alert({$bank['cardholder']});
//							alert('请先设置提现账号！！');
//						}
//					}
//				});

				$('#szbank').click(function(){
					var yh=$("select[name='bank']").val();
					var name=$('#name').val();
					var num=$('#num').val();
					if(yh!='' && name!='' && num!=''){
						return true;
					}else{
						alert('请填写完整信息');
						return false;
					}
				})
//				$('#qr').click(function(){
//					if($('#money').val()>{$coins}){
//				  		alert('你还没有这么多钱！！');
//				  		return false;
//					}
//				})
				
			})
		
		
		
	</script>
</block>
