<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="#">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		
		<div class="div_left">
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_znxx')}" style=""><span class="demo-icon-actions"><i class="am-icon-envelope am-margin-xs" ></i>站内信息</a>
				</div>

			</div>
			<dl class="dl_menu">
				<dt class="dt_menu"><font><i class="am-icon-calendar-o"></i>&nbsp;活动准备</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/manager_rw')}"><i class="am-icon-caret-right"></i>&nbsp;任务设置</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_dhsp')}"><i class="am-icon-caret-right"></i>&nbsp;兑换商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_ydsp')}"><i class="am-icon-caret-right"></i>&nbsp;预定商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xfyd')}"><i class="am-icon-caret-right"></i>&nbsp;幸福一点</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-bullhorn"></i>&nbsp;活动管理</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_bbhd')}"><i class="am-icon-caret-right"></i>&nbsp;试福活动</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_schd')}"><i class="am-icon-caret-right"></i>&nbsp;收藏活动</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-user-md"></i>&nbsp;账号设置</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/index')}"><i class="am-icon-caret-right"></i>&nbsp;基本信息</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_aqzx')}"><i class="am-icon-caret-right"></i>&nbsp;安全中心</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/address')}"><i class="am-icon-caret-right"></i>&nbsp;收货地址</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xzgl')}"><i class="am-icon-caret-right"></i>&nbsp;勋章管理</a>
				</dd>
				<br />
				<br />

			</dl>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_shfx')}" style=" padding-left: 15px;"><i class="am-icon-skyatlas"> </i>&nbsp;晒货分享</a>
				</div>
			</div>
			<div class="div_znxx">
				<div><a class="sed" href="{:U('Home/Usersm/sm_bbqz')}" style=" padding-left: 15px;"><i class="am-icon-credit-card"> </i>&nbsp;资金管理</a>
				</div>
			</div>
		</div>
		<div class="div_right">
			<div class="div_minTitle">
				<h3>宝贝钱庄</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<table border="1" style=" width: 1100px; height: 300px; margin-left: 10px;" bordercolor="#ccc">
					<tr>
						<td>
							<div>
								<table style="width: 100%;">
									<tr>
										<td colspan="3" style="padding-top:0;">资金概况
											<button class="am-btn am-btn-primary am-btn-xs" style="border-radius: 3px;">提现</button>
										</td>
									</tr>
									<tr>
										<td>总余额:</td>
										<td>可用余额:</td>
										<td>提现中余额:</td>
									</tr>
									<tr>
										<td style="color:red">￥0.00</td>
										<td style="color:red">￥0.00</td>
										<td style="color:red">￥0.00</td>
									</tr>
								</table>
							</div>
						</td>
						<td rowspan="2">
							<div style="margin-left: 60px;">安全中心</div>
							<ul style="">
								<li style=" background: url(img/email_small1.png)  no-repeat; padding-left: 40px;  height: 55px;

  line-height: 40px;

  margin-left: 20px;

  padding-left: 53px;">邮箱认证</li>
								<li style=" background: url(img/phone_small.png)  no-repeat; padding-left: 40px;  height: 55px;

  line-height: 40px;

  margin-left: 20px;

  padding-left: 53px;">手机认证</li>
								<li style=" background: url(img/mibao_small1.png)  no-repeat; padding-left: 40px;  height: 55px;

  line-height: 40px;

  margin-left: 20px;

  padding-left: 53px;">密保设置</li>
							</ul>

						</td>
					</tr>
					<tr>
						<td>
							<table style="width: 100%;">
								<tr>
									<td colspan="4"><b style="color: #999;">提现账号 </b><a href="#" style="font-size: 12px;">更换帐号</a>
									</td>
								</tr>
								<tr>
									<td>提现至:</td>
									<td>帐号:</td>
									<td>姓名:</td>
									<td>开户信息:</td>
								</tr>
								<tr>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

							</table>

						</td>

					</tr>
				</table>
				<script type="text/javascript">
					function changeTab(i){
						$(".div_right .div_minContent #div_tabs ul li").eq(i).addClass("am-active").siblings().removeClass("am-active");
						$(".div_right .div_minContent #div_tabs .am-tabs-bd .am-tab-panel").eq(i).addClass("am-active").siblings().removeClass("am-active");
					}
				</script>
				<div data-am-widget="tabs" id="div_tabs" class="am-tabs am-tabs-d2" style="width: 1100px;">
					<ul class="am-tabs-nav am-cf" style="width: 300px;">
						<li class="am-active">
							<a href="javascript:changeTab(0)">账号收支明细</a>
						</li>
						<li class="">
							<a href="javascript:changeTab(1)">提现明细记录</a>
						</li>

					</ul>
					<div class="am-tabs-bd" style="border: 1px solid #CCCCCC; font-size: 14px;">
						<div data-tab-panel-0 class="am-tab-panel am-active">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>交易编号</th>
										<th>交易时间</th>
										<th style="width: 50%;">名称|备注</th>
										<th>收入</th>
										<th>支出</th>
										<th>金额</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>XXXX</td>
										<td>XXXX</td>
										<td>XXXX</td>
										<td>XXX</td>
										<td>XXX</td>
										<td>XX</td>
									</tr>

								</tbody>
							</table>
						</div>
						<div data-tab-panel-1 class="am-tab-panel  ">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>编号</th>
										<th>提现金额</th>
										<th>申请时间</th>
										<th>提现状态</th>
										<th>提现信息</th>
										<th>备注</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>XXXX</td>
										<td>XXXX</td>
										<td>XXXX</td>
										<td>XXX</td>
										<td>XXX</td>
										<td>XX</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</block>

<block name="area_footer">

</block>