<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitle">
			<h3>兑换商品</h3>
		</div>
		<div class="div_minContent" style="padding: 20px; ">
			<a href="" style="text-decoration: none;color: white; background: #d1343e; padding:10px; border-top-left-radius: 3px; border-top-right-radius: 3px;">全部预定</a><a href="" style="text-decoration: none;background:#f6dfe5;padding:10px;  border-top-left-radius: 3px; border-top-right-radius: 3px; margin-left: 5px; color: #848383;">取消</a>
			<table style="border-top: 1px solid #ccc; width: 1100px; margin-top: 9px; text-align: center;">
				<tr>
					<td colspan="6" style=" height: 5px; "></td>
				</tr>
				<tr style="border: 1px solid #ccc; background: white; height: 37px;">
					<td style="padding-left: 20px; width: 80px;">编号</td>
					<td></td>
					<td style="width: 30%;">商品名称</td>
					<td>产品规格</td>
					<td>兑换状态</td>
					<td>预定时间</td>
					<td>操作</td>

				</tr>
				<volist name='exchange' id="vo"></volist>
					<tr style="border: 1px solid #ccc; height: 37px; ">
						<td>{$vo.id}</td>
						<volist name="product" id="v">
							<if condition="$vo['p_id'] eq $v['id']">
						<td>
							<img height="80" width="100" src="{$v['main_img']}">
						</td>
						<td>
							{$v.name}
						</td>
						</if>
						</volist>
						<td>{$vo.sku_notes}</td>
						<td>未兑换</td>
						<td>{$vo.create_time}</td>
						<td><a class="btn" style="background-color: orangered; color: #FFFFFF;">确定兑换</a></td>
					</tr>

			</table>

			<div class="div_tishi" style=" ">
				<ul>
					<li style="font-size:16px; font-weight: bold;color: black;">温馨提示：</li>
					<li>1:如果有两个或两个以上的兑换商品没有被领取走，不能再兑换其他的商品哦！！！</li>
					<li>2:如果10天之内您还没有领走您的兑换商品，系统将自动取消您的资格！！！</li>
					<li>3:如果取消了您的资格，我们会在第一时间就返还您所耗费的福币，请记得查收哦！！！</li>

				</ul>
			</div>
		</div>
	</div>
	</div>

	< </block>

		<block name="area_footer">

		</block>