<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">
			<div class="div_minTitle">
			<h3>兑换商品</h3>

            <div class="filter-controls">
                <form class="j_search_form am-form am-form-inline" action="__SELF__">
                    <div class="form-group">
                        <div class="am-margin-sm">
                            <ul class="am-nav am-nav-pills">
                                <li  <eq name="status" value="0"> class="am-active am-round"</eq> >
                                    <a href="{:U('Home/Usersm/sm_dhsp',array('status'=>0))}">待审核({$wait_check})</a>
                                </li>
                                <li <eq name="status" value="1">class="am-active am-round"</eq> ><a href="{:U('Home/Usersm/sm_dhsp',array('status'=>1))}">审核通过({$check_success})</a></li>
                                <li <eq name="status" value="2">class="am-active am-round"</eq> ><a href="{:U('Home/Usersm/sm_dhsp',array('status'=>2))}">已驳回({$check_fail})</a></li>
                                <li <eq name="status" value="4">class="am-active am-round"</eq> ><a href="{:U('Home/Usersm/sm_dhsp',array('status'=>4))}">已分配任务({$delivery_goods})</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

		<div class="div_minContent" style="padding: 20px; ">

            <table class="am-table am-table-hover am-table-striped">
                <thead>
                    <tr style="border: 1px solid #ccc; background: white; height: 37px;">
                        <td style="padding-left: 20px; width: 80px;">编号</td>
                        <td style="width: 25%;">商品名称</td>
                        <td>产品规格</td>
                        <td>兑换状态</td>
                        <td>申请时间</td>
                    </tr>
                </thead>
                 <empty name="list">
                    <tr>
                        <td colspan="5" class="am-text-center">没有相关数据</td>
                    </tr>
                    <else/>
				<volist name='list' id="vo">
					<tr style="border: 1px solid #ccc; height: 37px; ">
						<td>{$vo.id}</td>
						<td>
                            <a href="{:U('Shop/Index/spxq',array('id'=>$vo['id']))}" target="_blank">
							<img height="60" width="80" src="{$vo['main_img']}">
							{$vo.name}
                            </a>
						</td>

						<td>
                            <if condition="$vo['sku_notes'] eq ''">
								无
                                <else/>
								{$vo.sku_notes}
							</if>
                        </td>
						<td>
                            <if condition="$vo['exchange_status'] eq 0">待审核</if>
                            <if condition="$vo['exchange_status'] eq 1"><span class="am-text-success">审核成功，等待分配任务</span></if>
                            <if condition="$vo['exchange_status'] eq 2"><span class="am-text-danger">审核失败，原因: {$vo.reject_reason}</span></if>
                            <if condition="$vo['exchange_status'] eq 3">
                                已发货，<br/>
                                快递单号: $vo['express_code'],<br/>
                                快递公司: $vo['express_name'],
                            </if>
                        </td>
						<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
					</tr>
				</volist>

                </empty>

			</table>

			<div class="div_tishi" style=" ">
				<ul>
					<li style="font-size:16px; font-weight: bold;color: black;">温馨提示：</li>
					<li>1: 如果取消了您的资格，我们会在第一时间就返还您所耗费的福币，请记得查收哦！！！</li>
				</ul>
			</div>

		</div>
	    </div>


        </div>

    </div>

</block>

<block name="area_footer">

</block>