<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitleAnQuan">
				<h3>勋章管理</h3>
				<a href="#" class="a_button" style="margin-left:30px;">我的勋章</a>
				<a href="#" class="a_button">未领勋章</a>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
					<b>我的勋章</b>
				</div>
				<div class="div_minSetInfo" style="padding-left: 20px; text-align: left; height:250px;">

					<dl style="width: 155px; margin-top: 20px;text-align: center; margin-left: 20px; background: url(__IMG__/xunzhangtai.png) no-repeat scroll 0px 90px;">
						<dt style="">

				<img src="__IMG__/25.png"/>

			</dt>
						<dd style="margin-left:0 ;">淘福章</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

</block>

<block name="area_footer">

</block>