<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitle">
				<h3>幸福一点</h3>
			</div>
			<div class="div_minContent" style="padding: 20px; ">
				<table style="width: 1100px; margin-top: 9px;">

					<tr style="border: 1px solid #ccc; background: white; height: 37px;">
						<td style="padding-left: 20px; width: 80px;">编号</td>
						<td style="width: 50%;">商品名称</td>
						<td>产品规格</td>
						<td>物流信息</td>
						<td>预定状态</td>
						<td>预定时间</td>
						<td>操作</td>

					</tr>
					<tr style="border: 1px solid #ccc; height: 37px; ">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

					</tr>

				</table>
			</div>
		</div>
	</div>

</block>

<block name="area_footer">

</block>