<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitle">
				<h3>预定商品</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<a href="" style="text-decoration: none;color: white; background: #d1343e; padding:10px; border-top-left-radius: 3px; border-top-right-radius: 3px;">全部预定</a><a href="" style="text-decoration: none;background:#f6dfe5;padding:10px;  border-top-left-radius: 3px; border-top-right-radius: 3px; margin-left: 5px; color: #848383;">取消</a>
				<table style="border-top: 1px solid #ccc; width: 1100px; margin-top: 9px;">
					<tr>
						<td colspan="8" style=" height: 5px; "></td>
					</tr>
					<tr style="border: 1px solid #ccc; background: white; height: 37px;">
						<td style="padding-left: 20px;">编号</td>
						<td>商品名称</td>
						<td>频道</td>
						<td>产品规格</td>
						<td>福币</td>
						<td>预定状态</td>
						<td>预定时间</td>
						<td>操作</td>
					</tr>
					<tr style="border: 1px solid #ccc; height: 37px;">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr style="border: 1px solid #ccc; height: 37px;">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr style="border: 1px solid #ccc; height: 37px;">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr style="border: 1px solid #ccc; height: 37px;">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

				</table>

				<div class="div_tishi" style=" ">
					<ul>
						<li style="font-size:16px; font-weight: bold;color: black;">温馨提示：</li>
						<li>1:预定的商品在试福街接收预定之后是不可以再取消的哦！！！</li>
						<li>2:接收您的预定之后，我们将在7天内为您配货，所以在接收预约之后请您耐心等待哦！！！</li>
						<li>3:如果您的预约失败了，我们会在第一时间就返还您所耗费的福币，请记得查收哦！！！</li>
						<li>4:在您做试福任务的时候记得领走您预定成功的商品哦！</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</block>

<block name="area_footer">

</block>