<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<include file="Widget/top_left" />
		<div class="div_right">

			<div class="div_minTitleAnQuan">
				<h3>站内信息</h3>
				<a href="#" class="a_button" style="margin-left:30px;">删除</a>
				<a href="#" class="a_button">标记为已读</a>
			</div>
			<div class="div_minContent" style="padding: 20px;">

				<table style="width: 1020px; margin-top: 9px; color: #848383;text-align: center;">

					<tr style="border: 1px solid #ccc; background: white; height: 37px;">
						<td>
							<input type="checkbox" name="znxx_checkedAll" />
						</td>
						<td style="padding-left: 20px;">是否阅读</td>
						<td>发件人</td>
						<td>主题</td>
						<td>发件时间</td>
						<td>操作</td>
					</tr>
					<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
						<td>
							<input type="checkbox" name="znxx_checked" />
						</td>
						<td>否</td>
						<td>系统消息</td>
						<td>宝贝活动#1806189#已经通过</td>
						<td>06-13 09:20</td>
						<td>
							<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/edit',array('id'=>$vo['id']))}">编辑</a>
							<a class="am-btn am-btn-danger am-btn-xs" href="javascript:del('{:U('Home/Usersm/del',array('id'=>$vo['id']))}')">删除</a>
						</td>
					</tr>

				</table>
			</div>
		</div>
	</div>

</block>

<block name="area_footer">

</block>