<extend name="template/base_index" />


<block name="area_header">

    <style type="text/css">
        input.error {
            border: 1px solid red;
        }

        label.checked {
            padding-left: 25px;
        }

        label.error {
            padding-left: 25px;
            padding-bottom: 2px;
            font-weight: bold;
            color: #EA5200;
        }
    </style>

</block>

<block name="area_body">
    {:W('Menus/topbar')}
    <div class="admin-main container-fluid">
        {:W('Menus/left')}
        <div class="admin-main-content">
            {:W('Menus/breadcrumb')}

            <div>
                <div class="my-wealth">
                    <h3>可提现余额: {:dump($distributor)}</h3>
                </div>
                <div class="">
                    <h2>我的收益纪录</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>编号</td>
                                <td>收入</td>
                                <td>备注</td>
                                <td>来源</td>
                            </tr>
                        </thead>
                        <tr>
                            <empty name="list">
                                <td colspan="4">暂无纪录</td>
                                <else/>
                                <volist name="list" id="vo">
                                    <td>
                                        {$vo.id}
                                    </td>
                                    <td>
                                        {$vo.income}
                                    </td>
                                    <td>
                                        {$vo.notes}
                                    </td>
                                    <td>
                                        <notempty name="vo['userinfo']">
                                            用户名: {$vo['userinfo']['username']}
                                            用户角色: {$vo['userinfo']['userrole']}
                                            <else/>
                                            -
                                        </notempty>
                                    </td>
                                </volist>

                            </empty>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- form -->

        </div>
        <!-- END admin-main-content -->
    </div>
    <!-- END admin-main-->
</block>

<block name="area_footer">

    <script type="text/javascript" src="__CDN__/react/15.1.0/react.js"></script>
    <script type="text/javascript" src="__CDN__/react/15.1.0/react-dom.js"></script>
    <script src="__CDN__/babel-core/5.8.24/browser.min.js"></script>
    <script src="__CDN__/bootstrap-react/0.29.4/react-bootstrap.min.js"></script>
    <script type="text/babel">

        var Alert = ReactBootstrap.Alert;
        var Table = ReactBootstrap.Table;
        var Button = ReactBootstrap.Button;

        var UserItem = React.createClass({

            viewClick:function(){

            },
            render:function(){

                return (
                        <tr>
                            <td>0</td>
                            <td>
                                <Button bsStyle="primary" onClick={this.viewClick} >查看</Button>
                            </td>
                        </tr>
                );
            }
        });

        var UserList = React.createClass({
            loadData:function(){
                var p = this.state.pager.pageIndex;
                var pageSize = this.state.pager.pageSize;
                var type = this.props.type;
                var params = "?type=" + type + "&p="+p+"&pagesize="+pageSize;

                $.ajax({
                  url: this.props.url + params,
                  dataType: 'json',
                  cache: false,
                  success: function(data) {
                    if(data.status){
                        var pager = data.info.pager;
                        this.setState({status:data.status,info:data.info,pager:pager});
                    }else{
                        this.setState({status:data.status,info:data.info,pager:{
                            total:0,
                            pageIndex:0,
                            pageSize:10}});
                    }
                  }.bind(this),
                  error: function(xhr, status, err) {
                    this.setState({status:false,info:'网络请求发生错误',totalCount: 0,pageSize:10,pageIndex:0});
                    console.log(err);
                  }.bind(this)
                });
            },
            getInitialState:function(){
                return {
                    status:false,
                    info:'loading...',
                    pager:{
                        total:0,
                        pageIndex:0,
                        pageSize:10
                    }
                };
            },

            componentDidMount:function(){
                //组件加载完成
                this.loadData();
            },
            render:function(){
                var status = this.state.status;
                var info = this.state.info;
                if(!status){
                    return (
                        <Alert bsStyle="warning">
                            <strong>{info}</strong>
                        </Alert>
                    );
                }


                var tbody = (
                     <tr>
                         <td style={{textAlign:'center'}} colSpan='5' >没有相关数据</td>
                     </tr>
                );

                console.log(info);
                var list = info.list;
                var pager = info.pager;

                if(list && list.length > 0){

                    var view_url  = this.props.view_url+"?uid=";
                    tbody = list.map(function(ele){
                        console.log(ele);
                        return (
                            <tr key={ele.uid}>
                                <td >{ele.uid}</td>
                                <td >{ele.username}</td>
                                <td >{ele.create_time}</td>
                                <td >{ele.last_login_time}</td>

                            </tr>
                        );

                    });
                }

                return (
                    <Table striped bordered condensed hover>
                        <thead>
                            <tr>
                            <th>用户ID</th>
                            <th>用户登录名</th>
                            <th>注册时间</th>
                            <th>最近登录时间</th>
                            </tr>
                        </thead>
                        <tbody>

                            {tbody}
                        </tbody>
                    </Table>

                );

            }


        });

        var url = "{:U('Admin/Distributor/myPerson')}";
        var view_url = "{:U('Admin/Distributor/myPersonDetail')}";

        ReactDOM.render(<UserList url={url} type='seller' view_url={view_url} />, document.getElementById("seller"));

        ReactDOM.render(<UserList url={url} type='normal' view_url={view_url}  />, document.getElementById("normal"));


    </script>
    <!--<td >-->
        <!--<Button bsStyle="primary" bsSize="small" href={view_url+ele.uid} >查看</Button>-->
    <!--</td>-->
    <!--<th>操作</th>-->


</block>