<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
        .div_info{ width:800px; margin:0 auto;}
	</style>
</block>

<block name="area_body">

<div class="div_info" style="">
    <div>
        <a href="{:U('Shop/Index/index')}"><img src="__PUBLIC__/Home/img/help_logo.png"style=" margin-top: 15px;"/></a>
    </div>
    <ul style=" margin-left:250px; margin-top: -25px;  float: left;">
        <li style=" float: left;"><a style=""  class="bzzx_li_title bzzx_li_titleSelect">自助服务 </a></li>
        <!--<li style=" float: left;"><a style="margin-left: 50px;" class="bzzx_li_title">帮助中心</a></li>-->
    </ul>

</div>
</div>


<div id="div_main">
    <div class="div_info">
        <!--<div style="margin-top: 30px;width: 100%;">-->
            <!--<span style="margin-left:20px;font-size: 20px;color:#666;font-weight:600;">自助服务</span>-->
            <!--<span style=" margin-left:735px;font-size: 20px;color:#666; font-weight: 600;">常见问题</span>-->
        <!--</div>-->
        <div class="div_bzzx"  style=" height: 0px; margin-top: -10px;">
            <div class="div_bzzx_zzfw" style="display:none;width: 800px; border: 1px solid #CCCCCC; height: 90%;float: left; margin-left:20px; margin-top: 20px;">
                <ul>
                    <li>
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -38px -601px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">淘宝账号</div>
                    </li>
                    <li>
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat 2px -730px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">收货地址</div>
                    </li>
                    <li>
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -35px -564px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">预定商品</div>
                    </li>
                    <li>
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -38px -731px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">宝贝活动</div>
                    </li>
                    <li>
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -35px -672px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">查看资金</div>
                    </li>
                    <li style="border-right: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -38px -637px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">查看福币</div>
                    </li>
                    <li style="border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -24px -431px;width: 30px; height: 34px;margin: 0 auto; margin-top:25px; margin-bottom: 2px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">查看勋章</div>
                    </li>
                    <li style="border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -26px -462px;width: 28px; height: 35px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">邮箱绑定</div>
                    </li>
                    <li style="border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -54px -464px;width: 29px; height: 34px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">修改密码</div>
                    </li>
                    <li style="border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat -65px -530px;width: 29px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">因伙得福</div>
                    </li>
                    <li style="border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat 0px -637px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">查看公告</div>
                    </li>
                    <li style="border-right: none;border-bottom: none;">
                        <div style="background: url(__PUBLIC__/Home/img/no-repeat-s1323703f06.png) no-repeat 2px -601px;width: 40px; height: 36px;margin: 0 auto; margin-top:25px;"></div>
                        <div style="margin: 0 auto; text-align: center; font-weight:bold ; font-size: 13px;">查看物流</div>
                    </li>

                </ul>
            </div>

        </div>



        <div style="margin-top: 30px;width: 100%;">
            <span style="margin-left:20px;font-size: 20px;color:#666;font-weight:600;">宝贝街流程</span>
        </div>
        <div class="div_bzzx"  style=" height: 380px; margin-top: -10px;">
            <div class="div_bzzx_zzfw" style="width: 800px; border: 1px solid #CCCCCC; height: 90%;float: left; margin-left:20px; margin-top: 20px;">
                <div class="div_bzzx_bbjlc"><font color="#ff5497" size="+1" style="font-weight: bold;">活动准备</font>
                    <font size="-2" style=" margin-left: 20px;background: #ff5497; color: white;  margin: 10px;padding: 2px;border-top-left-radius: 9px; border-bottom-left-radius:9px ; padding-left: 5px;">设置日任务金额></font>
                    <font size="-2" style="padding: 2px; margin-left: -13px;">绑定淘宝账号></font>
                    <font size="-2" style="padding: 2px;border-top-right-radius: 9px;margin-left: -3px; border-bottom-right-radius:9px ;">设置收货信息</font>
                </div>
                <div class="div_bzzx_bbjlc_info">
                    <div class="div_bzzx_bbjlc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;">
                        <i class="am-icon-cart-plus" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px; "></i>
                        <div style="margin-top: 15px;">设置日任务金额：你可以结合自己的资金情况，灵活调节日任务金额，每天分配任务的金额总和，不超过所设的日任务金额。</div>
                    </div>
                    <div class="div_bzzx_bbjlc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px; display: none;">
                        <i class="am-icon-file-text-o" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px;"></i>
                        <div style="margin-top: 15px;">绑定单淘宝账号：开始任务前绑定一个自己下单的淘宝账号，且该淘宝账号不与其他试民账号相冲突。</div>
                    </div>
                    <div class="div_bzzx_bbjlc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;display: none;">
                        <i class="am-icon-map-marker" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px;"></i>
                        <div style="margin-top: 15px;">设置收货信息：请保证该地址的唯一性！每个帐号的收件人、收件人电话，如果与其它帐号相同或高度相似的话，将有可能会判定为无效信息。</div>
                    </div>
                </div>

                <div class="div_bzzx_hdgc" style="margin-top: 20px;"><font color="#ff5497" size="+1" style="font-weight: bold;">活动过程</font>
                    <font size="-2" style=" margin-left: 20px;background: #FF7A23; color: white;  margin: 10px;padding: 2px;border-top-left-radius: 9px; border-bottom-left-radius:9px ; padding-left: 5px;">开始任务></font>
                    <font size="-2" style="padding: 2px; margin-left: -13px;">提交订单></font>
                    <font size="-2" style="padding: 2px; margin-left: -3px;">确认收货></font>
                    <font size="-2" style="padding: 2px; margin-left: -3px;">商家返款></font>
                    <font size="-2" style="padding: 2px;border-top-right-radius: 9px;margin-left: -3px; border-bottom-right-radius:9px ;">资金提现</font>
                </div>
                <div class="div_bzzx_hdgc_info">
                    <div class="div_bzzx_hdgc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;">
                        <i class="am-icon-tags" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC;margin-left: 5px; "></i>
                        <div style="margin-top: 15px;">开始任务：登陆宝贝街账号，进入宝贝活动任务中活动，点击【开始任务】</div>
                    </div>
                    <div class="div_bzzx_hdgc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px; display: none;">
                        <i class="am-icon-file-text" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC;margin-left: 5px; "></i>
                        <div style="margin-top: 15px;">提交订单：按任务书要求先去淘宝搜索-下单并付款，然后回宝贝街填写下单信息并提交。</div>
                    </div>
                    <div class="div_bzzx_hdgc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;display: none;">
                        <i class="am-icon-codepen" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px;"></i>
                        <div style="margin-top: 15px;">确认收货：收到货后，先在淘宝平台确认收货并评价，然后回宝贝街确认收货。</div>
                    </div>
                    <div class="div_bzzx_hdgc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;display: none;">
                        <i class="am-icon-arrow-circle-o-left" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px;"></i>
                        <div style="margin-top: 15px;">商家返款：当日确认收货后，商家审核无误后将在次日晚12点前完成返款。</div>
                    </div>
                    <div class="div_bzzx_hdgc_info_min" style="font-size: 12px;width: 90%; padding: 5px; border: 1px solid #CCC; height: 90px; background: #FAFAFA; line-height: 25px; margin-top: 20px;display: none;">
                        <i class="am-icon-strikethrough" style="font-size:60px;float: left; margin-right: 10px;margin-top: 8px;color: #CCC; margin-left: 5px;"></i>
                        <div style="margin-top: 15px;">资金提现：进入宝贝钱庄，点击【提现】按钮，输入提现金额和操作密码并提交即可。</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<hr color="#ccc" style="clear:both; margin-top:20px; width: 100%;" size="1" />
<div id="div_foot">
    <div class="div_info">
        <!--<dl class="dl_phone">
            <dt class="dt_phone" style=" height: 100%; margin-right: 10px;"><img src="__PUBLIC__/Home/img/phone.png" /></dt>
            <dd style="font-weight: bold; font-size:13px ;">4008-448-888</dd>
            <dd>美食街热线</dd>
            <dd>周一至周六：09:00-17:00</dd>
        </dl>
        <dl>
            <dt>关于我们</dt>
            <dd class="dd_info"><a href="#">宝贝街介绍</a>
            </dd>
            <dd class="dd_info"><a href="#">联系我们</a>
            </dd>

        </dl>
        <dl>
            <dt>我是试民</dt>
            <dd class="dd_info"><a href="#">新手指引</a>
            </dd>
            <dd class="dd_info"><a href="#">福币介绍</a>
            </dd>
            <dd class="dd_info"><a href="#">资金保障</a>
            </dd>
        </dl>

        <dl>
            <dt>我是商家</dt>
            <dd class="dd_info"><a href="#">商家入驻</a>
            </dd>
            <dd class="dd_info"><a href="#">会员体系</a>
            </dd>
            <dd class="dd_info"><a href="#">活动安全</a>
            </dd>
        </dl>
        <dl>
            <dt>宝贝街特色</dt>
            <dd class="dd_info"><a href="#">许愿树</a>
            </dd>
            <dd class="dd_info"><a href="#">周四盛点</a>
            </dd>
            <dd class="dd_info"><a href="#">因伙得福</a>
            </dd>
        </dl>
        <dl>
            <dt>共图大业</dt>
            <dd class="dd_info"><a href="#">招兵买马</a>
            </dd>
            <dd class="dd_info"><a href="#">拜将求帅</a>
            </dd>
            <dd class="dd_info"><a href="#">战略伙伴</a>
            </dd>
            <dd class="dd_info"><a href="#">天赐良机</a>
            </dd>
        </dl>

        <dl>
            <dt>宝贝微信账号</dt>
            <dd class="dd_info" style="margin: 0;margin-left: -12px;">
                <img src="__PUBLIC__/Home/img/weixin.png" />

            </dd>

        </dl>-->
    </div>


</div>
</div>

</block>

<block name="area_footer">
	
</block>
