<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
        #div_title div ul{
            margin-left: 0px;
        }
	</style>
</block>

<block name="area_body">

    <div id="div_all">
        <include file="default/partials/header" />
		
		<div id="div_main" style="border-top: 1px solid #ccc; background: #fde9f1;float: left;padding-bottom: 50px">
			<div class="div_info" style="">
				<div class="div_gg_left" style=" background:#f2f2f2;width: 200px;text-align: center; margin-top: 20px;float: left; height: 500px;">
					<div style="background: url(__PUBLIC__/Home/img/smgg1.png); background-size: 100% 100%; height: 52px;"></div>
					<ul style="text-align: left;">
							<empty name="ggTitle">
								<center>没有相关记录</center>
							<else/>
							<volist name="ggTitle" id="vo">
								<li style="font-size: 12px;padding: 5px;border-bottom: 1px solid #E0E2E1;padding-left: 20px;"><font class="am-icon-chevron-circle-right" style="margin-right: 5px;"></font><a href="{:U('Home/Index/gfgg',array('post_category'=>$vo['id']))}" class="a_li">{$vo.name}</a></li>
							</volist>
							</empty>
			
					</ul>
				</div>
				<div class="div_gg_info" style="float: left;width: 865px; padding-bottom:50px; margin-top: 20px; margin-left: 10px;background: url(__PUBLIC__/Home/img/smgg2.png)no-repeat scroll -1px 0 #F2F2F2;">
					<div style=" margin-left:550px;  margin-top: 10px;    margin-bottom: 40px;">您的位置：<a href="#" style="color:red">首页</a>><a href="{:U('Home/Index/gfgg',array('post_category'=>$ggct['name']))}" style="color:red">{$ggct.name}</a>>文章内容</div>
					<div class="div_gg_info_context" style="padding: 20px;">
						<center>
						<h1 style="color:#ff5097">{$gg.post_title}</h1>
						<font color="#999">{$gg.post_modified|date='Y-m-d H:i',###}</font>
						</center>
						{:htmlspecialchars_decode($gg['post_content'])}
					</div>
				</div>
			</div>
		</div>

    </div>

</block>

<block name="area_footer">
	
</block>