<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>
	
	</head>
	<body >
	
			
			<div class="logo">
				<div class="top_sc">
					<div class="top_sc_cen">
						<div class="top_sc_lf">
							<a href=""  onclick="">设为首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""  onclick="">收藏本站</a>
						</div>
					    <div class="top_r">
					      <a href="{:U('Home/Index/login')}">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					      <a href="{:U('Home/Index/register')}">注册</>
					    </div>
				    </div>
				</div>
					
			</div>
		
	</body>
</html>
