<extend name="template/base_index" />

<block name="area_header">

<link href="__PUBLIC__/Home/css/login.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        #body{
            width:1000px;
            margin: 0 auto;
            margin-top: 60px;
        }
        .login_banner{
            background: url("__IMG__/login/login_banner.png") no-repeat;
            height: 70px;
        }
        .login_left{
            background: url("__IMG__/login/login_left.png") no-repeat;
            height: 450px;
            background-size: contain;
            width: 550px;
            float: left;
        }
    </style>
</block>

<block name="area_body">
	<div id="body">
        <div class="login_banner"></div>
		<div class="login_body">
            <div class="login_left"></div>
			<div class="login_010">
				<div class="login_011">
					<a class="am-link-muted am-text-sm" href="{:U('Home/Index/index')}">首页</a>
					<span>-</span>
					<a class="am-link-muted am-text-sm"  href="{:U('Home/Index/register_sm')}">注册</a>
					<span>|</span>
					<a class="am-link-muted am-text-sm"  href="{:U('Home/Index/bzzx')}">帮助中心</a>
				</div>
				<div class="login_002">
					
					<div class="login_003">
                        <div class="am-h4">登录宝贝街</div>
                    </div>

					<form class="am-form am-form-horizontal login_form" method="post">
                        <div class="am-form-group">
						    <input type="text" name="username" id="textfield2" class="login_004 am-form-field" placeholder="用户名" >
                            <span style="color: red; font-size: 13px;">{$error}</span>
                        </div>
                        <div class="am-form-group">
						<input type="password" name="password" id="textfield"   placeholder="密码"  class="login_005 am-form-field">
                        </div>
						<div class="login_006">
							<input type="checkbox" name="auto_login" id="checkbox"> 自动登录
						</div>

						<div class="submit">
							<a href="{:U('Home/Index/login')}"  target-form="login_form" data-no-alert="true" class="am-radius ajax-post am-center am-btn-block am-btn am-btn-sm am-btn-danger">
                                登录
                            </a>
						</div>
					</form>
				</div>
			</div>
			<div></div>
		</div>
	</div>
    

</block>

<block name="area_footer">
</block>