<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/manager.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/normalize.css" />
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.1.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/manager.js" ></script>
	</head>
	<body >
		<div class="div_all">
			<div class="div_top1">
				<div class="div_gonggao" >试福街美食频道下线通知</div>
            	<div class="div_zhongxin" ><font color="#FD5E85">123456</font>，欢迎来到试福街！[<a href="#">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">|回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">帮助中心</a></div>
			</div>
			<div class="div_top2">
				
				<div style="float: left; padding: 10px;color: #d9e1ec; margin-left: 220px; margin-top: 35px;font-size: 14px;font-family: "微软雅黑"; opacity: 0.2;">
					<a href="javascript:toPage('pages/ceshi2.html')">试民中心</a>
				</div>
				<div style="float: left;padding: 10px;color: #d9e1ec;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: "微软雅黑";opacity: 0.2">
					<a href="javascript:toPage('pages/ceshi1.html')">因伙得福</a>
				</div>
				<div style="float: left;padding: 10px;color: #d9e1ec;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: "微软雅黑";opacity: 0.2">
					<a href="javascript:toPage('pages/ceshi3.html')">试福课堂</a>
				</div>
			</div>
			<div class="div_left">
				<div class="div_znxx">
					<div><a href="javascript:toPage('pages/ceshi1.html')" style="background: url(img/siderbar_09.png) no-repeat 0 5px; padding-left: 15px;">站内信息</a></div>
				
				</div>
				<dl class="dl_menu">
					<dt class="dt_menu" ><font style="background: url(img/siderbar_04_01.png) no-repeat 0 2px; padding-left: 15px;">活动准备</font></dt>
					<dd class="dd_menu"><a href="javascript:toPage('pages/ceshi2.html')">>任务设置</a></dd>
					<dd class="dd_menu"><a href="javascript:toPage('pages/ceshi3.html')">>兑换商品</a></dd>
					<dd class="dd_menu"><a href="javascript:toPage('pages/ceshi1.html')">>预定商品</a></dd>
					<dd class="dd_menu"><a href="#">>幸福一点</a></dd>
				</dl>
				<dl class="dl_menu">
					<dt class="dt_menu" ><font style="background: url(img/siderbar_02_01.png) no-repeat 0 2px; padding-left: 15px;">活动管理</font></dt>
					<dd class="dd_menu"><a href="#">>试福活动</a></dd>
					<dd class="dd_menu"><a href="#">>收藏活动</a></dd>
				</dl>
				<dl class="dl_menu">
					<dt class="dt_menu"><font style="background: url(img/siderbar_01_01.png) no-repeat 0 2px; padding-left: 15px;">账号设置</font></dt>
					<dd class="dd_menu"><a href="#">>基本信息</a></dd>
					<dd class="dd_menu"><a href="#">>安全中心</a></dd>
					<dd class="dd_menu"><a href="#">>收货地址</a></dd>
					<dd class="dd_menu"><a href="#">>勋章管理</a></dd>
					<br />
					<br />
					
				</dl>
				<div class="div_znxx">
						<div><a href="#" style="background: url(img/siderbar_08.png) no-repeat 0 5px; padding-left: 15px;">晒货分享</a></div></div>
				<div class="div_znxx">
						<div><a href="#" style="background: url(img/siderbar_05.png) no-repeat 0 5px; padding-left: 15px;">资金管理</a></div></div>
			</div>
			<div class="div_right"></div>
		</div>
	</body>
</html>
