@charset "utf-8";
body{background:#fff;}
/* CSS Document */
a:hover{ color:#f01861;}
.login_body{ width:1000px; height:470px; margin-top:60px;}
.login_001{ background:url(../img/login_001.jpg) no-repeat; width:614px; height:424px; float:left;margin-top: -4px;}
.login_010{width:360px; float:left; margin-left:25px;margin-top:70px; border: 1px solid #CCCCCC; height: 350px; }
.login_011{float:right;margin-right: 10px;line-height: 30px;}
.login_002{ no-repeat; width:303px; height:288px;float:left;padding-top:35px; padding-right:30px; padding-left:30px;}
.login_003{ color:#f01861; text-align:right;}
.login_003 span{ font-size:16px; float:left;}
.login_004,.login_005{ width:265px ; height:40px; border:#b3b3b3 1px solid; margin-top:22px; color:#a2a1a1; line-height:40px; font-size:15px; padding-left:35px;}
.login_004{ background:url(../img/login-003.png) 5px 5px no-repeat;}
.login_005{ background:url(../img/login-004.png) 7px 5px no-repeat;}
.login_006{ height:40px; line-height:40px; width:303px; margin-top:10px;}
.login_006 span{ float:right;}
.login_007{ background:url(../img/login-005.png) no-repeat; width:112px; height:44px; border:#fff;}

/********** foot ***********/
#foot{ width:100%; border-top:1px solid #e0e0e0; height:105px; text-align:center; line-height:2.5em; padding-top:20px;}
#foot img{ margin-top:5px;}
/*************** head ***************/
#reg{ width:970px; margin-top:30px;}

.reg_head{}
.reg_head a.logo{background: url("../images/login/logo.jpg") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 104px;
    width: 334px}
.reg_head .right{  color: #666666;
    float: right;
    font-family: "宋体";
    height: 30px;
    line-height: 30px;
    margin-top: 61px;}
.reg_head .right a{color:#71a403;}
.reg_body{ width:970px; border:1px solid #dcdcdc;  clear:both; margin-top:48px; display:table; margin-bottom: 10px; }
.reg_jingdu{ width:788px; height:43px; margin-top:35px;} 
.jingdu_sj1{ background:url(../images/login-007.png) no-repeat;}
.jingdu_sj2{ background:url(../images/login-011.png) no-repeat;}
.jingdu_sj3{ background:url(../images/login-013.png) no-repeat;}
/*************** left ***************/
.reg_box{}
.reg_box h1{color: #000000;font-size: 16px;line-height: 20px;margin-left: 92px;margin-top: 45px;}
.reg_box table{ float:left;margin-left:50px;margin-bottom:50px;}
.reg_box td{ line-height:35px; padding-top:28px;}
.table_r{ text-align:right; width:130px; height:35px; line-height:35px; }
.reg_001{border: 1px solid #CFCFCF;border-radius: 4px;color: #A2A1A1;font-size: 15px;height: 35px;line-height: 35px;padding-left: 7px;width: 250px;}
.reg_002{ background:url(../images/login-021.png) no-repeat; width:99px; height:35px; border:0; line-height:35px;;color:#a2a1a1; font-size:15px; padding-left:7px;}
.reg_003{background: url("../images/login-008.png") no-repeat 0 center;
    border: medium none #FFFFFF;
    height: 36px;
    margin-top: -20px;
    width: 142px;cursor:pointer;}
.table_c{ text-align:center; }
.table_r,.table_c{color: #666666;font-family: "宋体";font-size: 15px;}
.table_c a{ color:#244c95;}
.table_c a:hover{  color:#f01861;}
.reg_004{ background:url(../images/login-012.png); width:90px; height:41px; border:0;cursor:pointer;}

.reg_005{ width:693px; height:100px; background:url(../images/login-014.png) 20px 0 no-repeat; font-size:16px; line-height:24px; padding-left:90px; margin-top:40px;}
.reg_006{ border:1px solid #e4e4e4; background:#f4f2f1; width:500px; height:120px; color:#494848; font-size:16px; line-height:24px; padding-top:35px; padding-left:20px; margin-left:105px; }
.reg_006 img{ margin-top:8px;}
.reg_007{ width:600px; line-height:2em; font-size:16px; margin-top:50px; margin-left:105px;}
.reg_007 a{ line-height:24px; font-weight:bold; text-decoration:underline; color:#ee1d61;}
/***********用户***************/
.reg_0051{ width:670px; height:70px; background:url(../images/login-014.png) 0px 0 no-repeat; margin-left:60px; font-size:16px; line-height:24px; padding-left:65px;  margin-top:40px;}
.reg_0061{ border:1px solid #e4e4e4; background:#f4f2f1; color:#494848; font-size:16px;width:600px; line-height:24px; padding:30px 20px; margin-left:105px; }

.reg_0061 h3{
  margin-top:10px;font-weight: 700;
}
.reg_0061 img{ margin-top:8px;}

.reg_box h1.success{
		background: url("../images/login/right.png") no-repeat scroll 0 0;
	padding-left:24px;
	
}
/****************  right *********************/

.smht_qiang {
    width: 181px;
}
.smht_mima {
    background: url("../images/smht/smht_23.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 26px;
    margin-left: 38px;
    margin-top: 15px;
}
label.require{   color: #FF0000;
    font-size: 12px;}



#header {
    padding-bottom: 5px;
    padding-top: 2em;
}


#reg-logo {
   float: left;
    height: 58px;
    overflow: hidden;
    width: 231px;
}


#header .link {
    color: #DDDDDD;
    float: right;
    padding-top: 2em;
}

#header, #content {
    margin: 0 auto;
    overflow: hidden;
    width: 840px;
}


#content {
    padding: 2em 0;
}

#content dl dd {
    background: url("../images/register_before/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    height: 236px;
    padding: 33px 26px;
    width: 360px;
}




dl dd h2 {
   color: #F39800;
    font-size: 25px;
    font-weight: bold;
    height: 25px;
    width: 110px;
}


dl p {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin: 15px 0;
    padding-right: 10px;
}


.shimingbtn {
     background: url("../images/register_before/shiming.jpg") no-repeat scroll 0 0;
}

.shopbtn {
     background: url("../images/register_before/shangjia.jpg") no-repeat scroll 0 0;
}

.leftbar {
    margin-left: 12px;
}
.shimingbtn, .shopbtn {
    display: block;
    height: 42px;
    overflow: hidden;
    text-indent: -9999px;
    width: 148px;
}


.leftbar h2 {
    background-position: 0 -100px;
}

.shimingimg{
  background: url("../images/register_before/reg_shiming.png") no-repeat scroll 0 0;
    float: left;
    height: 92px;
    margin-top: 12px;
    width: 136px;
}
#reg-logo a{
   background: url("../images/register_before/logo.png") no-repeat scroll 0 0;
    float: left;
    height: 41px;
    margin-top: 12px;
    width: 231px;
}
.saleimg{
  background: url("../images/register_before/reg_shangjia.png") no-repeat scroll 0 0;
    float: left;
    height: 92px;
    margin-top: 12px;
    width: 186px;
}

.register label.error{color:#ff5783;	background: url("../images/login/error.png") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;}
.register label.validate_right{ 
	background: url("../images/login/right.png") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 16px;}
	
tr.mima td{padding:0;line-height:28px;padding-top:10px;}	
	
.level{background: url("../images/login/mima.png") no-repeat scroll 0 0;
    display: table;
    line-height: 14px;}
.level .li{    display: inline;
    float: left;
    margin-right: 1px;
    text-align: center;
    width: 84px;}

.level .ls {
    color: #FFFFFF;
    display: block;
    width: 100%;
}

.level .l01 .current {
    background-position: 0 -14px;
}
.level .l02 .current {
    background-position: center -14px;
}
.level .l03 .current {
    background-position: right -14px;
}
.level .current {
 background:url("../images/login/mima.png") no-repeat scroll 0 0;
}
.info{ color: #848383;
    line-height: 31px;
    padding-left: 115px;
    padding-top: 30px;}
.info span{display:block;}
.info span.user_name{color:#000;}

.setting{ margin-left: 115px;
    margin-top: 58px;
    padding-bottom: 108px;}
.setting a{
	  color: #848383;
    display: block;
    float: left;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 32px;
    margin-right: 15px;
    text-decoration: underline;
}
.setting a.menu{  background: url("../images/login/menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FDFCFC;
    height: 31px;
    text-align: center;
    text-decoration: none;
    width: 106px;}

tr.mima td.padding3{padding-left:10px;}
