@CHARSET "UTF-8";
.syj-ico,
.syj-btn,
.my-icon {
	
	display: inline-block;
	*display: inline;
	*zoom: 1
}
.my-icon {
}
.syj-ico.fav {
	height: 13px;
	width: 15px;
	background-position: 0 -42px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-jin,
.syj-ico.renwu-jin-fail {
	height: 15px;
	width: 15px;
	background-position: -66px -21px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-jin-fail {
	background-position: -42px -21px
}
.syj-ico.renwu-yan,
.syj-ico.renwu-yan-fail {
	height: 15px;
	width: 15px;
	background-position: -45px -42px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-yan-fail {
	background-position: 0 -74px
}
.syj-ico.renwu-sj,
.syj-ico.renwu-sj-fail {
	height: 16px;
	width: 56px;
	background-position: -48px -90px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-taofu {
	height: 15px;
	width: 15px;
	background-position: -29px -58px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-sousuo {
	height: 15px;
	width: 15px;
	background-position: -81px -21px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-sj-fail {
	background-position: -44px -58px
}
.syj-ico.renwu-sjss,
.syj-ico.renwu-sjss-fail {
	height: 16px;
	width: 56px;
	background-position: 0 -172px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu-sjss-fail {
	background-position: -47px -74px
}
.syj-ico.xinyongka {
	height: 16px;
	width: 16px;
	background-position: -32px -106px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.sjss {
	height: 15px;
	width: 23px;
	background-position: -77px 0;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.huabei {
	height: 16px;
	width: 16px;
	background-position: -16px -150px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu_quxiao {
	height: 63px;
	width: 108px;
	background-position: 0 -914px;
	vertical-align: -4px;
	margin: 0 2px
}
.syj-ico.renwu_quxiao {
	height: 63px;
	width: 108px;
	background-position: 0 -914px;
	vertical-align: -4px;
	margin: 0 2px
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
	display: none !important
}
ng\:form {
	display: block
}
.ng-animate-block-transitions {
	transition: 0s all !important;
	-webkit-transition: 0s all !important
}
.ng-hide-add-active,
.ng-hide-remove {
	display: block !important
}
.sousuo_content h2 {
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	background: #ff2a87;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	padding: 0 10px;
	font-weight: 400
}
.sousuo_content .body {
	padding: 10px;
	color: #333;
	font-size: 16px;
	margin-bottom: 20px
}
.sousuo_content p {
	font-size: 16px
}
.sousuo_content b {
	color: #f92c87;
	font-weight: 400
}
.sousuo_content .buzhou {
	margin-bottom: 20px
}
.sousuo_content .keywords_p,
.renwu_detail .keywords_p {
	background: url('../img/sousuo/keywords.jpg?1401173601');
	width: 689px;
	height: 76px;
	-moz-user-select: none;
	position: relative
}
.sousuo_content .keywords_p span,
.renwu_detail .keywords_p span {
	position: absolute;
	top: 16px;
	left: 208px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default
}
.sousuo_content .keywords_p_tmall,
.renwu_detail .keywords_p_tmall {
	/*background: url('../img/keywords-tmall.png?1411693023');*/
	width: 700px;
	height: 105px;
	-moz-user-select: none;
	position: relative
}
.sousuo_content .keywords_p_tmall span,
.renwu_detail .keywords_p_tmall span {
	position: absolute;
	top: 18px;
	left: 218px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default
}
.sousuo_content .keywords_p2,
.renwu_detail .keywords_p2 {
	background: url('../img/sousuo_dianpu.png?1401928871');
	width: 716px;
	height: 156px;
	user-select: none;
	position: relative
}
.sousuo_content .keywords_p2 span,
.renwu_detail .keywords_p2 span {
	position: absolute;
	top: 25px;
	left: 270px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default
}
body {
	background: #feebe7;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	background: url('../img/bg.jpg') repeat-x center 0 #feebe7
}
.renwu_head {
	width: 990px;
	height: 461px;
	background: url('../img/head.jpg') no-repeat 0 0;
	color: #fff;
	font-size: 18px;
	margin: 223px auto 0;
	position: relative
}
.renwu_head .tishi {
	color: #fffccd;
	font-size: 14px;
	position: relative
}
.renwu_head .tishi .tip {
	position: absolute;
	width: 224px;
	height: 143px;
    right: -224px;
	display: block;
	background: url('../img/hc.png') no-repeat 0 0;
	top: -55px
}
.renwu_head hr {
	height: 25px;
	margin: 25px 0 0;
	border: none;
	border-top: 1px solid #8b8b8b
}
.renwu_head em {
	color: #ff005f
}
.renwu_head .body {
	width: 870px;
	margin: 66px auto 0
}
.renwu_head .lc {
	height: 200px
}
.renwu_nav {
	position: absolute;
	top: -41px;
	left: 12px
}
.renwu_nav li {
	display: block;
	float: left
}
.renwu_nav li a {
	width: 148px;
	height: 62px;
	display: block;
	background: url('../img/nav.jpg') no-repeat 0 0;
	color: #fff;
	font-size: 18px;
	line-height: 62px;
	text-align: center
}
.renwu_nav li a.active {
	background-image: url('../img/nav-active.jpg')
}
.renwu_nav li.l-ico,
.renwu_nav li.r-ico {
	width: 6px;
	height: 43px;
	background: url('../img/renwu3/l.png?1431304705') no-repeat 0 -2px
}
.renwu_nav li.r-ico {
	/*background-image: url('../img/renwu3/r.png?1431304705')*/
}
.renwu_widget {
	width: 990px;
	margin: 0 auto 25px;
	position: relative;
	background: url('../img/renwu_widget_body.png') repeat-y 0 0;
	min-height: 300px;
	padding-bottom: 64px
}
.renwu_widget .h {
	position: absolute;
	height: 73px;
	background: url('../img/renwu_widget_head.png?1431304705') no-repeat 0 0;
	width: 990px
}
.renwu_widget .f {
	position: absolute;
	bottom: 0;
	height: 74px;
	background: url('../img/renwu_widget_foot.png') no-repeat 0 0;
	width: 990px
}
.renwu_widget .renwu_widget_box {
	position: relative;
	z-index: 1
}
.renwu_widget h2 {
	font-size: 36px;
	background: url('../img/widget_head.png') no-repeat center 20px;
	color: #000;
	margin-top: 46px;
	line-height: 36px;
	text-align: center;
	text-underline-color: #fff;
	font-weight: 400
}
.renwu_widget h2 .t {
	background: #fff;
	padding: 0 10px
}
.renwu_widget h2 .sub_t {
	color: #4d4d4d;
	font-size: 18px
}
.renwu_widget .tip {
	padding: 0 77px;
	height: 77px;
	margin-left: -77px;
	text-align: center;
	color: #ffea00;
	line-height: 60px;
	background: url('../img/tip.png') no-repeat 0 0;
	width: 100%
}
.renwu_widget .tip i {
	background: url('../img/alert.png') no-repeat 0 0;
	width: 31px;
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px
}
.renwu_widget .body {
	margin: 5px 55px
}
.renwu_widget .c {
	font-size: 16px;
	color: #565455;
	margin: 0 auto
}
.renwu_widget .c .small {
	font-weight: 400
}
.renwu_widget .shuoming {
	padding: 8px 15px;
	background: #f4f4f4;
	color: #000;
	font-family: "SimSun", tahoma, arial;
	margin-bottom: 10px
}
.m20 {
	margin-bottom: 20px
}
.price {
	color: #ff4f7c
}
.songti {
	font-family: "SimSun", tahoma, arial
}
.keywords_p {
	background: url('../img/keywords.jpg');
	width: 689px;
	height: 76px;
	-moz-user-select: none;
	position: relative
}
.keywords_p span {
	position: absolute;
	top: 16px;
	left: 208px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default;
	font-weight: 400
}
.keywords_p_tmall {
	background: url('../img/keywords-tmall.png?1411693023');
	width: 700px;
	height: 105px;
	-moz-user-select: none;
	position: relative
}
.keywords_p_tmall span {
	position: absolute;
	top: 18px;
	left: 218px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default;
	font-weight: 400
}
.keywords_p_sj {
	background: url('../img/sousuo/keywords-sj.png?1429666254');
	width: 800px;
	height: 64px;
	-moz-user-select: none;
	position: relative
}
.keywords_p_sj span {
	position: absolute;
	top: 17px;
	left: 100px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	cursor: default;
	font-weight: 400;
	font-size: 22px
}
.keywords_p2 {
	background: url('../img/sousuo/sousuo_dianpu.png?1401928871');
	width: 716px;
	height: 156px;
	user-select: none;
	-moz-user-select: none;
	position: relative
}
.keywords_p2 span {
	position: absolute;
	top: 25px;
	left: 270px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default;
	font-weight: 400
}
.ctrl_f {
	background: url('../img/ctrl_f.png');
	width: 622px;
	height: 48px;
	user-select: none;
	position: relative;
	-moz-user-select: none
}
.ctrl_f span {
	position: absolute;
	top: 12px;
	left: 70px;
	font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
	cursor: default;
	font-weight: 400
}
.renwu_list {
	font-weight: 400
}
.renwu_list ul {
	margin-top: -1px
}
.renwu_list li {
	padding: 10px 40px;
	border-top: 1px dashed #e8e8e8
}
.renwu_list .item {
	padding: 10px
}
.renwu_list li.active .item {
	border: 1px solid #e7452c
}
.renwu_list .img {
	width: 160px;
	height: 160px;
	text-align: center;
	float: left;
	margin-right: 30px
}
.renwu_list .img img {
	max-height: 160px
}
.renwu_list .bd {
	width: 340px;
	padding-top: 25px;
	float: left
}
.renwu_list .t {
	font-weight: 400;
	color: #666666
}
.renwu_list .sx {
	color: #e7452c;
	margin-top: 10px
}
.renwu_list .weizhi {
	margin-top: 10px;
	padding: 15px;
	border: 1px dashed #dceff3;
	font-size: 18px;
	color: #e7452c;
	float: left;
	width: 200px;
	font-weight: 400;
	line-height: 1.8em
}
.renwu_list .erweima {
	margin-top: 10px;
	float: left;
	text-align: center;
	font-size: 18px;
	display: block;
	width: 124px
}
.renwu_list .erweima img {
	border: 1px solid #def2f2;
	display: block;
	width: 124px;
	height: 124px
}
.ovh {
	overflow: hidden
}
.renwu-tijiao table {
	width: 100%
}
.renwu-tijiao .sp {
	padding: 30px 0;
	text-align: left;
	width: 220px;
	margin: 0 auto
}
.renwu-tijiao .sp .img,
.renwu-tijiao .sp .img img {
	width: 220px
}
.renwu-tijiao .sp .img {
	position: relative;
	display: block
}
.renwu-tijiao .sp .img i {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../img/baoguo.png?1407484476') no-repeat;
	width: 88px;
	height: 33px
}
.renwu-tijiao .sp .xuanze {
	position: relative;
	margin: 19px 10px 0;
	padding: 5px 5px;
	font-size: 13px;
	border: 1px solid #cae7f6;
	background: #f7f7f8
}
.renwu-tijiao .sp .xuanze i {
	width: 18px;
	height: 19px;
	display: block;
	position: absolute;
	top: -20px;
	left: 50%;
	/*background: url('../img/renwu3/xuanze_bg.png?1431304705') no-repeat*/
}
.renwu-tijiao .sp_shifu {
	width: 260px
}
.renwu-tijiao .sp_shifu .img {
	width: 260px
}
.renwu-tijiao .sp_shifu .img img {
	width: 260px
}
.renwu-tijiao .tijiao-form .form-actions {
	background: #fff;
	border: none;
	margin: 0
}
.shuliang {
	font-size: 35px;
	line-height: 28px
}
.theme_sj_store {
	width: 480px;
	height: 242px;
	background: url('../img/hedui_sj_dp.png?1429666254') no-repeat 0 -250px;
	position: relative
}
.theme_sj_store .k {
	left: 100px;
	top: 21px;
	position: absolute
}
.xuanfu {
	width: 273px;
	height: 238px;
	background: url('../img/fixed.png?1431304705') no-repeat 0 0;
	position: fixed;
	right: 20px;
	top: 100px;
	text-align: center;
	z-index: 5
}
.xuanfu .t {
	margin-top: 65px;
	font-size: 12px;
	font-family: "SimSun", tahoma, arial;
	color: #6a6a6a;
	height: 42px
}
.xuanfu .c {
	color: #baa792;
	font-style: italic;
	line-height: 30px;
	height: 90px
}
.xuanfu .liuyan {
	color: #e40707
}
.renwu_footer {
	width: 990px;
	margin: 70px auto 50px
}
.renwu_footer .f1 {
	width: 1522px;
	height: 238px;
	background: url('../img/footer.jpg') no-repeat 0 0;
	margin-left: -236px;
	margin-bottom: 10px
}
i.goods_select_icon {
	width: 73px;
	height: 23px;
	background: url('../img/duihuan.png?1431304705') no-repeat 0 0;
	display: block
}
.goods_yueyue {
	margin: -15px
}
.goods_yueyue .summary {
	margin-right: 15px
}
.goods_yueyue .img {
	height: 60px;
	display: block;
	margin-left: 20px
}
.goods_yueyue .type_yuyue,
.goods_yueyue .type_duihuan {
	width: 20px;
	text-align: center;
	background: #ff8a00;
	color: #fff;
	float: left;
	height: 58px;
	padding-top: 2px;
	line-height: 14px
}
.goods_yueyue .type_duihuan {
	background: #f53787
}
.goods_yueyue .table-hover {
	border: none
}
.info_seller{

}