<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>创建任务</h1>

					<div class="row">
						<div class="span10">

							<div class="ystep4"></div>

							<!-- 引入jquery -->
							<script src="js/jquery.min.js"></script>
							<!-- 引入ystep插件 -->
							<script src="js/ystep.js"></script>
							<script>
								 //根据jQuery选择器找到需要加载ystep的容器
								
								$(".ystep4").loadStep({
									size: "large",
									color: "blue",
									steps: [{
										title: "发起",
										content: "获取淘宝链接"
									}, {
										title: "设置",
										content: "详细设置"
									}, {
										title: "募款",
										content: "乐捐项目上线接受公众募款"
									}, {
										title: "执行",
										content: "项目执行者线下开展救护行动"
									}, {
										title: "结项",
										content: "项目执行者公示善款使用报告"
									}]
								});
								
								$(".ystep4").setStep(2);
							</script>
							<div style="padding-top: 50px;">
								商品链接：
								<input style="border-bottom-left-radius: 5px;border-top-left-radius: 5px; border: 1px solid #ccc;" />
								<input type="button" disabled="disabled" value="从淘宝读取信息" style="border-bottom-right-radius: 5px;border-top-right-radius: 5px;border: 1px solid #ccc;" />
								<br />
							</div>

							<table class="am-table" style="margin-top: 20px;">
								<thead>
									<tr style="background: #EAEAEA;">

										<th>宝贝名称</th>
										<th>商品规格</th>
										<th>商品价格</th>
										<th>件数</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
							<center>
								<font size="-2" color="red">任务最多可以添加3个链接</font>
								<br />
								<button type="button" class="am-btn am-btn-secondary" style="margin-top: 5px;">下一步</button>
							</center>
						</div>

					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">

</block>