<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<link rel="stylesheet" href="__CSS__/ystep.css">

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<h1>创建任务</h1>

					<div class="row">
						<div class="span10">

							<div class="ystep4"></div>

							<!-- 引入jquery -->

							<!-- 引入ystep插件 -->
							<script src="__JS__/ystep.js"></script>
							<script>
								 //根据jQuery选择器找到需要加载ystep的容器
								$(".ystep4").loadStep({
									size: "large",
									color: "blue",
									steps: [{
										title: "创建淘宝任务",
										content: "获取淘宝链接"
									}, {
										title: "设置任务详细信息",
										content: "详细设置"
									}, {
										title: "设置任务订单信息",
										content: "设置订单及聊天信息"
									}, {
										title: "完成",
										content: "创建完成"
									}]
								});
								$(".ystep4").setStep(1);
							</script>
							<div id="taobao" style="padding-top: 50px;">
								商品链接：
								<input style="border-bottom-left-radius: 5px;border-top-left-radius: 5px; border: 1px solid #ccc;" />
								<input type="button" disabled="disabled" value="从淘宝读取信息" style="border-bottom-right-radius: 5px;border-top-right-radius: 5px;border: 1px solid #ccc;" />
								<button id="probtn" type="button" class="am-btn am-btn-default am-round">从商品库中选取</button>
								<br />
							</div>
							<div id="products" class="filter-controls ">
							<form class="form-inline groupForm" method="post">
								<div class="form-group-sm">
									<label class="control-label">cong</label>
									<select id="groups"  name="groupid" class="form-control">
										<!--<volist name="groups" id="vo">
											<option <eq name="groupid" value="$vo.id">selected="selected"</eq> value="{$vo.id}" >{$vo.name}</option>
										</volist>-->
									</select>
								</div>
							</form>
						</div>
							<table class="am-table" style="margin-top: 20px;">
								<thead>
									<tr style="background: #EAEAEA;">

										<th>宝贝名称</th>
										<th>商品规格</th>
										<th>商品价格</th>
										<th>件数</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<center>
								<font size="-2" color="red">任务最多可以添加3个链接</font>
								<br />
								<button id="down" type="button" class="am-btn am-btn-secondary" style="margin-top: 5px;">下一步</button>
							</center>
						</div>

					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function() {
			$('#groups').hide();
			$('#probtn').click(function(){
				$('#taobao').hide();
				$('#products').css('margin-left','200px');
				$('#products').css('margin-top','50px');
				$('#products').show();
			})
			$('#taobaobtn').click(function(){
				$('#products').hide();
				$('#taobao').show();
			})
			$('#down').click(function() {
				window.location.href = "{:U('Home/SJActivity/activity_2')}";
			})
			
		})
	</script>
</block>