<extend name="template/base_index" />

<block name="area_header">
    <link rel="stylesheet" href="__CSS__/shangjia2.css">
    <link rel="stylesheet" href="__CSS__/common.css?v=__APP_VERSION__">
	<style type="text/css">
		#begin_time,#end_time,#count{ height: 30px;}
		#yw1 li{list-style-type: none;}
        .input-fix-am{

            width: 200px;
            font-size: 12px;
        }
        .search_form{
            width: 320px;
        }
        .j_content textarea{
            font-size: 12px;
        }
        .j_sh_id_text{

            font-size: 1.8rem;
            font-weight: 500;
        }
	</style>
</block>

<block name="area_body">

	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" >
		<div class="seller_content_wrap">

			<div class="seller_content" style="padding-top: 10px;">

					<div class="task-head">
						<div class="breadcrumbs">
							<a href="{:U('Home/SJActivity/sj_tbhd')}">淘宝活动</a>&gt;<span>任务计划管理：{$task['task_name']}</span>
						</div>
						<!--</div><a class="look-other" href="#">查看任务试民</a>-->
					</div>

					<div class="content">

						<div class="renwu-head">

							<ul class="product-image">
								<volist name='products' id='vo' >
                                    <li><img width="75px" height="75px" src="{$vo['main_img']}" class="gray">
                                    </li>
								</volist>
							</ul>

							<div class="task-tongji">
								<div class="tongji">
									<span style="font-family: '微软雅黑'; margin-left: 20px;">单份任务金:<i>{$task['task_gold']}</i>元</span>
								</div>
								<div>
                                    <form method="post" action="__SELF__" class="am-form am-form-horizontal search_form">
                                        <div class="am-form-group am-cf">
                                            <input name="code" value="{$code}" class="input-fix-am am-fl am-form-field am-padding-xs" placeholder="任务编号/淘宝旺旺号/淘宝订单号" />
                                            <button type="submit" class="am-btn am-btn-sm am-fl am-btn-default am-padding-xs">搜索</button>
                                        </div>
                                    </form>
                                </div>
							</div>

							<div class="option">
								<!--<a class="btn btn-renwu" modal-title="发放任务" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 750, height:500}" href="javascriot:void(0)">发放任务</a>--> 
							</div>

						</div>

                        <div class="filter-controls">
                            <div class="am-tabs"  id="doc-tab-demo-1">
                                <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <!--<li><a href="{:U('Home/SJActivity/alluser',array('status'=>'submit'))}">待审核订单</a></li>-->
                                    <li class="am-active"><a href="{:U('Home/SJActivity/alluser',array('id'=>I('get.id',0),'status'=>'doing'))}">任务中</a></li>
                                    <!--<li><a href="{:U('Home/SJActivity/alluser',array('status'=>'cancel'))}">取消、放弃</a></li>-->
                                </ul>
                            </div>

                        </div>

						<div class="renwuku jquery-once-1-processed">
							<div id="yw1" class="grid-view" >
								<table class="items table table-hover">
									<thead>
										<tr>
                                            <th width="80">编号</th>
											<th width="80" >任务试民</th>
											<th width="100" >搜索设置</th>
                                            <th width="160" >订单信息</th>
                                            <th width="160" >物流信息</th>
                                            <th width="160" >发货模式</th>
                                            <th width="160" >任务步骤</th>
                                            <th width="160" >通过时间</th>
                                            <th width="160" >最近更新</th>
                                            <th width="160" >操作</th>
										</tr>
									</thead>
									<tbody>
                                    <empty name="list">
                                        <tr>
                                            <td class="am-text-center"  colspan="10">没有相关信息</td>
                                        </tr>
                                    </empty>
										<volist name='list' id='vo'>

										<tr class="odd">
                                            <td>
                                                {$vo.id}
                                            </td>

											<td>
                                                <div class="am-cf">
                                                    <div class="am-fl">
                                                        <empty name="vo['head']">
                                                            <img class="" style="width: 48px;height:48px;" src="__IMG__/default_user_portrait.gif" alt="">

                                                            <else/>
                                                            <img style="width: 48px;height:48px;" src="{$vo['head']}" >
                                                        </empty>
                                                    </div>
                                                    <div class="am-fl">{$vo.nickname}</div>
                                                </div>

											</td>

											<td>
                                                搜索设置
											</td>
                                            <td>
                                                <div>{$vo.tb_account}</div>
                                                <div class="">
                                                    <small>
                                                    <if condition="empty($vo['tb_orderid'])">
                                                        订单:-
                                                        <else/>
                                                        订单:{$vo.tb_orderid}
                                                    </if>
                                                    </small>
                                                </div>
                                                <div >
                                                    <small >返款:
                                                    <if condition="$vo['tb_price'] gt 0">
                                                     <span class="am-text-danger">￥{$vo.tb_price}</span>
                                                        <else/>
                                                        -
                                                    </if>
                                                    </small>
                                                </div>

                                            </td>
                                            <td>
                                                <if condition="empty($vo['express_code'])">
                                                    -
                                                    <else/>
                                                    <span class="am-text-danger">{$vo.express_name}</span>
                                                    <span class="am-text-danger">{$vo.express_no}</span>
                                                </if>
                                            </td>

                                            <td width="160" >
                                                {:getDeliveryMode($vo['delivery_mode'])}
                                            </td>
                                            <td >
                                                {$vo.do_status_name}

                                                <eq name="vo['do_status']" value="$reject_order">
                                                <p class="am-text-danger">原因:
                                                    <empty name="vo['notes']">
                                                        -
                                                        <else/>
                                                        {$vo.notes}
                                                    </empty>

                                                </p>
                                                </eq>
                                            </td>
                                            <td >
                                                {$vo.create_time|date='Y-m-d H:i',###}
                                            </td>
                                            <td  >
                                                {$vo.update_time|date='Y-m-d H:i',###}
                                            </td>
                                            <td width="160" >

                                                <eq name="vo['do_status']" value="$submit_order">
                                                    <a href="javascript:void(0)" data-href="{:U('Home/TaskHis/sh_view',array('id'=>$vo['id']))}" data-id="{$vo.id}" class="j_sh_order am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-warning">审核订单</a>

                                                    <!--<a href="{:U('Home/SJActivity/confirm_order',array('id'=>$vo['id']))}" class="ajax-get am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-primary">确认订单</a><br/>-->

                                                    <!--<a href="javascript:void(0)" data-id="{$vo.id}" class="j_reject_btn am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-danger">驳回订单</a>-->
                                                    <br/>
                                                </eq>

                                                <eq name="vo['do_status']" value="$received_goods">
                                                    <a href="{:U('Home/SJActivity/return_money',array('id'=>$vo['id']))}" class="ajax-get am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-danger">确认还款</a>
                                                    <br/>
                                                </eq>


                                                <a href="javascript:void(0);" data-href="{:U('Home/TaskLog/view',array('task_his_id'=>$vo['id']))}" class="am-margin-bottom-sm j_view_log btn-fix-am am-btn am-btn-sm am-btn-default btn-fix-am">淘宝日志</a>


                                            </td>
											
										</tr>
										</volist>
									</tbody>
								</table>
								<div class="row-fluid">
									<div class="span6 offset3"></div>
									<div class="span3">
										<div class="summary">{$show}</div>
									</div>
								</div>

							</div>
						</div>
	
					</div>
				</div>
			</div>
			<include file='Widget/sjleft' />
		</div>
    <!-- 日志查看窗口 START -->
    <div class="am-modal am-modal-alert" tabindex="-1" id="j_task_log_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#日志查看# <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
            <div class="am-modal-bd">
                <i class="am-icon-spinner am-icon-spin j_loading"></i>
                <div class="j_content"></div>
            </div>
        </div>
    </div>
    <!-- 日志查看窗口 END -->

    <!-- 驳回订单 START -->
    <!--<div class="am-modal am-modal-alert" tabindex="-1" id="j_reject_modal">-->
        <!--<div class="am-modal-dialog">-->
            <!--<div class="am-modal-hd am-text-left">#驳回订单编号#<span class="j_reject_id_text"></span>-->
                <!--<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>-->
            <!--</div>-->
            <!--<div class="am-modal-bd">-->
                <!--<form class="j_reject_form" >-->
                    <!--<input type="hidden" class="j_reject_id" name="id"/>-->
                    <!--<div class="am-form-group">-->
                        <!--<label CLASS="am-text-left">驳回原因</label>-->
                        <!--<div class="j_content">-->
                            <!--<textarea name="reason" rows="5" class="am-form-field "></textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div>-->

                        <!--<a href="javascript: void(0)" class=" am-btn am-btn-sm am-btn-default" data-am-modal-close>取消</a>-->

                        <!--<a target-form="j_reject_form" href="{:U('Home/SJActivity/reject_order')}" class="ajax-post am-btn am-btn-sm am-btn-primary">确定</a>-->
                    <!--</div>-->

                <!--</form>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- 驳回订单 END -->


    <div  class="am-modal am-modal-alert" tabindex="-1" id="j_sh_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-left">#审核订单#<span class="j_sh_id_text"></span>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <i class="am-icon-spinner am-icon-spin j_loading"></i>

                <div class="j_content"></div>
            </div>
        </div>
    </div>


</block>

<block name="area_footer">
	<script type="text/javascript">
        $(function(){
            $(".j_reject_btn").each(function(index,item){
                $(item).click(function(ev){
                    var id = $(ev.target).data("id");

                    $("#j_reject_modal .j_reject_id_text").text(id);
                    $("#j_reject_modal .j_reject_id").val(id);
                    $("#j_reject_modal").modal();

                });
            });

            //审核订单
            $(".j_sh_order").each(function(index,item) {
                $(item).click(function(ev){
                    $("#j_sh_modal").find(".j_loading").show();
                    $('#j_sh_modal').modal({width:720,height:480});
                    var url = $(ev.target).data("href");
                    var id = $(ev.target).data("id");
                    $("#j_sh_modal .j_sh_id_text").text(id);
                    $.get(url, function(result){
//                         console.log(result);

                        $("#j_sh_modal").find(".j_loading").hide();
                        $("#j_sh_modal").find(".j_content").html(result);

                        bind_ajax_post("#j_sh_modal .j_content");

                    }, 'html');

                });

            });


            $('.j_view_log').each(function(index,item) {
                $(item).click(function(ev){
                    $("#j_task_log_modal").find(".j_loading").show();
                    $('#j_task_log_modal').modal({width:720,height:480});
                    var url = $(ev.target).data("href");
                    $.get(url, function(result){
//                        console.log(result);
                        $("#j_task_log_modal").find(".j_loading").hide();
                        $("#j_task_log_modal").find(".j_content").html(result);

                    }, 'html');

                });

            });




        });//end $ function

        function bind_ajax_post(class_name){
            $(class_name+' .ajax-post').each(function(index,item){

                $(item).click(function(ev) {
                    console.log(ev);

                    var target, query, form;
                    var target_form = $(ev.target).attr('target-form');
                    var that = ev.target;
                    console.log(that);

                    form = $('.' + target_form);

                    if ($.validator && (form.hasClass("validate-form") || form.hasClass("validateForm"))) {
                            if (!form.valid()) {
                                alertMsg('表单验证不通过！');
                                return false;
                            }
                    }

                    if (form.get(0).nodeName == 'FORM') {
                        if ($(that).attr('url') !== undefined || $(that).attr("href") !== undefined) {
                            target = $(that).attr('url') || $(that).attr("href");
                        } else {
                            target = form.get(0).action;
                        }
                        query = form.serialize();
                    }

                    ajaxpost(that, target, query,ev);

                    return false;
                }); //END ajax-post
            });//END EACH
        }//END function

        function ajaxpost(that, target, query,ev) {
//			$(that).button("loading");
            console.log(that);
            //var ele = loadingMsg("请求中...");
            $(that).button('loading');
            var funcname =  $(that).data("when-done");
            $.post(target, query).always(function() {
                //ele.modal("close");
                setTimeout(function() {
                    $(that).button("reset");
                }, 1400);
            }).done(function(data) {

                if (data.status == 1) {
                    if(!$(that).data('no-alert')){
                        if (data.url) {
                            alertMsg(data.info + ' <br/>页面即将自动跳转~');
                        } else {
                            alertMsg(data.info);
                        }

                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            } else if ($(that).hasClass('no-refresh') || $(that).data('no-refresh')) {
                                //不刷新
                            } else {
                                location.reload();
                            }
                        }, 1500);
                    }else{
                        if(funcname && funcname in window) {//判断是否是函数名
                            window[funcname](ev);
                        }
                        if (data.url) {
                            location.href = data.url;
                        }else if ($(that).data('no-refresh')) {
                            //不刷新
                        }else{
                            location.reload();
                        }
                    }
                } else {

                    alertMsg(data.info);
                    setTimeout(function() {
                        if (data.url) {
                            location.href = data.url;
                        } else {}
                    }, 1500);
                }
            }).fail(function(){
                alertMsg("操作失败！");
            });
        }
    </script>
</block>

