<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<link rel="stylesheet" href="__CSS__/select2.css">
	<script type="text/javascript" src="__CDN__/select2/4.0.0/js/select2.full.js"></script>
	<script type="text/javascript" src="__CDN__/select2/4.0.0/js/i18n/zh-CN.js"></script>
	<link type="text/css" rel="stylesheet" href="__CDN__/select2/4.0.0/css/select2.min.css" />
	<style type="text/css">
		.select2-results__options{
            background: white;
            width: 465px;
        }

		.select2-search--dropdown{
            width: 465px;
            margin-top: -85px;
            background: white;
        }

        .ali_wang{
            background: url(__IMG__/ali_wang.png) 0 -2px no-repeat;
            vertical-align:middle;
        }

        .sm_disable_input{
            width: 40px;
            text-align: center;
        }

	</style>
	<script type="text/javascript">

        function setPrice(price){
            if(price.length < 2){
                price[1] = "";
            }
            price[0] = parseFloat(price[0]);
            price[1] = parseFloat(price[1]);

            if(!isNaN(price[1]) || !isNaN(price[0])) {
                $('#div_searchCondition').find('.j_price').html("价格区间: <input disabled class='sm_disable_input' value='" + price[0] + "'\/> － <input disabled class='sm_disable_input' value='" + price[1] + "'\/>");
            }

            if(price.length > 0 && !isNaN(price[0])){
                $("input[name='price_min']").val(price[0]);
            }

            if(price.length > 1 && !isNaN(price[1])){
                $("input[name='price_max']").val(price[1]);
            }
        }

		$(function(){
			$('#parseBtn').click(function(){
				var parseUrl=$('#url').val();
				$.ajax({
                    data:{url:encodeURI(parseUrl)},

                    dataType: 'jsonp',
                    jsonp: 'jsonp',
//                    url: "{:U('Tool/RemoteProductParser/read_search',array('r'=>time()))}",
//                    url: "http://bbj.itboye.com/index.php/Tool/RemoteProductParser/read_search",
                    url: "http://www.bammar.com/index.php/Tool/RemoteProductParser/read_search",
					success:function(result){
						if(result.status==0){
							alert(result.info);
						}else{
                            console.log(result.info);
                            var info = result.info;
							var results = info.items;
                            var price = info.price;
                            var pager = info.pager;
                            var attr = info.attr;

                            var j_props =  $('#div_searchCondition').find('.j_props');
                            j_props.empty();

                            for(var i=0;i<attr.length;i++){
                                j_props.append("<p>"+attr[i]+"</p>");
                            }

                            console.log(info);

                            $('#div_searchCondition').find('.font_openUrl').html(info.url);
							$('#div_searchCondition').find('.font_key').html(info.key);
							$('#div_searchCondition').find('.font_tab').html(info.tab);
                            $('#div_searchCondition').find('.font_order').html(info.order);

                            if(info.filter.length > 0){
                                $('#div_searchCondition').find('.j_filter').html("过滤: "+info.filter);
                            }else{
                                $('#div_searchCondition').find('.j_filter').empty();
                            }

                            //设置价格区间
                            setPrice(price);

                            $("input[name='search_attr']").val( attr.toString() );
                            $("input[name='search_xz']").val(info.tab);
                            $("input[name='search_filter']").val(result.info.filter);

							$("input[name='search_url']").val($('#url').val());
							$("input[name='search_q']").val(result.info.key);
							$("input[name='search_order']").val(result.info.order);
							
							var title1=$("#product_base_info .font_title").text();

							var result1="未能在结果页面找到对应搜索，提交后需等待客服审核";
							$('#iscz').val('2');
							var style1="am-alert-warning";
                            var curpage = 1;
                            if(pager != null){
                                curpage ==pager.currentPage;
                            }
							for(var i=0;i<results.length;i++){
                                console.log(title1,results[i].title.trim());
								if(title1.indexOf(results[i].title.trim())!=-1 || results[i].nick.trim() == '{$aliwawa}' ){
									$('#iscz').val('1');

									result1= "成功在第"+curpage+"页找到对应商品,保存搜索后可直接开始使用";
									style1="am-alert-success";
									break;	
								}

							}

							$("#div_search_result").empty();
							$("#div_search_result").append('<div class="am-alert '+style1+'" data-am-alert><button type="button" class="am-close">&times;</button><p>'+result1+'</p></div>');
							$('#div_searchCondition').show();
						}
						
					}
				});
				
			})
			
			
			
			
			$("#user_select2").select2({
				placeholder: "可输入宝贝名称搜索"	,
				language: "zh-CN",
				ajax: {
				    url: "{:U('SJActivity/select')}",
				    dataType: 'json',
				    delay: 250,
				    data: function (params) {
				    	var queryParameters = {
					      q: params.term
					    }
	    				return queryParameters;
				      
				    },
				    processResults: function (data, page) {
				    	if(!data.info){
				    		data.info = new Array();
				    		data.info['nodata']="无相关数据";
				    	}
				      	// parse the results into the format expected by Select2.
				      	// since we are using custom formatting functions we do not need to
				      	// alter the remote JSON data
				      	return {
				        	results: data.info
				      	};
				    },
				    cache: true
			  	}, 
				  	minimumInputLength: 0,
					templateSelection: function (repo) {
						console.log(repo);

						if(repo.title != undefined && repo.title.length > 0){

							if("{$user.aliwawa}" == repo.wangwang.trim()){
                                rebind(repo);
							}else{
                                console.log(repo.wangwang);
								alert('请更换你绑定旺旺的商品');
							}
							
							
							return repo.title || repo.text;
						}else{
							return repo.text;
						}
		  				
					},
				  templateResult: function (repo) {
				   		//console.info(repo);
	      				if (repo.loading) return repo.text;
						if(repo.nodata) return repo.nodata;
						
						
	//    				var markup = '<div>'+repo.nickname+'</div>';
	      				var markup = '<div style="height:50px"><img style="margin-top:0px; height:50px; float:left; width:50px" src="'+repo.main_img+'" style="width:50px;height:50px;float:left"/>[id:'+repo.id+']'+repo.title+'</div>';
	      				return $(markup);
	    			}
			});
			
			
		});
        function rebind(repo){
            var minTitle= repo.title.substring(0,20)+"...";
            $("#product_base_info img").attr('src',repo.main_img);
            $("#product_base_info .controls .font_title").html(repo.title);

            $("#product_base_info .controls .font_time").html(new Date(parseInt(repo.update_time) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '));
            $("#product_base_info .controls .input_url").val(repo.link);

            $("input[name='pid']").val(repo.id);

            $(".j_taobao_item .j_main_img img").attr("src",repo.main_img);
            $(".j_taobao_item .j_price").html(repo.price);
            $(".j_taobao_item .j_title").html(repo.title);

            $("#div_searchCondition .font_wangwang").html(repo.wangwang.substring(0,3));
        }
	</script>

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" >
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">
				<div class="content">
					<h1>搜索编辑</h1>
					<div>
    <input type="hidden" value="{$aliwawa}" class="j_aliwawa"/>
						<form class="form-horizontal jquery-once-1-processed create2-processed ng-scope ng-valid ng-dirty" controller="extend/ajax_form,seller/sousuo_create2,extend/angular" id="yw0" action="#" method="post" novalidate="novalidate">
							<div class="control-group">
								<label class="control-label" style="line-height: 25px;">搜索类型</label>
								<div class="controls">
									<ul class="nav nav-pills mb0" role="menu">
										<!-- 获取搜索类型 -->
										<li class="active" role="menuitem">
											<a tabindex="-1" href="javascript:void(0)">关键词</a>
										</li>
										<li role="menuitem">
                                            <a tabindex="-1" href="{:U('Home/SJActivity/zdysele')}">自定义</a>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">
									搜索商品
								</label>
								<div class="controls">
									<div class="filter-controls pull-left" style="">
										<select style="width:465px;padding: 10px 15px;font-size: 15px;" id="user_select2" name="uid" class="form-control">
											<option value="{$search.id}">{$search.title}</option>
										</select>
									</div>

									<span class="help-inline">选择需要优化搜索的商品</span>
                                </div>

							</div>

							<div id="product_base_info" class="am-cf" style="margin-top: 15px;padding-left: 90px;">
                                <div class="control-label" style="float: left;width:120px;">
                                    <img class="img" class="am-img-responsive"  src="{$search.main_img}" alt="">
                                </div>
                                <div class="controls" style="margin-left: 125px;">
                                    <p class="pb10" style="margin-top: 8px;">
                                        商品名称 : <font class="font_title">{$search.title}</font> </p>
                                    <p class="pb10">商品链接 :
                                        <input readonly="readonly" style="width:395px" type="text" value="{$search.link}" class="input_url">
                                    </p>
                                    <p>最后更新 : <font class="font_time">{$search.update_time|date='Y-m-d H:i:s',###}</font>  </p>
                                </div>

							</div>
							<div class="control-group am-cf am-margin-top-sm" >
                                <label class="control-label">搜索链接
                                </label>
								<div class="controls">
									<div class="input-append">
										<input style="width:386px; margin-left:20px;" autocomplete="off" ng-model="url" type="text" value="{$search['search_url']}" name="url" id="url" class="ng-valid ng-dirty">
										<input type="button" class="btn" id="parseBtn" value="解析搜索">
									</div>
									<p class="help-block" style="color: red;">如果提示“无法解析此地址”,请更换搜索关键字多次尝试,关键字字数不少于5位</p>
									<p class="help-block">从淘宝/天猫搜索找到对应商品的搜索页面的链接</p>
								</div>
							</div>
						</form>
					</div>


                    <div class="control-group" style="margin-left:103px;">
                        <div id="div_search_result" >
                        </div>
                    </div>

					<div id="sousuo_preview">
						<div>
							<form class="form-horizontal j_search_form jquery-once-1-processed" controller="extend/ajax_form" id="yw0" action="{:U('Home/SJActivity/save')}" method="post" novalidate="novalidate">
								<input type="hidden" value="" name="iscz" id="iscz">
								<input type="hidden" value="{$search['id']}" name="id" id="">
								<input type="hidden" value="{$search['pid']}" name="pid">
								<input type="hidden" value="{$search['search_url']}" name="search_url" />
								<input type="hidden" value="{$search['search_q']}" name="search_q" />
								<input type="hidden" value="{$search['tab']}" name="search_xz" />
                                <input type="hidden" value="{$search['search_order']}" name="search_order" />
                                <input type="hidden" value="{$search['price_min']}" name="price_min" />
                                <input type="hidden" value="{$search['price_max']}" name="price_max" />
                                <input type="hidden" value="{$search['filter']}" name="search_filter" />
                                <input type="hidden" value="{$search['props']}" name="search_props" />
                                <input type="hidden" value="{$search['attr']}" name="search_attr" />
								<div id="div_searchCondition" style="">
									<div class="form-horizontal">
										<div class="control-group">
											<label class="control-label">
												搜索条件
											</label>
											<br>
											<div class="controls">
												<div style="padding: 10px;background: #eee;color:#222;margin-bottom: 20px;">
													<p>打开: <a href="{$url}" target="_blank" >{$url}</a>
													</p>
													<p>搜索关键词: <font class="font_key">{$search['search_q']}</font>
													</p>

                                                    <div class="j_props">
                                                        <volist name="search['attr_list']" id="attr" >
                                                            <div>
                                                                {$attr}
                                                            </div>
                                                        </volist>
                                                    </div>
													<p>选择: <font class="font_tab">{$search['tab']}</font>
													</p>
                                                    <p>排序: <font class="font_order">{$search['search_order']}</font>
                                                    </p>

                                                    <p class="j_price">
                                                        <if condition="$search['price_min'] gt 0 or $search['price_max'] gt 0">
                                                        价格区间: {$search['price_min']}－ {$search['price_max']}
                                                        </if>
                                                    </p>

                                                    <p class="j_filter">
                                                        <notempty name="search['filter']">
                                                        过滤: {$search['filter']}
                                                        </notempty>
                                                    </p>
													<p>一般在前五页即可找到对应商品</p>
												</div>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label">搜索结果</label>

											<div class="controls">
                                                <div class="theme_taobao_item_wrap">
                                                    <div class="j_taobao_item theme_taobao">
                                                        <img class="j_main_img img" src="{$search.main_img}" alt="">
                                                        <div class="row-1">
                                                        <span class="pull-right">XX人付款</span>
                                                        <span class="price">
                                                            <span>¥</span>
                                                            <span class="j_price">{$search.price}</span>
                                                        </span>
                                                        </div>

                                                        <div class="row-2"> <i class="title_msk" style="background: url(__IMG__/title_msk.png) 0 -1px no-repeat;display:block;position:absolute;left:60px"></i>
                                                           <span class="j_title">{$search.title}</span>
                                                        </div>

                                                        <div class="row-3">
                                                            <div class="pull-right">XX XX</div>
                                                            <i class="goods_store"></i><span>
                                                            <if condition=" mb_strlen($search['wangwang']) gt 4">
                                                                {:mb_substr($search['wangwang'],0,1)}
                                                                <i class="ali_wang" style="width: {:(mb_strlen($search['wangwang'])-4)}em" ></i>
                                                                {:mb_substr($search['wangwang'],mb_strlen($search['wangwang'])-3,3)}
                                                                <else/>
                                                                {:mb_substr($search['wangwang'],0,1)}<i class="ali_wang" style="width: 2em" ></i>

                                                            </if>
                                                            </span>
                                                        </div>

                                                        <div class="row-4">
                                                            <i class="pull-right wangwang"></i>
                                                            &nbsp;
                                                        </div>
                                                    </div>
                                                </div>
											</div>
										</div>

									</div>

									<div class="form-actions">
										<button target-form="j_search_form"  class="ajax-post am-btn am-btn-primary" type="submit">保存搜索</button>
									</div>
								</div>
								<div style="padding: 50px;"></div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">


</block>