<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<link rel="stylesheet" href="__CSS__/select2.css">

	<script type="text/javascript" src="__CDN__/select2/4.0.0/js/i18n/zh-CN.js"></script>
	<link type="text/css" rel="stylesheet" href="__CDN__/select2/4.0.0/css/select2.min.css" />
	<style type="text/css">
		.select2-results__options{ background: white;width: 465px;}
			/*.select2-container{ background: white;}
			.select2-dropdown--below{ background: white;}*/
			.select2-search--dropdown{
				width: 465px;
				margin-top: -85px;
				background: white;
			}
	</style>
	

</block>

<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">

					<h1>创建搜索</h1>

					<div class="p20"></div>
					<div>

						<form class="form-horizontal fsw" action="{:U('Home/SJActivity/save')}" method="post" >
							<div class="control-group">
								<label class="control-label" style="line-height: 25px;">搜索类型</label>
								<div class="controls">
									<ul class="nav nav-pills mb0" role="menu">
										<!-- 获取搜索类型 -->
										<li role="menuitem">
											<a tabindex="-1" href="{:U('Home/SJActivity/createsearch')}">关键词</a>
										</li>
										<li role="menuitem"><a tabindex="-1" href="{:U('Home/SJActivity/zdysele')}">自定义</a>
											
										</li>
										<li class="active"><a tabindex="-1" href="{:U('Home/SJActivity/phonesele')}">手机搜索</a>
											
										</li>
										<!--<li visible="1" tooltip="手机关键词仅分配手机任务时可使用" role="menuitem" data-original-title="" title=""><a tabindex="-1" href="#">手机关键词</a>
										</li>
										<li visible="1" tooltip="手机关键词仅分配手机任务时可用" role="menuitem" data-original-title="" title=""><a tabindex="-1" href="#">手机自定义</a>
										</li>-->
									</ul>
								</div>
							</div>
							<input type="hidden" name="pid" id="pid" value="" />
							<div class="control-group">

								<label class="control-label">
									选择商品
								</label>

								<div class="controls">

									<div class="filter-controls pull-left" style="">
										<form action="" class="addToGroupForm" method="post" style="">
											<select style="width:465px;padding: 10px 15px;font-size: 15px;" id="user_select2" name="uid" class="form-control">
												<option></option>
											</select>

										</form>
									</div>
									<span class="help-inline">选择需要优化搜索的商品</span> 
								</div>
								<div id="product_base_info" class="" style="margin-top: 15px; margin-left: 103px;display: none;">
									<div url="#">
										<div class="control-group">
											<div class="control-label" style="float: left;">
												<img width="100" src="" alt=""> </div>
											<div class="controls" style="margin-left: 110px;">
												<p class="pb10" style="margin-top: 8px;">
													商品名称 : <font class="font_title"></font> </p>
												<p class="pb10">商品链接 :
													<input readonly="readonly" style="width:395px" type="text" value="#" class="input_url">
												</p>
												<p>最后更新 : <font class="font_time"></font> </p>
												<input type="hidden" value="38725578272" name="product_id" id="product_id"> </div>
										</div>
									</div>
								</div>
								<br>
								<label class="control-label">
									搜索商品关键字
								</label>

								<div class="controls">
									<input type="text" name="text" id="text" value="" placeholder="请输入搜索的关键字" />
									<br><span style="font-size: 12px; color: #000000;">例如：吊带连衣裙</span>
								</div>
								<br>
								<label class="control-label">
									商品位置
								</label>

								<div class="controls">
									<textarea name="weizhi" rows="6" cols=""></textarea>
									<br><span style="font-size: 12px; color: #000000;">例如： 从上往下-第3个</span>
									<br><span style="font-size: 12px; color: #000000;">例如：第五页地1个</span>
								</div><input type="hidden" name="type" id="type" value="2" />
								<br>
								<div class="am-btn-group">
									<button  class="ajax-post am-btn am-round" type="button"  url="{:U('Home/SJActivity/save')}" target-form="fsw" style="font-family: '微软雅黑'; background-color: #1D99D5; font-size: 14px; width: 150px; color: #FFFFFF; margin-left: 190px;">保存搜索</button>
								</div>
							</div>

						</form>
					</div>
					
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>

<block name="area_footer">
	<script type="text/javascript" src="__CDN__/select2/4.0.0/js/select2.full.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#parseBtn').click(function(){
				var parseUrl=$('#url').val();
				$.ajax({
					cache:false,
					type:"post",
					data:{url:encodeURI(parseUrl)},
					url:"{:U('Tool/RemoteProductParser/read_search',array('r'=>time()))}",
					//url:"{:U('Tool/RemoteProductParser/read_search')}",
					dataType:"json",
					success:function(result){
						if(result.status==0){
							alert(result.info);
						}else{
							$('#div_searchCondition').find('.font_openUrl').html(result.info.url);
							$('#div_searchCondition').find('.font_key').html(result.info.key);
							$('#div_searchCondition').find('.font_tab').html(result.info.tab);
							$('#div_searchCondition').find('.font_order').html(result.info.order);
							
							
							
							var title1=$("#div_searchCondition .font_title1").html().trim();
							var wangwang1=$("#div_searchCondition .font_wangwang").html().trim();
							var result1="未能在结果页面找到对应搜索，提交后需等待客服审核";
							var style1="am-alert-warning";
							//alert(result.info.items);
							for(var i=0;i<result.info.items.length;i++){
								 
								if(title1.indexOf(result.info.items[i].title.trim())!=-1&&result.info.items[i].nick.trim()==wangwang1){
									result1="成功在搜索页找到对应商品,保存搜索后可直接开始使用";
									style1="am-alert-success";
									break;	
								}
								//alert();
							}
							
							$("#div_search_result").append('<div class="am-alert '+style1+'" data-am-alert><button type="button" class="am-close">&times;</button><p>'+result1+'</p></div>');
							
							
							$('#div_searchCondition').show();
						}
						
					}
				});
				
			})
			
			
			
			
			$("#user_select2").select2({
				placeholder: "可输入宝贝名称搜索"	,
				language: "zh-CN",
				ajax: {
				    url: "{:U('SJActivity/select')}",
				    dataType: 'json',
				    delay: 250,
				    data: function (params) {
				    	var queryParameters = {
					      q: params.term
					    }
	    				return queryParameters;
				      
				    },
				    processResults: function (data, page) {
				    	if(!data.info){
				    		data.info = new Array();
				    		data.info['nodata']="无相关数据";
				    	}
				      	// parse the results into the format expected by Select2.
				      	// since we are using custom formatting functions we do not need to
				      	// alter the remote JSON data
				      	return {
				        	results: data.info
				      	};
				    },
				    cache: true
			  	}, 
				  	minimumInputLength: 0,
					templateSelection: function (repo) {
						//var minTitle= repo.title.substring(10);
						if(repo.title!=undefined){
							var minTitle= repo.title.substring(0,20)+"...";
							$("#product_base_info img").attr('src',repo.main_img);
							$("#product_base_info .controls .font_title").html(repo.title);
							     
							$("#product_base_info .controls .font_time").html(new Date(parseInt(repo.update_time) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '));
							$("#product_base_info .controls .input_url").val(repo.link);
							$("#product_base_info").show();
							//alert($("#div_searchCondition .img").size());
							$("input[name='pid']").val(repo.id);
							
							
							$("#div_searchCondition img").attr("src",repo.main_img);
							$("#div_searchCondition .font_title1").html(repo.title);
							$("#div_searchCondition .font_price1").html(repo.price);
							
							$("#div_searchCondition .font_wangwang").html(repo.wangwang.substring(0,3));
							
							
							
							
							return minTitle || repo.text;
						}else{
							return repo.title || repo.text;
						}
		  				
					},
				  templateResult: function (repo) {
				   		//console.info(repo);
	      				if (repo.loading) return repo.text;
						if(repo.nodata) return repo.nodata;
						
						
	//    				var markup = '<div>'+repo.nickname+'</div>';
	      				var markup = '<div><img style="margin-top:5px; height:50px; width:50px" src="'+repo.main_img+'" style="width:50px;height:50px;float:left"/>'+repo.title+'</div>';
	      				return $(markup);
	    			}
			});
			
			
		})
	</script>
</block>