<extend name="template/base_index" />
<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia2.css">
	<style type="text/css">
		.show img {
			width: 80px;
			height: 80px;
			margin-right: 5px;
		}
		.show {
			padding: 10px;
			width: 80%;
			font-size: 12px;
		}
	</style>
</block>
<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">
				<div class="content">
					<h1 style="height: 40px;">
						<div class="pull-right btn-group">
							<button id="luruBtn" class="am-btn am-btn-primary am-btn-xs" style="height: 30px;width: 80px; padding: 0;border-radius: 5px;"onclick="window.location.href='{:U('Home/SJActivity/createsearch')}'" >
								新增搜索
							</button> 
						</div>
						<div class="pull-left">
							搜索方式
						</div>
						<ul class="pull-left taobao-jd">
							<li class="active" >
								<a href="javascript:void(0)">
									淘宝搜索
								</a>
							</li>
						</ul>
					</h1>
					<div class="jquery-once-1-processed">
						<div class="p10">
						</div>
						<script type="text/javascript">
							$(function() {
								$("#ul_start_down li").click(function() {
									$(this).addClass("active").siblings().removeClass("active");
									$(".grid-view").eq($(this).index()).show().siblings().hide();
								})
							})
						</script>
						<ul id="ul_start_down" class="nav nav-tabs" role="menu">

							<li role="menuitem">
								<a tabindex="-1" href="{:U('Home/SJActivity/productsele')}">

									全部

								</a>
							</li>
							<li role="menuitem"  class="active">

								<a tabindex="-1" href="{:U('Home/SJActivity/productonsele')}">

									已启用

								</a>
							</li>
							<li role="menuitem">
								<a tabindex="-1" href="{:U('Home/SJActivity/productunsele')}">

									暂停

								</a>
							</li>
						</ul>
						<div>
							<!-- 全部-->

							<div class="keys" style="display:none" title="/seller/product">

							</div>
							
							
							<!--
                            	作者：99701759@qq.com
                            	时间：2015-10-19
                            	描述：全部
                            -->
							<div class="grid-view" style="display: none;" controller="extend/gridview">
								<table class="items table table-hover">
									<thead>
										<tr>
											
											<th width="120" id="product-grid_c0">
												<a class="sort-link">

													搜索商品

													<span class="caret">

													</span>

												</a>
											</th>
											<th id="product-grid_c1">
												关键字/搜索名称
											</th>
											<th width="120" id="product-grid_c2">
												<a class="sort-link">

													搜索类型

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="120" id="product-grid_c3">
												<a class="sort-link">

													状态

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="100" id="product-grid_c5">
												<a class="sort-link desc">

													最后更新

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="60" id="product-grid_c6">
												操作
											</th>
										</tr>
									</thead>
									<tbody>
										<empty name="pro">
											<tr>
												<td colspan="6">暂无商品信息</td>
											</tr>
											<else/>
											<volist name="pro" id="a">
												<tr class="odd">
													
													<td>
														<div class="p_img">
															<volist name='pros' id='v'>
																<if condition="$a['pid'] eq $v['id']">
																	<img width="56px" height="56px" src="{$v.main_img}" alt="">
																</if>
															</volist>
														</div>
													</td>
													<td>
														<a data-toggle="modal2" modal-title="" >

															<div class="p_title small">
																{$a.search_q}

															</div>
														</a>
													</td>
													<td>
														关键词
													</td>
													<td>
														<if condition="$a['status'] eq 1">正常</if>
														<if condition="$a['status'] eq 0">暂停</if>
														<if condition="$a['status'] eq 2">审核中</if>
														</span>
													</td>
													<td>
														<if condition="$a['status'] eq 1">
															<span class="js_countdownwn" data-until="{$a['update_time'] +5*24*3600}"></span>
														</if>
														<if condition="$a['status'] eq 0">
															不可用
														</if>
														<if condition="$a['status'] eq 2">
															正在审核
														</if>
													</td>
													<td>
														<if condition="$a['status'] eq 1">
															<a tooltip="暂停" class="btn btn-mini" href="{:U('Home/SJActivity/ztsele',array('id'=>$a['id']))}">暂停</a>
															<a tooltip="更新" class="btn btn-mini" href="{:U('Home/SJActivity/upsearch',array('id'=>$a['id']))}">更新</a>
														</if>
														<if condition="$a['status'] eq 0">
															<a tooltip="开启" modal-title="" visible="1" class="btn btn-mini" href="{:U('Home/SJActivity/startsele',array('id'=>$a['id']))}">开启</a>

														</if>
														<if condition="$a['status'] eq 2">
															等待管理员审核
															<!--<a tooltip="开启" modal-title="" visible="1" class="btn btn-mini" href="{:U('Home/SJActivity/startsele',array('id'=>$a['id']))}">开启</a>-->
														</if>
														<span style="height:3px;display:table;">

												</span>

													</td>
												</tr>

											</volist>
										</empty>
									</tbody>
								</table>
							
								<div class="keys" style="display:none" title="#">
								</div>
							</div>
							
							
							<!-- 已启用-->
							<div class="grid-view"  controller="extend/gridview">
								<table class="items table table-hover">
									<thead>
										<tr>
											<th width="120" id="product-grid_c0">
												<a class="sort-link" href="javascript:void(0)">
													搜索商品
													<span class="caret">
													</span>
												</a>
											</th>
											<th id="product-grid_c1">
												关键字/搜索名称
											</th>
											<th width="120" id="product-grid_c2">
												<a class="sort-link" href="javascript:void(0)">

													搜索类型

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="120" id="product-grid_c3">
												<a class="sort-link" href="javascript:void(0)">
													状态
													<span class="caret">
													</span>
												</a>
											</th>
											<th width="100" id="product-grid_c5">
												<a class="sort-link desc" href="javascript:void(0)">
													最后更新
													<span class="caret">
													</span>
												</a>
											</th>
											<th width="60" id="product-grid_c6">
												操作
											</th>
										</tr>
									</thead>
									<tbody>
										<empty name="product">
											<tr>
												<td colspan="6">暂无商品信息</td>
											</tr>
											<else/>
											<volist name="product" id="a">
												<tr class="odd">
													<td>
														<div class="p_img">
															<volist name='pros' id='v'>
																<if condition="$a['pid'] eq $v['id']">
																	<img width="56px" height="56px" src="{$v.main_img}" alt="">
																</if>
															</volist>
														</div>
													</td>
													<td>
														<a data-toggle="modal2" modal-title="" href="javascript:void(0)">
															<div class="p_title small">
																{$a.search_q}
															</div>
														</a>
													</td>
													<td>
														<span data-role="inline_edit" class="inline_edit" fieldid="" fieldname="" required="required" datatype="">关键词</span>
													</td>
													<td>
														<span data-role="inline_edit" class="inline_edit" fieldid="17224" fieldname="weizhi" required="required" method="textarea"><if condition="$a['status'] eq 1">正常</if><if condition="$a['status'] eq 0">暂停</if></span>
													</td>
													<td>
														<if condition="$a['status'] eq 1">
															<span class="js_countdownwn" data-until="{$a['update_time'] +5*24*3600}"></span>
														</if>
														<if condition="$a['status'] eq 0">
															不可用
														</if>
														<if condition="$a['status'] eq 2">
															正在审核
														</if>
													</td>
													<td>
														<a tooltip="更新" class="btn btn-mini" href="{:U('Home/SJActivity/upsearch',array('id'=>$a['id']))}">更新</a>
														<a tooltip="开启" modal-title="" visible="1" class="btn btn-mini" href="{:U('Home/SJActivity/ztsele',array('id'=>$a['id']))}">暂停</a>
														<span style="height:3px;display:table;">
														</span>
													</td>
												</tr>
											</volist>
										</empty>
									</tbody>
								</table>


								<div class="keys" style="display:none" title="javascript:void(0)">

								</div>
							</div>
							<!-- 已启用-->
							<!-- 暂停-->
							<div style="display: none;" class="grid-view" controller="extend/gridview">
								<table class="items table table-hover">
									<thead>
										<tr>
											<th width="120" id="product-grid_c0">
												<a class="sort-link" href="javascript:void(0)">

													搜索商品

													<span class="caret">

													</span>

												</a>
											</th>
											<th id="product-grid_c1">
												关键字/搜索名称
											</th>
											<th width="120" id="product-grid_c2">
												<a class="sort-link" href="javascript:void(0)">

													搜索类型

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="120" id="product-grid_c3">
												<a class="sort-link" href="javascript:void(0)">

													状态

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="100" id="product-grid_c5">
												<a class="sort-link desc" href="javascript:void(0)">

													最后更新

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="60" id="product-grid_c6">
												操作
											</th>
										</tr>
									</thead>
									<tbody>
										<empty name="prduct">
											<tr>
												<td colspan="6">暂无商品信息</td>
											</tr>
											<else/>

											<volist name="prduct" id="a">

												<tr class="odd">
													<td>
														<div class="p_img">
															<volist name='pros' id='v'>
																<if condition="$a['pid'] eq $v['id']">
																	<img width="56px" height="56px" src="{$v.main_img}" alt="">
																</if>
															</volist>
														</div>
													</td>
													<td>
														<a data-toggle="modal2" modal-title="" href="javascript:void(0)">

															<div class="p_title small">
																{$a.search_q}

															</div>
														</a>
													</td>
													<td>
														<span data-role="inline_edit" class="inline_edit" fieldid="" fieldname="" required="required" datatype="">关键词</span>
													</td>
													<td>
														<span data-role="inline_edit" class="inline_edit" fieldid="17224" fieldname="weizhi" required="required" method="textarea"><if condition="$a['status'] eq 1">正常</if><if condition="$a['status'] eq 0">暂停</if></span>
													</td>
													<td>
														<span class="js_countdownwn">不可用</span>
													</td>
													<td>
														<a data-role="delete" tooltip="删除" visible="1" class="btn btn-mini" href="{:U('Home/SJActivity/delsele',array('id'=>$a['id']))}" data-original-title="" title="">
															删除
														</a>
														<a tooltip="开启" modal-title="" visible="1" class="btn btn-mini" href="{:U('Home/SJActivity/startsele',array('id'=>$a['id']))}">
															开启
														</a>
														<span style="height:3px;display:table;">

												</span>

													</td>
												</tr>

											</volist>
										</empty>
									</tbody>
								</table>

							</div>
							<!-- 暂停-->
							

						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
	</div>
</block>
<block name="area_footer">
	<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.countdown.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".js_countdownwn").each(function(index,item){
		    	var thid = $('#thid').val();
		    	var until = $(item).data("until");
		    	until = parseInt(until);
		    	thid = parseInt(thid);
		    	$(item).scojs_countdown({until: until,id:thid});
		    	if($(item).text()==null || $(item).text()==''){
		    		$('.js_countdownwn').text('已过期');
		    	}
		    });
		  
		   	
		})
	</script>
</block>