<extend name="template/base_index" />
<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia2.css">
	<style type="text/css">
        .am-popover{
         font-size: 12px;
        }
		.show img {
			width: 80px;
			height: 80px;
			margin-right: 5px;
		}
		.show {
			padding: 10px;
			width: 80%;
			font-size: 12px;
		}
	</style>
</block>
<block name="area_body">
	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">
				<div class="content">
					<h1 style="height: 40px;">
						<div class="pull-right btn-group">
							<button id="luruBtn" class="am-btn am-btn-primary am-btn-xs" style="height: 30px;width: 80px; padding: 0;border-radius: 5px;"onclick="window.location.href='{:U('Home/SJActivity/createsearch')}'" >
								新增搜索
							</button> 
						</div>
						<div class="pull-left">
							搜索方式
						</div>

					</h1>
					<div class="jquery-once-1-processed">
						<script type="text/javascript">
							$(function() {
								$("#ul_start_down li").click(function() {
									$(this).addClass("active").siblings().removeClass("active");
									$(".grid-view").eq($(this).index()).show().siblings().hide();
								})
							})
						</script>
						<ul id="ul_start_down" class="nav nav-tabs" role="menu">
                            <li role="menuitem" <eq name="type" value="all"> class="active" </eq> >
                            <a tabindex="-1" href="{:U('Home/SJActivity/productsele',array('type'=>'all'))}">
                                全部
                            </a>
                            </li>
                            <li role="menuitem"  <eq name="type" value="on"> class="active" </eq>>
                            <a tabindex="-1" href="{:U('Home/SJActivity/productsele',array('type'=>'on'))}">
                                已启用
                            </a>
                            </li>
							<li role="menuitem"  <eq name="type" value="stop"> class="active" </eq>>
								<a tabindex="-1" href="{:U('Home/SJActivity/productsele',array('type'=>'stop'))}">
									暂停
								</a>
							</li>
						</ul>
						<div>
							<!-- 全部-->

							<div class="grid-view" >
								<table class="items table table-hover">
									<thead>
										<tr>
											
											<th width="120" id="product-grid_c0">
												<a class="sort-link">
													搜索商品
													<span class="caret">
													</span>
												</a>
											</th>
											<th id="product-grid_c1">
												关键字/搜索名称
											</th>
											<th width="120" id="product-grid_c2">
												<a class="sort-link">
													搜索类型
													<span class="caret">
													</span>
												</a>
											</th>

											<th width="120" id="product-grid_c3">
												<a class="sort-link">

													状态

													<span class="caret">

													</span>

												</a>
											</th>
											<th width="100" id="product-grid_c5">
												<a class="sort-link desc">
													最后更新
													<span class="caret">

													</span>

												</a>
											</th>
											<th width="60" id="product-grid_c6">
												操作
											</th>
										</tr>
									</thead>
									<tbody>
										<empty name="list">
											<tr>
												<td colspan="6">暂无商品信息</td>
											</tr>
											<else/>
											<volist name="list" id="vo">
												<tr class="odd">
													<td>
														<div class="p_img">
                                                            <img width="56px" height="56px" src="{$vo.main_img}" alt="">
														</div>
													</td>
													<td>
														<a data-toggle="modal2" modal-title="" >
															<div class="p_title small">
																{$vo.search_q}
															</div>
														</a>
													</td>
													<td>
														{$vo.type_name}
													</td>

													<td class="am-cf ">
														<if condition="$vo['status'] eq 1">启用</if>
														<if condition="$vo['status'] eq 0">暂停</if>
                                                        <if condition="$vo['status'] eq 2">审核中</if>
                                                        <if condition="$vo['status'] eq 3">已驳回</if>
                                                        <if condition=" (time() - $vo['update_time']) gt $expire_time ">
                                                            <div  class="am-text-danger am-text-xs ">
                                                                <small title="不影响已分配任务，但不能分配给新任务">已过期</small>
                                                            </div>
                                                        </if>
													</td>

													<td>
														<if condition="$vo['status'] eq 1">
                                                            {:date('Y-m-d H:i',$vo['update_time'])}
														</if>

                                                        <if condition="$vo['status'] eq 2">
                                                            正在审核
                                                        </if>
                                                        <if condition="$vo['status'] eq 3">
                                                            已驳回
                                                        </if>
													</td>
													<td>
														<if condition="$vo['status'] eq 1">
															<a tooltip="暂停" class="btn btn-mini ajax-get" href="{:U('Home/SJActivity/ztsele',array('id'=>$vo['id']))}">暂停</a>
															<a tooltip="更新" class="btn btn-mini" href="{:U('Home/SJActivity/edit_search',array('id'=>$vo['id']))}">更新</a>
														</if>
														<if condition="$vo['status'] eq 0">
															<a tooltip="开启" modal-title="" visible="1" class="btn btn-mini  ajax-get" href="{:U('Home/SJActivity/startsele',array('id'=>$vo['id']))}">开启</a>

														</if>
                                                        <if condition="$vo['status'] eq 2">
                                                            等待管理员审核
                                                        </if>
                                                        <if condition="$vo['status'] eq 3">
                                                            <a tooltip="更新" class="btn btn-mini" href="{:U('Home/SJActivity/edit_search',array('id'=>$vo['id']))}">重新更新</a>
                                                        </if>
													</td>
												</tr>

											</volist>
										</empty>
									</tbody>
								</table>
								<div class="row-fluid" style="margin-left: -300px;">
									<div class="span6 offset3">
									</div>
									<div class="span3" style="margin: 0 auto; clear: ;">
										<div class="summary" style="width: 500px;">
											{$show}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!-- content -->
			</div>
            <!-- seller_content -->
		</div>
        <!-- seller_content_wrap -->
		<include file='Widget/sjleft' />
	</div>
</block>
<block name="area_footer">
	<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.countdown.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".js_countdownwn").each(function(index,item){
		    	var thid = $('#thid').val();
		    	var until = $(item).data("until");
		    	until = parseInt(until);
		    	thid = parseInt(thid);
		    	$(item).scojs_countdown({until: until,id:thid});
		    	if($(item).text()==null || $(item).text()==''){
//		    		$('.js_countdownwn').text('很久以前');
		    	}
		    });
		  
		   	
		})
	</script>
</block>