<extend name="template/base_index" />

<block name="area_header">

    <link rel="stylesheet" href="__CSS__/common.css?v=__APP_VERSION__">
    <link type="text/css" rel="stylesheet" href="__CDN__/select2/4.0.0/css/select2.min.css" />
    <style type="text/css">
        #begin_time,#end_time,#count{ height: 30px;}
        #yw1 li{list-style-type: none;}
        .input-fix-am{

            width: 200px;
            font-size: 12px;
        }
        .search_form{
            width: 320px;
        }
        .j_content textarea{
            font-size: 12px;
        }
        .task_status_list li{
            float:left;
            margin-left: 10px;
            margin-right: 10px;
        }

        .task_status_list li.active{

            color: #d1343e;
            height: 33px;
            border-bottom: 3px solid #0088cc;
            margin-bottom: -1px;
        }
        .j_sh_id_text{

            font-size: 1.8rem;
            font-weight: 500;
        }
        .select2-dropdown{
            margin-top: -88px;
        }
    </style>
</block>

<block name="area_body">

    <include file='Widget/sjtop' />
    <div class="seller_main clearfix" >
        <div class="seller_content_wrap">

            <div class="seller_content" style="padding-top: 10px;">

                <div class="task-head">
                    <div class="breadcrumbs">
                        <a href="{:U('Home/SJActivity/sj_tbhd')}">淘宝活动</a>&gt;<span>试民：{$task['task_name']}</span>
                    </div>
                </div>

                <div class="search_panel am-cf am-u-g am-padding-sm">
                    <form class="am-form-horizontal am-cf j_search_form" action="__SELF__" method="post">
                        <div class="am-form-group">
                            <a href="{:U('SJActivity/task_play',array('id'=>$task_id))}" class="am-btn am-btn-sm am-btn-default">返回</a>
                        </div>
                        <div class="am-form-group">
                            <select id="user_select2" name="view_uid" style="width:240px;">
                                <option value="{$view_uid}">{$view_uid}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="content am-fl">
                    <div class="renwuku">
                        <div id="yw1" class="grid-view" >
                            <table class="items am-table am-table-hover">
                                <thead>
                                    <tr>
                                        <th width="80"  >编号</th>
                                        <th width="120" >任务试民</th>
                                        <th width="160" >淘宝账号</th>
                                        <th width="160" >任务情况</th>
                                        <th width="160" >最近登录时间</th>

                                        <th width="160" >操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <empty name="list">
                                    <tr>
                                        <td class="am-text-center"  colspan="10">没有相关信息</td>
                                    </tr>
                                </empty>
                                <volist name='list' id='vo'>
                                    <tr class="odd">
                                        <td>
                                            {$vo.uid}
                                        </td>

                                        <td>
                                            <div class="am-cf">
                                                <div class="am-fl">
                                                    <empty name="vo['head']">
                                                        <img class="" style="width: 48px;height:48px;" src="__IMG__/default_user_portrait.gif" alt="">

                                                        <else/>
                                                        <img style="width: 48px;height:48px;" src="{$vo['head']}" >
                                                    </empty>
                                                </div>
                                                <div class="am-fl">{$vo.nickname}</div>
                                            </div>

                                        </td>

                                        <td>
                                            <div>{$vo.taobao_account}</div>
                                        </td>

                                        <td >
                                            <!--<p>已完成任务数: {$vo.done}</p>-->
                                            <p>已取消、放弃数: {$vo.cancel_task_cnt}</p>
                                            <notempty name="vo['_last_get_task']">
                                            最近领取了您的任务:
                                               <div class="am-text-danger">{$vo['_last_get_task']['task_name']}</div>
                                                <div class="am-text-danger">领取时间: {:date("Y-m-d",$vo['_last_get_task']['get_task_time'])}</div>

                                                <else/>

                                            </notempty>
                                        </td>

                                        <td >
                                            {$vo.last_login_time|date='Y-m-d H:i',###}
                                        </td>

                                        <td width="160" >

                                            <a href="{:U('Home/SJActivity/give_task_to',array('task_id'=>$task_id,'uid'=>$vo['uid'],'tp_id'=>$tp_id))}"
                                               class="ajax-get confirm am-margin-bottom-sm btn-fix-am am-btn am-btn-sm am-btn-primary btn-fix-am">
                                                让他做
                                            </a>


                                        </td>

                                    </tr>
                                </volist>
                                </tbody>
                            </table>

                            <div class="am-padding-sm am-margin-bottom-lg">
                                {$show}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <include file='Widget/sjleft' />
    </div>

</block>

<block name="area_footer">

    <script src="__CDN__/select2/4.0.0/js/select2.min.js"></script>
    <script src="__CDN__/select2/4.0.0/js/i18n/zh-CN.js"></script>
    <script type="text/javascript">

        $(function(){

            $("#user_select2").select2({
                placeholder: "输入用户id或用户名查询"	,
                language: "zh-CN",
                ajax: {
                    url: "{:U('Home/TaskHis/ajax_all_users')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var queryParameters = {
                            q: params.term
                        }
                        return queryParameters;

                    },
                    processResults: function (data, page) {
                        if(!data.info){
                            data.info = new Array();
                            data.info['nodata']="无相关数据";
                        }
                        // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data
                        return {
                            results: data.info
                        };
                    },
                    cache: true
                },
                minimumInputLength: 0,
                templateSelection: function (repo) {
                    var selection = repo.nickname || repo.text;
                    if(repo.nickname){

                    }
                    return selection;
                },
                templateResult: function (repo) {

                    if (repo.loading) return repo.text;
                    if(repo.nodata) return repo.nodata;
                    var markup = '<div><img src="'+repo.head+'" style="width:30px;height:30px;"/>[id:'+repo.id+'] '+repo.nickname+'</div>';
                    return $(markup);
                },
            });

            $("#user_select2").change(function(){
                $(".j_search_form").submit();
            })

        })
    </script>
</block>

