<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
    <style type="text/css">
        .table-seller tbody.item tr.margin td{
            background: #F3F9FB;
        }
    </style>
</block>

<block name="area_body">

	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">

			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<div class="jquery-once-1-processed">

						<div style="position: relative">
							<div class="pull-right btn-group"><a data-toggle="modal2" modal-title="创建淘宝活动" style="background-color: #1D99D5; color: #FFFFFF;" class="am-btn am-round" href="{:U('Home/SJActivity/activity_1')}">创建换宝任务</a>
							</div>

                            <ul class="shifu_nav clearfix" style="position: relative;left: 0;width: 600px;">
                                <li><a  href="{:U('Home/SJActivity/sj_tbhd')}">开启中</a></li>
                                <li><a class="am-active am-btn am-btn-default am-btn-sm" href="{:U('Home/SJActivity/sj_tbzt')}">已暂停</a></li>
                                <li><a href="{:U('Home/SJActivity/sj_waiting')}">审核订单</a><font color="red">{$ddsh} </font> </li>
                                <li><a href="{:U('Home/SJActivity/sj_qrhk')}">确认还款</a><font color="red">{$qrhk}</font> </li>
                                <li><a href="{:U('Home/SJActivity/sj_pingtai')}">平台发货</a> </li>
                            </ul>
							<div class="clear"></div>
							<ul id="ul_rw" class="nav nav-tabs nav-store" role="menu">
								
								<li role="menuitem" class="active"><a tabindex="-1" href="{:U('Home/SJActivity/sj_tbzt')}">暂停任务</a>
								</li>
								<!--<li role="menuitem"><a tabindex="-1" href="#">暂停任务</a>
								</li>-->
							</ul>

						</div>
						<script type="text/javascript">
							$(function(){
								$("#ul_rw li").click(function(){
									
									$(this).addClass('active').siblings().removeClass('active');
									$(".grid-view").eq($("#ul_rw li").index($(this))).show().siblings().hide();
								})
								
							})
						</script>
						<div>
							<div class="grid-view" >
                                <table class="items table table-seller">
                                    <thead>

                                    <tr>
                                        <th width="60" ><a class="sort-link" >ID<span class="caret"></span></a>
                                        </th>
                                        <th width="120" >任务名称</th>
                                        <th width="80" >发货模式</th>
                                        <th width="160" >
                                            <a class="sort-link" >链接数<span class="caret"></span>
                                            </a>
                                        </th>
                                        <th width="80" ><a class="sort-link">单份任务金<span class="caret"></span></a>
                                        </th>
                                        <th width="80">冻结金额</th>
                                        <th width="100"><a class="sort-link desc" >创建时间</a>
                                        </th>
                                        <th width="180">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody class="item odd">
                                    <tr class="padding-tr"></tr>
                                    <volist name='task' id='vo' key='s'>
                                        <tr class="list-tr">
                                            <td>{$vo.id}</td>
                                            <td>{$vo.task_name}</td>
                                            <td>
                                                <if condition="$vo['delivery_mode'] eq 1">平台发货</if>
                                                <if condition="$vo['delivery_mode'] eq 2">自主发货</if>
                                            </td>
                                            <td CLASS="am-text-left">
                                                {:count($vo['_products'])}
                                            </td>
                                            <td><span class="price" class="am-btn am-btn-primary">￥{$vo.task_gold}</span>
                                            </td>
                                            <td><span class="muted">
                                                    <empty name="vo['frozen_money']" >
                                                        -
                                                        <else/>
                                                        ￥{$vo.frozen_money}</span>
                                                </empty>
                                            </td>

                                            <td>
                                                <span title="">{$vo.create_time|date='Y-m-d H:i',###}</span>
                                            </td>

                                            <td>
                                                <eq name="user['task_gettype']" value="1">
                                                    <a href="{:U('Home/SJActivity/task_play',array('id'=>$vo['id']))}" class=" am-round am-btn-sm am-btn-primary am-btn">发放任务</a>
                                                    <else/>
                                                    <a href="{:U('Home/SJActivity/sh_user',array('id'=>$vo['id']))}" class=" am-round am-btn-sm am-btn-primary am-btn">审批用户</a>
                                                </eq>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">
                                                {$key+1}
                                            </td>
                                            <td colspan="2">
                                                <volist name="vo['_products']" id="p">
                                                    <div class="am-fl am-margin-right-sm">
                                                        <img src="{$p.main_img}" alt="任务商品图片" class="am-img-responsive am-radius" style="width: 40px;height:40px;"/>
                                                    </div>
                                                </volist>
                                            </td>
                                            <td>
                                                <a  class="am-btn-sm am-btn-link am-btn" target="_blank" href="{:U('Home/SJActivity/rws',array('pid'=>$p['pid'],'id'=>$vo['id']))}">预览任务书</a>
                                            </td>
                                            <td colspan="1">
                                                <span class="">总份数: {$vo._all_task}</span>
                                                <BR/>
                                                <span class="">任务中: {$vo._doing_task}</span>
                                                <BR/>
                                                <span class="">已完成: {$vo._done_task}</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <a  class="am-btn-sm am-btn-link am-btn ajax-get"  href="{:U('Home/SJActivity/zanting',array('id'=>$vo['id']))}">暂停任务</a>
                                                <BR/><a  class="am-btn-sm am-btn-link am-btn"  href="{:U('Home/SJActivity/alluser',array('id'=>$vo['id']))}">任务用户</a>
                                            </td>
                                        </tr>
                                        <tr class="margin">
                                            <td colspan="8">

                                            </td>
                                        </tr>

                                    </volist>
                                    </tbody>
                                </table>
								<div class="row-fluid">
									<div class="span6 offset3"></div>
									<div class="span3">{$show}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$("button[name='task_play']").click(function(){
				
				alert($(this).index($("button[name='task_play']")));
			})
		})
	</script>
</block>