<extend name="template/base_index" />

<block name="area_header">
	<!--<link rel="stylesheet" href="__CSS__/shangjia.css">-->
    <link rel="stylesheet" href="__CSS__/common.css">
    <style type="text/css">
        .table-seller tbody.item tr.margin td{
            background: #F3F9FB;
        }
        .task_status_list li{
            float:left;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</block>

<block name="area_body">

	<include file='Widget/sjtop' />
	<div class="seller_main clearfix">
		<div class="seller_content_wrap">

			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<div class="jquery-once-1-processed">

						<div style="position: relative">

							<div class="btn-group am-cf">
                                <a data-toggle="modal2" class="am-btn am-btn-sm am-btn-primary btn-fix-am" href="{:U('Home/SJActivity/activity_1')}">创建淘宝任务</a>
							</div>

                            <hr/>

                            <div class="filter-controls am-fl am-padding-sm">
                                <form method="post" class="j_task_form" action="{:U('Home/SJActivity/sj_tbhd')}">
                                    <div class="am-form-group">
                                    <select name="task_status" class="j_task_status ">
                                        <option <eq name="task_status" value="open">selected</eq> value="open">已开启任务</option>
                                        <option <eq name="task_status" value="pause">selected</eq>  value="pause">已暂停任务</option>
                                        <option <eq name="task_status" value="over">selected</eq>  value="over">已结算任务</option>
                                    </select>

                                    </div>
                                </form>
                            </div>

                            <div class=" am-fl am-padding-sm">
                                <ul class="task_status_list" style="list-style-type: none;position: relative;">
                                    <li><a class="active" href="{:U('Home/TaskHis/all')}">任务试民</a></li>
                                    <li><a href="{:U('Home/TaskHis/all',array('status'=>'wait_check'))}">
                                        审核订单
                                        <if condition="$count['submit'] gt 0">
                                            <span class="am-text-danger">{$count['submit']}</span>
                                        </if>
                                    </a></li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/all',array('status'=>'wait_return_money'))}">
                                            确认还款
                                            <if condition="$count['wait_ret_money'] gt 0">
                                                <span class="am-text-danger">{$count['wait_ret_money']}</span>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/all',array('status'=>'delivery_platform'))}">
                                            平台发货
                                            <if condition="$count['platform'] gt 0">
                                                <span class="am-text-danger">{$count['platform']}</span>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/all',array('status'=>'user_receive'))}">
                                            试民收货
                                            <if condition="$count['wait_receive'] gt 0">
                                                <span class="am-text-danger">{$count['wait_receive']}</span>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/all',array('status'=>'not_start'))}">
                                            未开始
                                            <if condition="$count['not_start'] gt 0">
                                                <span class="am-text-danger">{$count['not_start']}</span>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/all',array('status'=>'reject'))}">
                                            已驳回
                                            <if condition="$count['reject'] gt 0">
                                                <span class="am-text-danger">{$count['reject']}</span>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        &nbsp;
                                    </li>
                                    <li>
                                        <a href="{:U('Home/TaskHis/history')}">
                                        历史订单
                                        </a>
                                    </li>
                                </ul>
                            </div>

						</div>
						<div>
							<div class="grid-view">
								<table class="am-table am-table-bordered am-table-hover am-table-striped items table table-seller">
									<thead>
										
										<tr>
											<th width="60" >
                                                ID
											</th>
											<th width="120" >任务名称</th>
											<th width="80" >发货模式</th>
											<th width="160" >
                                                链接数
											</th>
											<th width="80" >
                                                单份任务金
											</th>
											<th width="80">冻结金额</th>
											<th width="100">
                                                创建时间
											</th>
											<th width="180">操作</th>
										</tr>
									</thead>

									<tbody class="item odd">
										<tr class="padding-tr"></tr>
                                        <empty name="task">
                                            <tr>
                                                <td  colspan="8" class="am-text-center">没有相关信息</td>
                                            </tr>
                                        </empty>

										<volist name='task' id='vo' key='s'>
											<tr class="list-tr">
												<td>{$vo.id}</td>
												<td>{$vo.task_name}</td>
												<td>
													<if condition="$vo['delivery_mode'] eq 1">平台发货</if>
													<if condition="$vo['delivery_mode'] eq 2">自主发货</if>
												</td>
                                                <td CLASS="am-text-left">
                                                    {:count($vo['_products'])}
                                                </td>
												<td><span class="price" class="am-btn am-btn-primary">￥{$vo.task_gold}</span>
												</td>
												<td><span class="muted">
                                                    <if condition="$vo['frozen_money'] gt 0" >
                                                        ￥{$vo.frozen_money}
                                                        <else/>
                                                        -
                                                    </if>
                                                        </span>
												</td>

												<td>
                                                    <span title="">{$vo.create_time|date='Y-m-d H:i',###}</span>
												</td>

												<td>

                                                    <eq name="vo['task_status']" value="1">
                                                    <eq name="user['task_gettype']" value="1">

                                                        <div class="am-btn-group">
                                                            <a href="{:U('Home/SJActivity/task_play',array('id'=>$vo['id']))}" class="am-btn-sm am-btn-primary am-btn btn-fix-am">发放任务</a>
                                                            <div class="am-dropdown" data-am-dropdown>
                                                                <button class="am-btn am-btn-secondary am-dropdown-toggle  btn-fix-am" data-am-dropdown-toggle> <span class="am-icon-caret-down"></span></button>
                                                                <ul class="am-dropdown-content">
                                                                    <li class="am-dropdown-header">
                                                                        <a CLASS="am-btn-sm " href="{:U('Home/SJActivity/task_clear',array('id'=>$vo['id']))}">结算</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <else/>
                                                        <a href="{:U('Home/SJActivity/sh_user',array('id'=>$vo['id']))}" class="am-btn-sm am-btn-primary am-btn  btn-fix-am">审批用户</a>
                                                        <div class="am-dropdown" data-am-dropdown>
                                                            <button class="am-btn am-btn-secondary am-dropdown-toggle  btn-fix-am" data-am-dropdown-toggle> <span class="am-icon-caret-down"></span></button>
                                                            <ul class="am-dropdown-content">
                                                                <li class="am-dropdown-header">
                                                                    <a CLASS="am-btn-sm " href="{:U('Home/SJActivity/task_clear',array('id'=>$vo['id']))}">结算</a>
                                                                </li>
                                                            </ul>
                                                        </div>


                                                    </eq>
                                                        <else/>
                                                        <a CLASS="am-btn-sm am-btn-primary am-btn  btn-fix-am" href="{:U('Home/SJActivity/task_clear',array('id'=>$vo['id']))}">结算记录</a>

                                                    </eq>
                                                </td>
											</tr>
                                            <tr>
                                                <td colspan="1">

                                                </td>
                                                <td colspan="2">
                                                    <volist name="vo['_products']" id="p">
                                                    <div class="am-fl am-margin-right-sm">
                                                        <img src="{$p.main_img}" alt="任务商品图片" class="am-img-responsive am-radius" style="width: 40px;height:40px;"/>
                                                    </div>
                                                    </volist>
                                                </td>
                                                <td>
                                                    <a  class="am-btn-sm am-btn-link am-btn" target="_blank" href="{:U('Home/SJActivity/rws',array('pid'=>$p['pid'],'id'=>$vo['id']))}">预览任务书</a>
                                                </td>
                                                <td colspan="1">
                                                    <span class="">总份数: {$vo._all_task}</span>
                                                    <BR/>
                                                    <span class="">任务中: {$vo._doing_task}</span>
                                                    <BR/>
                                                    <span class="">已完成: {$vo._done_task}</span>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                    <eq name="task_status" value="1">
                                                    <a  class="am-btn-sm am-btn-link am-btn ajax-get"  href="{:U('Home/SJActivity/zanting',array('id'=>$vo['id']))}">暂停任务</a>
                                                        <BR/></eq><a  class="am-btn-sm am-btn-link am-btn"  href="{:U('Home/SJActivity/alluser',array('id'=>$vo['id']))}">任务用户</a>
                                                </td>
                                            </tr>
                                            <tr class="margin">
                                                <td colspan="8">

                                                </td>
                                            </tr>

										</volist>
									</tbody>
								</table>
								<div class="row-fluid">
									<div class="span6 offset3"></div>
									<div class="span3">{$show}</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Widget/sjleft' />
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
            $(".j_task_status").change(function(){
                $(".j_task_form").submit();
            });

			$("button[name='task_play']").click(function(){
				
				alert($(this).index($("button[name='task_play']")));
			})
		})
	</script>
</block>