<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia2.css">
	<style type="text/css">
		#begin_time,#end_time,#count{ height: 30px;}
		#yw1 li{list-style-type: none;}
        body{
            font-size: 10px;
        }
        .am-modal select{
            font-size: 10px;
        }

	</style>
</block>

<block name="area_body">

	<include file='Widget/sjtop' />
	<div class="seller_main clearfix" >
		<div class="seller_content_wrap">

			<div class="seller_content" style="padding-top: 10px;">

					<div class="task-head">
						<div class="breadcrumbs">
							<a href="{:U('Home/SJActivity/sj_tbhd')}">淘宝活动</a>&gt;<span>任务计划管理：{$task['task_name']}</span>
						</div>
					</div>

					<div class="content">

						<div class="renwu-head">
							<ul class="product-image">
								<volist name='products' id='vo' >
                                    <li><img width="75px" height="75px" src="{$vo['main_img']}" class="gray" ></li>
								</volist>
							</ul>
							<div class="task-tongji">
								<div class="tongji">
									<span>总份数:<i>{$all_plan_total}</i></span>
									<span>任务中:<i>{$doing_cnt}</i></span>
                                    <span>已完成:<i>{$done_cnt}</i></span>
                                    <span>其它:<i>{$other_cnt}</i></span>
									<span style="margin-left: 20px;">单份任务金:<i>{$task['task_gold']}</i>元</span>
								</div>
								
							</div>

							<div class="option">
								<a class="btn btn-renwu" modal-title="发放任务" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 750, height:500}" href="javascriot:void(0)">发放任务</a> </div>

						</div>

						<div class="renwuku jquery-once-1-processed">
							<div id="yw1" class="grid-view">
								<table class="items table table-hover">
									<thead>
										<tr>
											<th width="120" class="text-center" id="yw1_c2">模式限定</th>
											<th width="120" class="text-center" id="yw1_c4">领取状况</th>
											<th class="text-center" width="220" id="yw1_c5">
                                                任务时间
											</th>
											<th width="80" id="yw1_c6">操作</th>
										</tr>
									</thead>
									<tbod y>
										<volist name='plan_list' id='vo'>
										<tr class="odd">
                                            <td>
                                                {:getEnterWay($vo['enter_way'])}
                                            </td>
											<td class="text-center">
												<div>
													<div class="small muted">未分配：<i id="wfp">{$vo.yuecount}</i>
													</div>
													<div class="small muted">总份数：<i id="zfs">{$vo.task_cnt}</i>
													</div>
												</div>
                                            </td>
											<td class="text-center">
												<div class="small">
													<div class="inline-block" >{$vo.start_time|date='Y-m-d H:i',###} 到 {$vo.end_time|date='Y-m-d H:i',###}</div>

													<div class="inline-block" style="vertical-align:-3px;">
                                                        <a data-toggle="modal2" href="javascript:void(0)">
                                                            <i class="s_icon edit1"></i>
                                                        </a>
													</div>
												</div>
											</td>
											<td>
												<div class="renwu-caozuo small">
                                                    <a target="_blank" href="{:U('Home/SJActivity/alluser',array('id'=>$tp['task_id']))}">查看试民</a>
													<br>
                                                    <a class="j_update_task" data-task-count="{$vo.task_cnt}" data-task-id="{$vo.id}" href="javascript:void(0)">修改任务信息</a>


												</div>&nbsp;
                                            </td>
										</tr>
										</volist>
									</tbody>
								</table>
								<div class="row-fluid">
									<div class="span6 offset3"></div>
									<div class="span3">
										<div class="summary">{$show}</div>
									</div>
								</div>

							</div>
						</div>
	
					</div>
				</div>
			</div>
			<include file='Widget/sjleft' />
		</div>


		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog" style="border-radius: 5px;">
                <div class="am-modal-hd" style="border-bottom: 1px solid #ccc; text-align: left;font-size:18px;">
                    <font color="orangered">发放任务</font>
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>
                        &times;
                    </a>
                </div>
                <div class="am-modal-bd">
                    <form action="{:U('Home/SJActivity/create_tp')}" class="createfm am-form am-form-horizontal" method="post">
                        <input type="hidden" name="tid" id="tid" value="{$task['id']}" />
                        <input type="hidden" id="defray" name="defray" value="0" />

                        <div class="am-form-group am-g">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label">对应任务</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left">
                                {$task['task_name']}, 单份任务金{$task['task_gold']} = 下单金额: {$task['task_brokerage']} + 邮费：{$task['task_postage']}
                            </div>
                        </div>
                        <div class="am-form-group am-g">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label ">对应任务</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left">
                                {$task['task_name']}
                            </div>
                        </div>

                        <div class="am-form-group am-g">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label">进店方式</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left">
                                <select name="sele_type" class="am-form-field">
                                    <option value="0">不限</option>
                                    <option value="1">搜索模式（试民通过搜索进入店铺）</option>
                                    <option value="2">老客户模式（试民通过收藏夹或购物车进入店铺）</option>
                                    <option value="3">手机搜索（试民通过手机搜索商品进入店铺）</option>
                                </select>

                            </div>
                        </div>

                        <div class="am-form-group am-datepicker-date">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label">生效时间</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left am-cf">

                                <input type="text" class="am-fl" style="width:160px;" data-am-datepicker readonly  name="stime" value="{:date('Y-m-d',time())}">
                                <div class="am-fl">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
                               <input type="text" class="am-fl"  style="width:160px;" name="etime" data-am-datepicker readonly value="{:date('Y-m-d',time()+24*3600*7)}" />

                            </div>
                        </div>
                        <div class="am-form-group am-g">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label">发放份数</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left">
                                <input type="text" name="count" id="count" value="" />&nbsp;&nbsp;
                                您的账户余额：<font color="orangered">{$user.coins}</font>
                            </div>
                        </div>
                        <div class="am-form-group am-g">

                            <label class="am-u-lg-2 am-u-md-2 am-form-label">&nbsp;</label>

                            <div class="am-u-lg-10 am-u-md-10">
                                <a href="{:U('Home/SJActivity/create_tp')}" target-form="createfm" class="ajax-post am-btn am-btn-sm am-btn-primary">
                                    保存
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

					
        <!--修改任务时间-->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="update_modal">
            <div class="am-modal-dialog" style="border-radius: 5px;border-bottom: 1px solid #ccc;">
                <div class="am-modal-hd" style="font-size:12px;">
                    修改任务
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>
                        &times;
                    </a>

                </div>
                <div class="am-modal-bd">

                    <form class="fm j_update_time_form am-cf" action="{:U('Home/SJActivity/uptime')}" method="post">

                        <input type="hidden" name="task_id" class="j_task_id" />

                        <div class="am-form-group am-cf">
                            <label class="am-u-lg-3 am-u-md-3 am-form-label">任务份数</label>
                            <div class="am-u-lg-9 am-u-md-9 am-text-left am-cf">
                                <input type="text"  name="rwcount" class="j_rwcount" value="" />
                            </div>
                        </div>

                        <div class="am-form-group am-cf am-datepicker-date">
                            <label class="am-u-lg-3 am-u-md-3 am-form-label">生效时间</label>
                            <div class="am-u-lg-9 am-u-md-9 am-text-left am-cf">
                                <input type="text" class="am-fl" style="width:160px;" data-am-datepicker readonly  name="stime" value="{:date('Y-m-d',time())}">
                                <div class="am-fl">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
                                <input type="text" class="am-fl"  style="width:160px;" name="etime" data-am-datepicker readonly value="{:date('Y-m-d',time()+24*3600*7)}" />

                            </div>
                        </div>
                        <div class="am-form-group  am-cf">
                            <label class="am-u-lg-2 am-u-md-2 am-form-label">&nbsp;</label>
                            <div class="am-u-lg-10 am-u-md-10 am-text-left am-cf">
                                <a href="{:U('Home/SJActivity/uptime')}" target-form="j_update_time_form"  class="am-btn am-btn-sm am-btn-primary ajax-post ">确认</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <!--修改任务时间-->
</block>

<block name="area_footer">
	<script type="text/javascript">



		$(function(){

            $(".j_update_task").click(function(ev){
                var task_id = $(ev.target).data('task-id');
                var task_count = $(ev.target).data('task-count');


                $("#update_modal").modal();

                $("#update_modal .j_update_time_form .j_task_id").val(task_id);
                $("#update_modal .j_update_time_form .j_rwcount").val(task_count);

            })


			var zrwj= $('#zrwj').text();
			var ysyf= $('#ysyf').text();
			var xdje= Number(zrwj)-Number(ysyf);
			$('#xdje').text(xdje);
			$("#addok").click(function(){
				var btime=$('#begin_time').val();
				var etime=$('#end_time').val();
				var count=$('#count').val();
				var sum=Number(count)*Number(zrwj);
				
				if(count=='' || btime=='' || etime==''){
					alert('请填写完整信息！');
					return false;
				}else{
					if('{$money}'<sum){
						alert('您的余额不足以支付任务佣金');
						return false;
					}else{
						$('#zong').val(sum);
						return true;
					}
				}
			});

		})
	</script>
</block>

